@import "partials/variables";

/* top-grn-strip starts */

.top-grn-strip {
	font-family:"Poppins", sans-serif;
	min-height: 70px;
	color: #fff;
	padding: 0 30px;
	align-items: center;
	background:$primary-color;
	label {
		font-size: 16px;
		width: 100%;
		margin: 0;
	}
	
	.log-out {flex-shrink:0;}
	
	span {
		font-size: 14px;
	}
	
		@media (max-width: 840px) {
		flex-direction: column;
		padding: 15px 20px 15px 20px;
		
		.col-sm-6 {padding:0;}
		
		
		}
	
}

//login-profile drop down //

.d-flex.top-profile-gadgets {
	align-items: center;
	justify-content: flex-end;
	.dropdown-toggle::after {
		display: none;
	}
	
	@media (max-width: 840px) {
	justify-content: space-between;
    align-items: center;
    margin: 15px 0 0;
	
		.login-profile {
			background: none;
			align-items: center;
			padding: 0;
			margin: 0;
		}
		
		.notifications {
			margin: 0 15px 0 0;
			flex-shrink: 0;
			order: 3;
		}
	
	button#dropdownMenuButton {padding:0;}
	
	}
	
}

.notifications {
		position: relative;
		margin: 0 35px 0 0;
		flex-shrink:0;
	
	span {
		background: #DE1818;
		border-radius: 100%;
		width: 16px;
		height: 16px;
		display: flex;
		color: #fff;
		align-items: center;
		justify-content: center;
		font-size: 8px !important;
		position: absolute;
		top: -3px;
		padding: 11px;
		right: -14px;
	}
}

.login-profile {
	background: none;
	align-items: center;
	padding: 0;
	margin: 0;
	&:focus,
	&:active {
		outline: 0 !important;
		box-shadow: none !important;
	}
	img {
		border: 1px solid #fff;
		border-radius: 0;
		max-width: 45px;
		height: 45px;
		padding: 0;
		margin: 0 10px 0 0;		
		border-radius: 100%;
		overflow: hidden;
		flex-shrink: 0;
		
			@media (max-width: 840px) { 
				max-width: 35px;
				height: 35px;	
			
			}
	}
	.info {
		color: #fff;
		font-size: 15px;
		font-weight: 600;
		text-align: left;
		line-height: 18px;
		position: relative;
		margin: 0 10px 0 0;
		width: 100%;
		padding: 0 25px 0 0;
		&:focus,
		&:active {
			outline: 0 !important;
			box-shadow: none !important;
		}
		&:before {
			content: "";
			position: absolute;
			width: 10px;
			height: 11px;
			border-bottom: 2px solid #fff;
			border-right: 2px solid #fff;
			right: 0;
			transform: rotate(45deg);
			border-radius: 1px;
			bottom: 0;
			top: 0;
			margin: auto;
		}
		span {
			opacity: 0.6;
			font-size: 13px;
			font-weight: 200;
			width: 100%;
			float: left;
		}
	}
	.info.blck {
		color: #111214;
		&:before {
			border-bottom: 2px solid #111214;
			border-right: 2px solid #111214;
		}
	}
}

.profile-menu-list {
	position: absolute;
	right: 0;
	left: auto;
	top: 50px;
	border-radius: 0;
	border: 0;
	font-size: 15px;
	border-radius: 7px;
	width: 100%;
	padding: 0;
	margin: 0;
	top: auto;
	overflow: hidden;
	margin: 15px 0 0 0;
	box-shadow: 0 0 10px #15141417;
	.dropdown-toggle {
		width: 100% !important;
	}
	.dropdown-item {
		display: block;
		width: 100%;
		padding: 16px 15px;
		clear: both;
		color: #555;
		font-weight: 400;
		border-bottom: 1px solid #eee;
		background: #fff;
		font-size: 12px;
		border-bottom: 1px solid #eee;
		background: #fff;
		img {
			filter: grayscale(100%);
			opacity: 0.5;
		}
		&:hover {
			color: #219B70;
			background: #fff;
			img {
				filter: grayscale(0%);
				opacity: 1;
			}
		}
		&:last-child {
			border-bottom: none;
		}
	}
	i {
		position: absolute;
		right: 15px;
		img {
			max-width: 20px;
			margin: auto;
			top: 0;
			bottom: 0;
			height: auto;
		}
	}
	.login-profile.show .info:before {
		transform: rotate(-135deg);
	}
}

button#dropdownMenuButton {
	outline: 0 !important;
	box-shadow: none !important;
	border: 0 !important;
	background: none;
	align-items: center;
}

/* top-grn-strip ends */
