@media (max-width:1679px)
{
    .right-panel-section .navbarOtr .right-hed .imgNoti img {
        height: 21px;
    }
    .side-nav.expandnavbar .navList li .dropdown-menu .dropdown-item {
        padding-left: 16px;
    }
    .nav-drp i.fas.fa-chevron-down {
        font-size: 12px;
        margin-left: 8px;
    }
    .side-nav .navList li .dropdown-menu .dropdown-item {
        padding-left: 40px;
    }
    h3.mainHead
	{
		font: 600 17px/30px "inter", sans-serif;
	}
    .right-nav .navbarOtr .right-hed .imgNoti img {
        height: 23px;
    }
    // .right-nav {
    //     width: calc(100% - 220px);
    //     margin-left: 220px;
    // }
    .right-panel-section .navbarOtr .right-hed .profileImg .dropdown-menu {
        min-width: 130px;
        top: 45px;
    }
    .right-panel-section .navbarOtr .right-hed .profileImg .dropdown-item {
        font: 500 13px/20px "inter", sans-serif;
        padding: 3px 17px;
    }
    .right-panel-section .navbarOtr .right-hed .imgNoti span.notifyTxt
    {
        width: 14px;
        height: 14px;
        font: 400 11px/14px "inter", sans-serif;
    }
    .right-panel-section .navbarOtr .right-hed .profileImg .nav-link
    {
        font: 500 12px/18px "inter", sans-serif;
    }
    .right-panel-section .navbarOtr .right-hed .profileImg .profileImgSec {
        width: 35px;
        height: 35px;
    }
    .side-nav.expandnavbar
    {
        width: 60px !important;
    }
    .right-panel-section.expandnavbarr
    {
        margin-left: 60px !important;
    }
    // .side-nav
    // {
    //     width: 220px !important;
    // }
    .right-panel-section {
        // margin-left: 220px !important;
    }
    
    .side-nav .navbar-brand
    {
        padding: 0px 0px 0px 25px;
        height: 54px;
    }
    .right-panel-section .navbarOtr .navmenuIcon i {
        font-size: 18px;
    }
    .side-nav .navbar-brand .navclose
    {
        top: 5px;
    }
    .right-nav .navbarOtr .navmenuIcon i
    {
        font-size:20px;
    }
    .side-nav footer span
    {
        font: 400 12px/16px "inter", sans-serif;
    }
    .right-panel-section .CollectionManagement {
        // padding: 0px 23px;
        // padding-top: 20px;
    }
    .side-nav .navList
    {
        margin-top: 18px;
    }
    .right-panel-section .navbarOtr .navbar-expand-lg
    {
        padding: 5px 5px;
    }
    .right-panel-section .CollectionManagement .table-top-menu .outer-sec-menu .otr-listing .bread-crumb li .main-entity {
        margin-right: 5px;
        font: 500 13px/20px "inter", sans-serif;
    }
    .right-panel-section .CollectionManagement .table-top-menu .outer-sec-menu .right-list .search input
    {
        font: 400 13px/17px "inter", sans-serif;
        height: 31px;
        i
        {
            font-size: 13px;
        }
    }
    .right-panel-section .CollectionManagement .table-top-menu .outer-sec-menu .right-list .button-add button
    {
        padding: 5px 12px;
        font-size: 13px;
    }
}
@media (max-width:1440px)
{
    // .side-nav .navList li .open-menu {
    //     padding: 10px 10px 10px 15px;
    // }
    ul.navbar-nav.ml-auto.right-hed
    {
        display: flex;
    flex-direction: row;
    }
}
@media (max-width:1199px)
{
    .navbarOtr
    {
        .navbar-collapse
        {
            display: flex;
        }
    }
    .navbar-nav .dropdown-menu
    {
             position: absolute !important;
    }
}
@media (max-width:1000px)
{
    .right-nav .navbarOtr .right-hed .profileImg .dropdown-menu {
        min-width: 147px;
        top: 54px;
        left: 9px;
    }
    .right-nav .navbarOtr .navbar-expand-lg
    {
        flex-wrap: nowrap;
    }
}
@media (max-width:991px)
{
    .right-nav .navbarOtr .right-hed .imgNoti {
        margin-right: 15px;
    }
}
@media (max-width:900px)
{
    .right-nav .navbarOtr .navbar-expand-lg .navbar-collapse {
        border-bottom: none !important;
    }
    .right-nav .navbarOtr .left-hed {
        display: none !important;
    }
    .right-panel-section .CollectionManagement {
        padding: 10px 15px !important;
    }
    .right-nav .navbarOtr {
        border-top-left-radius: 0;
    }
    .right-nav .navbarOtr .navbar-expand-lg {
        padding: 0 25px 0;
        border-bottom: 1px solid #e5e5e5;
    }
    .side-nav .navbar-brand .navclose {
        display: none !important;
    }
    .navmenuIcon.close-nav
    {
        display:none !important;
    }
    .right-panel-section .CollectionManagement .table-top-menu .outer-sec-menu
    {
        flex-wrap: wrap;
    }
    h3.mainHead {
        font: 600 15px/26px "inter", sans-serif;
    }
    .right-nav .navbarOtr .right-hed .profileImg .nav-link
    {
        font-size:12px;
    }
    .right-nav .navbarOtr .right-hed .profileImg .dropdown-item {
        font: 500 12px/20px "inter", sans-serif;
    }
    .right-nav .navbarOtr .right-hed .profileImg .dropdown-menu {
        min-width: 132px;
        top: 44px;
    }
    .navmenuIcon-mob.close-nav
    {

        display: block;
        position: absolute;
        right: 12px;
        top: 3px;
        cursor: pointer;
        i {
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #fff;
        }
    }
    .right-nav .navbarOtr .navmenuIcon i,.navmenuIcon-mob i {
        font-size: 18px;
    }
    .side-nav
    {
        // width: 100% !important;
        // height: auto;
        // margin-top: 67px;
        border-top: 1px solid #fbfafa;
        box-shadow:3px 4px 4px -2px #cccccc9c;
        padding: 16px 0px 0px 0px;
    }
    .side-nav footer {
        margin-top: auto;
        padding: 16px 15px 18px;
    }
    .side-nav .navbar-brand
    {
        // display:none;
    }
    .right-nav
    {
        margin-left:0px;
        width:100%;
    }
    .logo-expand
    {
        img
        {
            height:50px;
        }
    }
    .right-nav .logo-expand,.right-nav .navbarOtr .navmenuIcon {
        display: block;
    }
    .right-panel-section
    {
        margin-left:0px !important;
    }
    .side-nav
    {
        // display:none !important;
    }
    .side-nav.nav-hover
    {
        // display:block !important;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .side-nav .navList {
        margin-top: -14px;
    }
}
@media (max-width:680px)
{
    ul.navbar-nav.mr-auto.left-hed
    {
        display:none;
    }
    h3.mainHead {
        font: 600 16px/24px "inter", sans-serif !important;
        padding: 10px 0px !important;
    }
    .right-nav .navbarOtr .right-hed .profileImg .profileImgSec {
        width: 35px;
        height: 35px;
    }
    .right-nav .navbarOtr .right-hed .profileImg .nav-link
    {
        font: 500 12px/20px "inter", sans-serif;       
    }
    .right-nav .navbarOtr .right-hed .imgNoti img {
        height: 20px;
    }
    .right-nav .navbarOtr .navbar-expand-lg .smallLogo img {
        max-height: 31px;
        margin-right: 48px;
        margin-left: -3px;
        margin-top: -2px;
    }
}
@media (max-width:600px)
{
    // .right-panel-section .CollectionManagement .table-top-menu .outer-sec-menu
    // {
    //     flex-direction: column; 
    // }
    .right-panel-section .CollectionManagement .table-top-menu .outer-sec-menu .right-list .search
    {
        width:100%;
        margin-right: 0;
        height: 28px;
    }
    .right-panel-section .CollectionManagement .table-top-menu .outer-sec-menu .right-list .search input
    {
        width: 95%;
    }
    h3.mainHead
    {
        padding: 6px 0 !important;
        
    }
   
    .right-list.d-flex
    {
        flex-wrap: wrap;
        .button-add
        {
            width: 100%;
            text-align: right;
            margin-top: 13px;
            
        }
    }

    .categoryManagement .table-top-menu .outer-sec-menu,
    .CollectionManagement .table-top-menu .outer-sec-menu,
    .invitationsSec .table-top-menu .outer-sec-menu,
    .roleManagementSec .table-top-menu .outer-sec-menu,
    .StaffManagementSec .table-top-menu .outer-sec-menu,
    .CollectionManagement .table-top-menu .outer-sec-menu,
    .UserManagementSec .table-top-menu .outer-sec-menu {
        flex-direction: column;
    }
}
@media (max-width:500px)
{
    .right-panel-section .CollectionManagement .table-top-menu .outer-sec-menu .right-list .search input {
        width: 90%;
    }
}
