body {
	background: #F6F9FB;
}
.right-panel-section {
	position: relative;
	margin-left: 300px;
	width: calc(100% - 300px);
	flex-grow: 1;
	@media (min-width: 902px) {  
     margin-top: 85px;   
    }
	@media (max-width:1450px) {
		margin-left: 275px;
		width: calc(100% - 275px);
	}
	@media (max-width: 901px) {
		width: 100%;
		margin-left:0;
		margin-top: 0 !important;
	}
	@media (max-width: 991px) {
		margin-top: 80px;
	}
	&.expandRightPanel {
		margin-left: 100px;
		width: calc(100% - 100px);
	}
	// 03-11 jks
	.listingOutersec{
		padding: 20px 35px 0 45px;
		flex: 1 1 auto;
		height: 100%;
		background: #F8F9FB;
		@media screen and (max-width: 1450px) {
			padding: 10px 20px 0 0px;
		}
		@media (max-width:991px) {
			padding: 10px 15px ;
		}
		.table-top-menu
		{
			.outer-sec-menu
			{
				justify-content: space-between;
				align-items: center;
				background-color: #fff;
				padding: 10px;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				@media (max-width:1450px) {
					padding: 8px;
				}
				@media (max-width:767px) {
					// background: yellow;
					flex-wrap: wrap;
				}
				.outer-sec-Head {
					@media (max-width:767px) {
						width: 100%;
						margin-bottom: 15px;
					}
					h3 {
						margin-bottom: 0px;
						font: 400 20px/24px 'Inter', sans-serif;
						@media (max-width:1450px) {
							font: 400 18px/20px 'Inter', sans-serif;
						}
						@media (max-width:991px) {
							font: 400 16px/20px 'Inter', sans-serif;
						}
					}
				}
				.right-list {
					width: 100%;
					justify-content: space-between;
					align-items: center;
					@media (max-width:767px) {
						// background: blue;
						width: 100%;
					}
					.rightMenu {
						display: flex;
						@media (max-width:767px) {
							// background: red;
							width: 100%;
							flex-wrap: wrap;                        
						}
						@media screen and (max-width: 575px){ 
							justify-content: space-between;
							margin-bottom: 15px;
						}
					}
					.search-box{
						max-width: 320px;
						position: relative;
						display: flex;   
						border: 1px solid #DCE2E8;     
						margin-right: 10px;
						border-radius: 8px;
						min-width: 310px;
						height: 40px;
						padding: 10px; 
						@media (max-width:1450px) {
							min-width: 200px;
							height: 35px;
						}        
						@media screen and (max-width: 1199px){ 
							margin-right: 15px;   
							max-width: 150px;
						}
						@media (max-width:767px) {
							margin-bottom: 10px;
						}
						.search-input{
							width: 100%;
							padding: 0;
							border: none;
							border-radius: 0;
							border-right: none;
							outline: none;
							font-size: 14px;
							color: #ADBAC7;
							background: none;
							line-height: 20px;
						}
						.search-button{
						   text-align: center;
						   color: #00A464;
						  outline: none;
						  cursor: pointer;
						  border: none;
						   border-radius: 0 ;
						  border-left: none;
						  background: none;
						  font-size: 12px;                                   
						}     
					}                  
					.FeaturedSec {
						align-items: center;
						display: flex;
						margin-right: 10px;
						border: 1px solid #DCE2E8;
						border-radius: 10px;
						padding: 0 20px;
						cursor: pointer;
						@media screen and (max-width: 1199px){ 
							margin-right: 15px;   
						}
						@media (max-width:767px) {
							margin-bottom: 10px;
							display: none;
						}
						&:hover{
							background-color: #00A464;
							color: #fff;
							span{
								color: #fff;
								i{
									color: #fff;
								}
							}
						}
						&:active{
							background-color: #00A464;
							color: #fff;
							span{
								color: #fff;
								i{
									color: #fff;
								}
							}
						}
						span {
							font: 400 16px/20px 'Inter', sans-serif;
							@media (max-width:1450px) {
								font: 400 14px/18px 'Inter', sans-serif;
							}
							i {
								font-size: 12px;
								color: #191818;
							}
						}
					}
					.sortdropdown {
						position: relative;
						display: flex;
						align-items: center;
						margin-right: 10px;
						border: 1px solid #DCE2E8;
						border-radius: 10px;
						padding: 0 20px;
						@media screen and (max-width: 1199px){ 
							margin-right: 15px;   
						}
						@media (max-width:767px) {
							margin-bottom: 10px;
						}
						a.sortropdownBtn {
							color: #000000;
							margin-bottom: 0px;
							font: 400 16px/20px 'Inter', sans-serif;
							text-decoration: none;
							@media (max-width:1450px) {
								font: 400 14px/18px 'Inter', sans-serif;
							}
							i {
								font-size: 12px;
							}
						}
						ul.sortMenu {
							left: 0;
							right: 0;
							min-width: 180px;
							padding: 10px 0px;
							z-index: 9 !important;
							li{
								color: #000;
								padding: 7px 10px;
								text-decoration: none;
								font-size: 12px;
								border-bottom: 1px solid #eceeef;
								&:last-child{
									border-bottom: none;
								}
								&:hover{
									color: #00A464;
								}
								&:active{
									color: #00A464;
								}
								a{
									color: #000;
									padding: 7px 5px;
									text-decoration: none;
									font-size: 14px;
									&:hover{
										color: #00A464;
									}
									&:active{
										color: #00A464;
									}
								}
							}
						}
					}
					.refrshBtn{
						margin-right: 10px;
						border: 1px solid #DCE2E8;
						border-radius: 10px;
						padding: 0 15px;
						align-items: center;
						display: flex;
						cursor: pointer;
						&:hover{
							background-color: #00A464;
							color: #fff;
							div{
								color: #fff;
								i{
									color: #fff;
								}
							}
						}
						&:active{
							background-color: #00A464;
							color: #fff;
							div{
								color: #fff;
								i{
									color: #fff;
								}
							}
						}
					}
					.button-add {
						margin-right: 10px;
						button {
							background: transparent;
							color: #00A464;
							border: none;
							border-radius: 5px;
							padding: 7px 12px;
							min-width: 160px;
							height: 40px;
							font: 400 14px/20px 'Inter', sans-serif;
							border: 1px solid #ADBAC7;
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							align-items: center;
							border-radius: 8px;
							text-transform: uppercase;
							@media screen and (max-width: 1450px){ 
								// min-width: 150px;
								font: 400 12px/20px 'Inter', sans-serif;
								height: 35px;
							}
							&:hover{
								background: transparent;
								color: #ADBAC7;
							}
							i
							{
								color: #fff;
								padding-right: 0;
								background: #00A464;
								width: 25px;
								height: 25px;
								font-size: 12px;
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
								align-items: center;
								justify-content: center;
								margin-right: 10px;
								border-radius: 50px;
								-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.10);
								-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.10);
								box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.10);
							}
						}
					}
				}
			}
		}
		.listingInnersec{
			background-color: #fff;
			margin-bottom: 30px;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}
		// tab style 
		.tagTab{
			margin-bottom: 30px;
			border-bottom: 1px solid #c0ccd852;
			.nav {
				@media screen and (max-width: 575px){ 
					flex-direction: column;
				}
				li {
					margin-right: 15px;
					@media screen and (max-width: 575px){ 
						margin-right: 0;
					}
					a {
						text-decoration: none;
						padding: 10px 0px;
						// border-top-left-radius: 8px;
						// border-top-right-radius: 8px;
						color: #191818;
						margin-bottom: 0px;
						margin-right: 25px;
						background-color: transparent;
						font: 400 14px/38px 'Inter', sans-serif;
    					cursor: pointer;
						// background: #fff;
						@media screen and (max-width: 767px){  
							padding: 10px 15px;
							font: 400 14px/8px 'Inter', sans-serif;
						}
						@media screen and (max-width: 575px){                  
							display: block;
							padding: 20px;
							width: 100%;
						}
						&.active {
							border-bottom: 2px solid #00A464;
							color: #00A464;
								// background: #EBF0F4;
							background-color: transparent;
							border-radius: unset;
						}
					}
				}
			}
		}
	}
}
.logo-expand
{
	display:none;
}
.navmenuIcon-mob
{
	display: block;
    position: absolute;
    right: 12px;
    top: 3px;
    cursor: pointer;
	color: #696666;
	@media (min-width:901px) {
		display: none;
	}
	i {
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #fff;
	}
}
.close-nav
{
	color: #696666;
}
 .side-nav.expandnavbar .navList li .dropdown-menu .dropdown-item {
    padding-left: 29px;
}
.menu-icon
{
	.fas.fa-chevron-up
	{
		display: inline-block !important;
	}
	i.fas.fa-chevron-down
	{
		display:none !important;
	}
}
.nav-drp
{
	i.fas.fa-chevron-down
	{
		font-size: 14px;
		margin-left: 7px;
	}
	.open-menu
	{
		display: flex !important;
		align-items: center;
		svg
		{
			flex: 0 0 auto;
			
		}
		.menu
		{
			flex: 1 1 auto;
		}
		.fas.fa-chevron-up
		{
			display:none;
		}
	}
}

.spinner-border-sm
{
	// float: right;
    margin-top: 2.5px;
}
.table-top-menu {
	/*padding: 0 0 10px;*/
  }
  
//   @media (max-width: 1199px) {
// 	.table-top-menu {
// 	  padding: 0;
// 	}
//   }
//   @media (max-width: 1450px) {
// 	.table-top-menu {
// 	  padding: 10px 0 20px;
// 	}
//   }
h3.mainHead {
	font: 600 20px/30px 'Inter', sans-serif;
	padding: 15px 0px 20px;
    color: #231F20;
    margin-bottom: 0;
}
.ft-footer
{
	span
	{
		text-align: center;
		padding: 10px 0px;
		background: #f8f9fb;
		border-top: 1px solid #e4e4e6;
		height: 40px;
		font: 400 15px/20px 'Inter', sans-serif;
		color: #9f9f9f;
		display: block;
		@media (max-width:1679px)
		{
			font: 400 13px/20px 'Inter', sans-serif;
		}
	}
}
// 404
.error-msg
{
	display: flex;
	align-items:center;
	flex-direction:column;
	justify-content: center;
    height: 100%;
	h2
	{
		font: 400 40px/20px 'Inter', sans-serif;
		margin-bottom: 0px;
		@media (max-width:767px)
		{
			font: 400 27px/20px 'Inter', sans-serif;
   
		}
	}
	h3
	{
		font: 600 30px/20px 'Inter', sans-serif;
		margin-bottom: 10px;
		@media (max-width:767px)
		{
			font: 600 20px/20px 'Inter', sans-serif;
			margin-bottom: 5px;
   
		}
	}
	h4
	{
		font: 500 15px/18px 'Inter', sans-serif;
		@media (max-width:767px)
		{
			font: 500 14px/18px 'Inter', sans-serif;
		}
	}
	.img-section
	{
		padding: 30px 0px 21px;
		img
		{
			height:198px;
			@media (max-width:1679px)
			{
				height:160px;
			}
			@media (max-width:767px)
			{
				height: 130px;
			}
			@media (max-width:500px)
			{
				height: 100px;
			}
		}
	}
}
// 404
// Toggle
.switchToggle input[type=checkbox]{height: 0; width: 0; visibility: hidden; position: absolute; }
.switchToggle label {cursor: pointer; text-indent: -9999px; width: 70px; max-width: 70px; height: 28px; background: #e5dddd; display: block; border-radius: 100px; position: relative; }
.switchToggle label:after {content: ''; position: absolute; top: 3px; left: 2px; width: 21px; height: 21px; background: #fff; border-radius: 90px; transition: 0.3s; }
.switchToggle input:checked + label, .switchToggle input:checked + input + label  {background: #ed1e23; }
.switchToggle input + label:before, .switchToggle input + input + label:before {content: 'No'; position: absolute; top: 5px; left: 35px; width: 21px; height: 21px; border-radius: 90px; transition: 0.3s; text-indent: 0; color: #fff;font-size:14px }
.switchToggle input:checked + label:before, .switchToggle input:checked + input + label:before {content: 'Yes'; position: absolute; top: 5px; left: 10px; width: 21px; height: 21px; border-radius: 90px; transition: 0.3s; text-indent: 0; color: #fff;font-size:14px  }
.switchToggle input:checked + label:after, .switchToggle input:checked + input + label:after {left: calc(100% - 2px); transform: translateX(-100%); }
.switchToggle label:active:after {width: 60px; } 
.toggle-switchArea { margin: 10px 0 10px 0; }
// Toggle




 .side-nav.expandnavbar .navList li.active::before {
	display: none;
}


// modal
.fade:not(.show) {
    opacity: 1 !important;
}
// .modal-open .modal.modal-center {
//     display: flex!important;
//     align-items: center!important;
//     .modal-dialog {
//         flex-grow: 1;
//     }
// }
.modal-backdrop.fade {
    background: #095D3C !important; 
}

// table

.tab-content {
	background: #fff;
	// border-radius: 15px;
	z-index: 1;
	position: relative;
	border-bottom: 1px solid #eef3f7;
	// margin-top: 5px;
	.table-responsive {
		// padding: 10px 10px 0;
		overflow-x: auto;
		@media screen and (max-width: 767px){ 
			width: 100%;
			margin-bottom: 15px;
			overflow-y: hidden;
			-ms-overflow-style: -ms-autohiding-scrollbar;
		}
		table {
			margin: 0;
			@media screen and (max-width: 767px){ 
				table-layout: auto;
			}
			thead {
				background-color: #e3e7e8;
				tr {
					th {
						color: #8E9FAA;
						margin-bottom: 0px;
						font: 400 16px/24px 'Inter', sans-serif;
						border-top: none;
						border-bottom: none;
						border-color: #eef3f7;
						padding: 18px 18px !important;
						vertical-align: middle;
						text-align: center;
						@media screen and (max-width: 1450px) {
							font: 400 14px/20px "Inter", sans-serif !important;
							padding: 15px 10px !important;
						}
						@media screen and (max-width: 767px){ 
							white-space: nowrap;
							font: 400 14px/24px 'Inter', sans-serif;
						}
						&:first-child {
							// border-left: none;
							// border-bottom-left-radius: 8px;
							// border-top-left-radius: 8px;
							text-align: left;
						}
						&:last-child {
							// border-right: none;
							// border-bottom-right-radius: 8px;
							// border-top-right-radius: 8px;
						}
					}
				}
			}
			tbody {
				tr {
					td {
						color: #000000;
						margin-bottom: 0px;
						font: 400 14px/20px 'Inter', sans-serif;
						border-color: #eef3f7;
						border-bottom: none;
						padding: 8px 20px;
						vertical-align: middle;
						text-align: center;
						min-height: 50px;
						@media screen and (max-width: 1450px) {
							font: 400 12px/18px "Inter", sans-serif !important;
							padding: 3px 10px !important;
						}
						@media screen and (max-width: 767px){ 
							white-space: nowrap;
							font: 400 14px/24px 'Inter', sans-serif;
						}
						&:first-child {
							border-left: none;
							text-align: left;
						}
						&:last-child {
							border-right: none;
						}
						span.permissionLabel {
							display: inline-block;
							border: 1px solid #E5E9ED;
							/* background: red; */
							border-radius: 6px;
							padding: 5px;
							margin-right: 5px;
							margin-bottom: 3px;
							margin-top: 3px;
							color: #191818;
							min-height: 30px;
							font: 400 10px/18px 'Inter', sans-serif;
							&.active {
								border: 1px solid #00A464;  
								background: #00A464 ;
								color: #fff;
							}
						}
					}
				}
			}
			// .editBtn {
			// 	color: #8E9FAA;
			// 	border: 1px solid #8E9FAA;
			// 	font: 400 14px/20px 'Inter', sans-serif;
			// 	background: transparent;
			// 	min-width: 80px;
			// 	height: 33px;
			// 	outline: none;
			// 	box-shadow: none;
			// 	border-radius: 8px;
			// 	text-transform: uppercase;
			// 	&:hover, &:active {
			// 		color: #fff;
			// 		border: 1px solid #00A464;
			// 		background: #00A464;
			// 	}
			// 	@media screen and (max-width: 1450px) {
			// 		font: 300 12px/18px "Inter", sans-serif;    
			// 		height: 28px;
			// 	}
			// }
			.editBtn {
				color: #8E9FAA;
				border: 1px solid #8E9FAA;
				font: 400 14px/17px 'Inter', sans-serif;
				background: transparent;
				min-width: 70px;
				height: 30px;
				outline: none;
				box-shadow: none;
				border-radius: 6px;
				text-transform: uppercase;
				// margin-right: 10px;
				margin: 5px;
				&:hover, &:active {
					color: #fff;
					border: 1px solid #00A464;
					background: #00A464;
				}
				@media screen and (max-width: 1450px){ 
					font: 400 12px/15px 'Inter', sans-serif;
					min-width: 65px;
					// min-height: 30px;
				}
				&:disabled {
					background: #ff4d4d;
					opacity: 1;
					color: #fff;
					border: 1px solid #ff4d4d;
				}
			}
			.inactiveBtn {
				color: #8E9FAA;
				border: 1px solid #8E9FAA;
				font: 400 14px/17px 'Inter', sans-serif;
				background: transparent;
				min-width: 70px;
				height: 30px;
				outline: none;
				box-shadow: none;
				border-radius: 6px;
				text-transform: uppercase;
				margin: 5px;
				margin-right: 20px !important;
				&:hover, &:active {
					color: #fff;
					border: 1px solid #cccccc;
					background: #cccccc;
				}
				@media screen and (max-width: 1450px){ 
					font: 300 12px/15px "Inter", sans-serif;    
					min-width: 65px;
					// min-height: 30px;
				}
			}
			.activeBtn {
				color: #8E9FAA;
				border: 1px solid #8E9FAA;
				background-color: transparent;
				font: 400 14px/17px 'Inter', sans-serif;
				min-width: 110px;
				height: 30px;
				outline: none;
				box-shadow: none;
				border-radius: 6px;
				text-transform: uppercase;
				margin: 5px;
				margin-right: 20px !important;
				&:hover, &:active {
					color: #fff;
					border: 1px solid #00A464;
					background: #00A464;
				}
				@media screen and (max-width: 1450px){ 
					font: 300 12px/15px "Inter", sans-serif;    
					min-width: 97px;
					// min-height: 30px;
				}
			}
			.trending{
				border: 1px solid #8E9FAA;
				border-radius: 6px;
				padding: 3px 5px;
				margin-left: 10px;
				i{
					color: #000 !important;
					// font-size: 12px;
				}
				&:hover, &.active{
					i{
						color: #00A464 !important;
					}
					
				}
			}
		}
	}
}

$transition-default: 0.25s ease-out 0.10s;
.button-switch {
  position: relative;
  width: 195px;
  height: 20px;
  .lbl-off,
  .lbl-on {
    cursor: pointer;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1em;
    position: absolute;
    top: 8 / 16 * 1em;
    transition: opacity $transition-default;
    text-transform: uppercase;
  }

  .lbl-off {
    right: 7 / 16 * 1em;
  }

  .lbl-on {
    color: #fff;
    opacity: 0;
    left: 7 / 16 * 1em;
  }

  .switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    // --
    height: 0;
    font-size: 1em;
    // left: 0;
    line-height: 0;
    outline: none;
    position: absolute;
    top: 0;
    width: 0;

    &:before,
    &:after {
      content: '';
      font-size: 1em;
      position: absolute;
      cursor: pointer;
    }

    &:before {
      border-radius: 20 / 16 * 1em;
      background: #b2bec5;
      height: 22px;
      left: 5px;
      top: 6px;
    //   transition: background-color $transition-default;
      width: 38px;
      height: 10px;
    }

    &:after {
      box-shadow: 0 .0625em .375em 0 #666;
      border-radius: 50%;
      background: #22BCAC;
    //   transform: translate(0, 0);
      transition: transform $transition-default;
      width: 22px;
      height: 22px;
      transform: translate(0em, 0);
    }

    &:checked {
      &:after {
        transform: translate(1.6em, 0);
        background: #00A464;
      }

      & ~ .lbl-off {
        opacity: 0;
      }

      & ~ .lbl-on {
        opacity: 1;
      }
    }

    &#switch-orange {
      &:checked:before {
        background: #b2bec5;
      }
    }

    &#switch-blue {
      &:checked:before {
        background: #b2bec5;
      }
    }
  }
}

.modal {
	display: block;
	background: #095d3c91 !important;
    .modal-dialog {
        @media (min-width: 1200px) {
            max-width: 900px;
		}
		@media (max-width: 1199px) {
            max-width: 700px;
        }
        .modal-content {
            padding: 20px 10px;
            border-radius: 10px;
			border: none;
			@media (max-width: 1450px) {
				padding: 10px;
			}
            .modal-header {
                background: #F6F9FB;
				border-bottom: none;
				@media (max-width: 1450px) {
					padding: 10px;
				}
                h5 {
                    color: #00A464;
                    font: 400 20px/30px 'Inter', sans-serif;
                    // padding: 15px 0px 20px;
					margin-bottom: 0;
					text-transform: uppercase;
					@media (max-width: 1450px) {
						font: 400 16px/24px 'Inter', sans-serif;
					}
                }
                .close {
                    color: #00A464;
                    opacity: 1;
                }
            }
            .modal-body {
				padding: 30px;
				@media (max-width: 1450px) {
					padding: 15px;
				}
                // form {
                    .form-group {
                        label {
                            font: 400 14px/22px 'Inter', sans-serif;
                            color: #00a464;
                        }
                        .form-control {
                            height: 40px;
                            border: 1px solid #e5e9ed;
                            border-radius: 8px;
                            color: #191818;
                            font: 400 14px/22px 'Inter', sans-serif;
                            &:focus {
                                box-shadow: none;
                            }
                            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                                color: #191818;
								opacity: 1; /* Firefox */
								font-size: 13px;
                              }
                              
                              &:-ms-input-placeholder { /* Internet Explorer 10-11 */
								color: #191818;
								font-size: 13px;
                              }
                              
                              &::-ms-input-placeholder { /* Microsoft Edge */
								color: #191818;
								font-size: 13px;
                              }
                        }
                        .selectWrapper {
                            position: relative;
                            select {
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                appearance: none;
                            }
                            &::after {
                                content: '';
                                pointer-events: none;
                                border-top: 8px solid #BFCBD7;
                                border-left: 6px solid transparent;
                                border-right: 6px solid transparent;
                                width: 0;
                                height: 0;
                                position: absolute;
                                right: 0;
                                border-radius: 0;
                                top: 20px;
                                right: 10px;
                            }
						}
						
					}
                // }
            }
            .modal-footer {
                border: none;
				padding: 0 25px;
				@media (max-width: 1450px) {
					padding: 0 10px;
				}
                button {
                    font: 400 14px/24px 'Inter', sans-serif;
                    text-transform: uppercase;
                    color: #fff;
                    background: rgb(65,222,133);
                    background: linear-gradient(90deg, rgba(65,222,133,1) 0%, rgba(59,204,163,1) 50%, rgba(55,193,184,1) 100%);
                    min-width: 135px;
                    height: 42px;
                    border: none;
					border-radius: 8px;
					@media (max-width: 1450px) {
						min-width: 115px;
						font: 400 12px/22px 'Inter', sans-serif;
    					height: 38px;
					}
					&:disabled {
						opacity: 0.6;
					}
                    &:focus {
                        box-shadow: none;
					}
				}
				.btn-outline{
					color: #191818;
					background: transparent;
					border: 1px solid #bfcbd7;
					margin-right: 10px;
				}
            }
        }
	}
	&.modal-center {
		display: flex;
		align-items: center;
		.modal-dialog {
        	flex-grow: 1;
    	}
	}
}


.SelectPermission {
	border: 1px solid #e5e9ed;
	border-radius: 8px;
	padding: 20px 30px;
	span.permissionLabel {
		display: inline-block;
		border: 1px solid #E5E9ED;
		/* background: red; */
		border-radius: 8px;
		padding: 5px;
		margin-right: 10px;
		margin-bottom: 10px;
		min-height: 30px;
		color: #191818;
		font: 400 10px/18px 'Inter', sans-serif;
		&.active {
			border: 1px solid #00A464;  
			background: #00A464 ;
			color: #fff;
		}
	}
}
.permissionInner {
	.badge {
		display: inline-block;
		/* background: red; */
		border-radius: 6px;
		padding: 5px 10px;
		margin-right: 10px;
		margin-bottom: 10px;
		color: #fff;
		min-height: 30px;
		font: 400 12px/20px "Inter", sans-serif;
		cursor: pointer;
	}	
}
// end modal

// pagination
.paginationSec {
	padding: 12px 8px;
	.pagination {
		justify-content: flex-end;
		li {
			&:last-child { 
				a {
					border-bottom-right-radius: 8px;
					 border-top-right-radius: 8px 
				}
			}
			&:first-child { 
				a {
					border-bottom-left-radius: 8px;
					 border-top-left-radius: 8px 
				}
			}
			a {
				font: 400 14px/18px 'Inter', sans-serif;
				color: #ADBAC7 !important;
				padding: 8px 8px !important;
				text-decoration: none;
				border: 1px solid #ADBAC7 !important;
				min-height: 35px;
				min-width: 35px;
    			text-align: center;
				margin-right: 0;
				height: 30px;
				&:hover {
					color: #00A464;
				}
				svg {
					width: 12px;
					height: 12px;
					fill: #ADBAC7;
				}
				&:hover {
					svg {
						fill: #00A464;
					}
				}
				span {
					font-size: 22px;
					color: #ADBAC7;
					font-weight: 400;
				}
			}
			&.active {
				a {
					font: 400 14px/18px 'Inter', sans-serif;
					color: #00A464 !important;
					background: none;
					// border: 1px solid #bfcad4;
					border-color: #dee2e6;
					padding: 8px 8px;
					&:hover, &:focus, &:active {
						box-shadow: none;
					}
				}
			}
			&.rightArrow {
			   svg {
				transform: rotate(175deg);
			   }
			}
		}
	}
}  
.top-pagination{
	padding: 0;
}
// pagination

.modal-backdrop.fade {
	background: none !important;
}


.modal-open .modal {
	display: flex !important;
	align-items: center;
  }
  .modal .modal-dialog {
	width: 100%;
  }
  
  @media (min-width: 992px) {
	.modal .modal-dialog .modal-content {
	  min-width: 750px;
	}
  }

  .noData {
	  .noDataInner {
		  text-align: center;
		  h3 {
			font: 400 14px/25px 'Inter', sans-serif;
			color: #00A464;
			text-transform: capitalize;
			// border: 1px solid #00A464;
			display: inline-block;
			padding: 5px 20px;
			margin-bottom: 0;
			min-width: 300px;
			border-radius: 50px;
			margin: 5px 0;
		  }
	  }
  }

.table-top-menu .button-add button:hover {
	background-color: #00a464 !important;
    color: #fff !important;
    border: 1px solid #00a464 !important;
}
//  validation msg style 
.ErrMsg{
	color: #ff7272;
    font: 400 12px/18px "Inter", sans-serif;
}
.reQuired{
	color: #f12727;
}

// back and next button 
.addProductBtn {
	padding: 30px 15px 30px;
	text-align: right;
	@media (max-width:1450px) {
	  padding: 30px 10px 15px;
	}
	@media (max-width:991px) {
	  padding: 0px 10px 10px;
	}
	button {
	  font: 500 14px/20px 'Inter', sans-serif;
	  text-transform: uppercase;
	  min-width: 130px;
	  height: 45px;
	  border: none;
	  border-radius: 8px;
	  
	  @media (max-width: 1450px) {
		min-width: 110px;
		font: 400 12px/18px 'Inter', sans-serif;
		height: 40px;
	  }
	  @media (max-width:575px) {
		width: 100%;
		max-width: 100%;
		padding: 0 20px;
		margin-bottom: 10px;
	  }
	  &:disabled {
	  opacity: 0.6;
	  }
	  &:focus {
			box-shadow: none;
	  }
	  &:hover {
		opacity: 0.8;
	  }
	  &.btn-primary {
		color: #fff;
		background: rgb(65,222,133);
		border: 1px solid rgb(65,222,133);;
		background: linear-gradient(90deg, rgba(65,222,133,1) 0%, rgba(59,204,163,1) 50%, rgba(55,193,184,1) 100%);
	  }
	  &.btn-outline { 
		color: #191818;
		background: transparent;
		border: 1px solid #BFCBD7;
		margin-right: 10px;
	  }
	}
  }
//   button preview 
.btn-preview{
	color: #fff;
	background: #41de85;
	border: 1px solid #41de85;
	background: linear-gradient(90deg, #41de85 0%, #3bcca3 50%, #37c1b8 100%);
	font: 500 14px/24px "Inter", sans-serif;
	text-transform: uppercase;
	min-width: 135px;
	height: 42px;
	border: none;
	border-radius: 8px;
	@media (max-width:1450px) {
	  font: 500 12px/22px "Inter", sans-serif;
	  min-width: 115px;
	  height: 38px;
	}
	img{
		padding-right: 12px;
		max-width: 34px;
	}
  }
  textarea, select{
	font: 400 14px/20px "Inter", sans-serif !important;
	@media (max-width:1450px) {
		font: 400 12px/18px "Inter", sans-serif !important;
	}
  }
  input{
	font: 400 14px/20px "Inter", sans-serif;
	@media (max-width:1450px) {
		font: 400 12px/18px "Inter", sans-serif;
	} 
  }
  span.imgNotes{
	font: 400 12px/18px "Inter", sans-serif !important;
	color: #b7b7b7;
  }

//   ng component 
.ng-select.ng-select-multiple{
	.ng-select-container{
		.ng-value-container{
			.ng-placeholder{
				top: 8px !important;
			}
			.ng-value{
				.ng-value-label{
					font-size: 12px !important;
				}
			}
			
			.ng-input{
				input{
					font-size: 14px !important;
					height: 32px !important;
					@media (max-width:1450px) {
						height: 26px !important;
						font-size: 12px !important;
					}
				}
			}
		}
	}
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
  }
  
  /* Hide the tooltip content by default */
  [data-tooltip]:before,
  [data-tooltip]:after {
	visibility: hidden;
	// -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	// filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
  }
  
  /* Position tooltip above the element */
  [data-tooltip]:before {
	position: absolute;
	bottom: -16px;
	left: 87px;
	margin-bottom: 5px;
	margin-left: -65px;
	padding: 7px;
	width: 250px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #00A464;
	background-color: hsl(157, 100%, 32%);
	color: #fff;
	content: attr(data-tooltip);
	// text-align: center;
	font-size: 12px;
	line-height: 1.2;
  }
  
  /* Triangle hack to make tooltip look like a speech bubble */
  [data-tooltip]:after {
	position: absolute;
	bottom: 6px;
	left: 20px;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid hsl(157, 100%, 32%);
	border-top: 5px solid #00A464;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
	transform: rotate(90deg);
  }
  
  /* Show tooltip content on hover */
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
	visibility: visible;
	// -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	// filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
  }
  .placeholderTooltip{
	  height: 17px;
	position: absolute;
    top: 9px;
    bottom: 0;
    right: -5px;
    z-index: 1;
    color: #50a464;
    -webkit-text-stroke-color: #fff;
	cursor: pointer;
	&::before{
		bottom: 17px;
		left: -190px;
	}
	&::after{
		bottom: 17px;
		left: -20px;
		transform: none;
	}
	i{
		color: #50a464 !important;
		-webkit-text-stroke-width: unset !important;

	}
  }