.addProductsSec {
  padding: 20px 35px 0 45px;
    flex: 1 1 auto;
    height: 100%;
    background: #F8F9FB;
    @media screen and (max-width: 1450px) {
      padding: 5px 20px 0 0px;
  }
  @media (max-width:991px) {
      padding: 10px 15px ;
  }
    .table-top-menu {
        .outer-sec-menu {
            justify-content:space-between;
            align-items: center;
            flex-wrap: wrap;
            @media (max-width:767px) {
                
            }
            .outer-sec-Head {
                h3 {
                    margin-bottom: 10px;
                    font: 400 20px/24px 'Inter', sans-serif;
                    @media (max-width:1450px) {
                      font: 400 18px/20px 'Inter', sans-serif;
                  }
                  @media (max-width:991px) {
                      font: 400 16px/20px 'Inter', sans-serif;
                  }
                }
            }
            .right-list{
          
                .stepList {
                    display: flex;
                    margin-bottom: 10px;
                    li {
                        list-style: none;
                        a {
                            font: 400 16px/22px 'Inter', sans-serif;
                            color: #BFCBD7;
                            text-decoration: none;
                            padding: 0 15px;
                            border-right: 1px solid #BFCBD7;;
                            @media (max-width:1450px) {
                                font: 400 14px/20px 'Inter', sans-serif;
                            }
                            @media (max-width:991px) {
                              font: 400 13px/18px 'Inter', sans-serif;
                            }
                        }
                        &.active {
                            a {
                                color: #00A464;
                            }
                        }
                        &:first-child {
                            a {
                                padding-left: 0;
                            }
                        }
                        &:last-child {
                            a {
                                border-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .addProductInner {
        h3 {
          font: 700 14px/19px 'Inter', sans-serif;
          color: #00A464;
          @media (max-width:1450px) {
              font: 700 12px/17px 'Inter', sans-serif;
          }
          // @media (max-width:1450px) {}
        }
        .evenTitle{
          color: #191818;
        }
        .card {
            // height: 100%;
            border: none;
            &.bg-none {
              background: none;
            }
            // &.br.none {

            // }
            .form-group{
              margin-bottom: 10px;
            }
            .inputWrap {
              background: #fff;
              // border-radius: 8px;
              padding: 10px;
              // height: 100%;
              .plusicon{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 38px;
                background-color: #c0ccd84a;
                border-radius: 10px;
                margin: 0px 14px;
                max-width: 60px;
              }
              input {
                  height: 40px;
                  border-radius: 8px;
                  // border: 1px solid #BFCBD7;
                  font: 400 14px/19px 'Inter', sans-serif;
                  color: #191818;
                  @media (max-width:1450px) { 
                    height: 36px;
                    font: 400 14px/20px 'Inter', sans-serif;
                  }
                  &:focus, &:hover, &:active {
                    outline: none;
                    box-shadow: none;
                  }
              }
          }
            .form-group {
                label {
                    font: 400 14px/20px 'Inter', sans-serif;
                    color: #00A464;
                    @media (max-width:1450px) {
                        font: 400 12px/18px 'Inter', sans-serif;
                    }
                }  
                .blkclr{
                  color: #191818;
                  margin: 0;
                }
                .customSelect {
                  position: relative;
                  &::before {
                    content: '';
                    pointer-events: none;
                    // -webkit-transform: rotate(222deg);
                    // transform: rotate(222deg);
                    width: 13px;
                    height: 10px;
                    // border-top: 2px solid #000;
                    // border-left: 2px solid #000;
                    display: block;
                    position: absolute;
                    right: 15px;
                    top: 0;
                    margin: auto;
                    bottom: 0;
                    background-image: url(../../img/Polygon.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                  }
                  select {
                    -webkit-appearance: none;
                    -moz-appearance:    none;
                    appearance:         none;
                    height: 40px;
                    border-radius: 8px;
                    border: 1px solid #BFCBD7;
                    font: 400 16px/24px 'Inter', sans-serif;
                    color: #191818;
                    min-width: 120px;
                    @media (max-width:1450px) { 
                      height: 36px;
                      font: 400 14px/20px 'Inter', sans-serif;
                    }
                    &:focus, &:hover, &:active {
                      outline: none;
                      box-shadow: none;
                    }
                  }
                }
                .control-group {
                  position: relative;
                  i {
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    left: 12px;
                    color:#000000 ;
                    -webkit-text-stroke-width: 0.5px;
                    -webkit-text-stroke-color: #fff;
                  }
                  input {
                    padding-left: 32px;
                  }
                }    
                .checkBox {
                  padding-top: 40px;
                }     
            }
            &.textEditor {
                .form-group {
                    height: 100%;
                    .inputWrap {
                        height: 100%;
                    }
                }
            }
        }  
        .shippingSec {
          padding: 20px 0;
          @media (max-width:991px) {
            padding: 15px 0;
          }
          .shippingHead {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding-bottom: 20px;
            flex-wrap: wrap;
            h3 {
              margin-right: 20px;
            }
          }
          .card {
            .form-group {
              label {
                font: 400 16px/20px 'Inter', sans-serif;
                // color: #BFCBD7;
                @media (max-width:1450px) {
                    font: 400 14px/18px 'Inter', sans-serif;
                }
              }
              input {
                font: 400 16px/20px 'Inter', sans-serif;
                color: #BFCBD7;
                @media (max-width:1450px) {
                    font: 400 14px/18px 'Inter', sans-serif;
                }
                &::-webkit-input-placeholder{
                  // color: #BFCBD7;
                  // opacity: 1;
                }
                &::-moz-placeholder {
                  // color: #BFCBD7;
                  // opacity: 1;
                }
                &:-ms-placeholder {
                //   color: #BFCBD7;
                // opacity: 1;
                }  
              }
            }
            .weightSec {
              position: relative;
              .form-control {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
              }
              .customSelect {
                &::before {
                  // border-top: 2px solid #BFCBD7;
                  // border-left: 2px solid #BFCBD7;
                }
                select {
                  height: 40px;
                  border-radius: 8px;
                  border: 1px solid #BFCBD7;
                  font: 400 14px/20px 'Inter', sans-serif;
                  color: #BFCBD7;
                  min-width: 80px;
                  border-top-left-radius: 0;
                  border-bottom-left-radius: 0;
                  border-left: 0;
                  margin-left: -1px;
                  @media (max-width: 1450px) {
                    height: 36px;
                  }
                }
              }
              small {
                position: absolute;
                right: 30px;
                top: 12px;
                font: 400 14px/20px 'Inter', sans-serif;
                color: #BFCBD7;
              }
            }

            .shippingSearch {       
              position: relative;       
              input#search-bar{
                margin: 0 auto;
                width: 100%;
                height: 45px;
                padding: 0 50px 0 20px;
                font-size: 1rem;
                border: 1px solid #D0CFCE;
                outline: none;
                @media (max-width:1450px) { 
                  height: 36px;
                  font: 400 14px/20px 'Inter', sans-serif;
                }
                &:focus{
                  border: 1px solid #BFCBD7;
                  transition: 0.35s ease;
                  color: #BFCBD7;
                  &::-webkit-input-placeholder{
                    transition: opacity 0.45s ease; 
                    opacity: 0;
                  }
                  &::-moz-placeholder {
                    transition: opacity 0.45s ease; 
                    opacity: 0;
                  }
                  &:-ms-placeholder {
                  transition: opacity 0.45s ease; 
                  opacity: 0;
                  }    
                }
              }
              a {
                color: #BFCBD7;
                .search-icon{
                  position: absolute;
                  // float: right;
                  width: 25px;
                  height: 25px;
                  top: 15px;
                  right: 10px;
                }
              }
            }
          }
        } 
        .variantsSec {
          padding: 3px 0 20px;
          @media (max-width:991px) {
            padding: 15px 0;
          }
          .shippingHead {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding-bottom: 20px;
            flex-wrap: wrap;
            h3 {
              margin-right: 20px;
            }
          }
          .card {
            .form-group {
              // label {
              //   font: 400 16px/20px 'Inter', sans-serif;
              //   color: #BFCBD7;
              //   @media (max-width:1450px) {
              //       font: 400 14px/18px 'Inter', sans-serif;
              //   }
              // }
              // input {
              //   font: 400 16px/20px 'Inter', sans-serif;
              //   color: #BFCBD7;
              //   @media (max-width:1450px) {
              //       font: 400 14px/18px 'Inter', sans-serif;
              //   }
              //   &::-webkit-input-placeholder{
              //     color: #BFCBD7;
              //     opacity: 1;
              //   }
              //   &::-moz-placeholder {
              //     color: #BFCBD7;
              //     opacity: 1;
              //   }
              //   &:-ms-placeholder {
              //     color: #BFCBD7;
              //   opacity: 1;
              //   }  
              // }
            }
            .weightSec {
              position: relative;
              small {
                position: absolute;
                right: 30px;
                top: 12px;
                font: 400 14px/20px 'Inter', sans-serif;
                color: #BFCBD7;
              }
            }

            .shippingSearch {       
              position: relative;       
              input#search-bar{
                margin: 0 auto;
                width: 100%;
                height: 45px;
                padding: 0 50px 0 20px;
                font-size: 1rem;
                border: 1px solid #D0CFCE;
                outline: none;
                &:focus{
                  border: 1px solid #BFCBD7;
                  transition: 0.35s ease;
                  color: #BFCBD7;
                  &::-webkit-input-placeholder{
                    transition: opacity 0.45s ease; 
                    opacity: 0;
                  }
                  &::-moz-placeholder {
                    transition: opacity 0.45s ease; 
                    opacity: 0;
                  }
                  &:-ms-placeholder {
                  transition: opacity 0.45s ease; 
                  opacity: 0;
                  }    
                }
              }
              a {
                color: #BFCBD7;
                .search-icon{
                  position: absolute;
                  // float: right;
                  width: 25px;
                  height: 25px;
                  top: 15px;
                  right: 10px;
                }
              }
            }
          }
        }      
        .variantTable {

          .table-responsive {
            padding: 10px 10px 0;
            overflow-x: auto;
            min-height: 110px;
            max-height: 400px;
            // overflow-x: hidden;
            // overflow-y: scroll;
            @media screen and (max-width: 767px){ 
                width: 100%;
                margin-bottom: 0;
                overflow-y: scroll;
                -ms-overflow-style: -ms-autohiding-scrollbar;
            }
            &::-webkit-scrollbar {
              width: 10px;
              height: 10px;
            }
            
            &::-webkit-scrollbar-track {
              background: #E6ECF2;
            }
            &::-webkit-scrollbar-thumb {
              background: #ADBAC7;
            }
            
            &::-webkit-scrollbar-thumb:hover {
              background: #ADBAC7;
            }

            table {
                margin: 0;
                @media screen and (max-width: 767px){ 
                    table-layout: auto;
                }
                thead {
                    background: #F6F9FB;
                    tr {
                        th {
                            color: #8E9FAA;
                            margin-bottom: 0px;
                            font: 400 16px/24px 'Inter', sans-serif;
                            border-top: none;
                            border-bottom: none;
                            border-color: #eef3f7;
                            padding: 20px 15px;
                            @media screen and (max-width: 1450px) {
                              font: 400 14px/20px "Inter", sans-serif !important;
                              padding: 10px !important;
                            }
                            @media screen and (max-width: 767px){ 
                                white-space: nowrap;
                                font: 400 14px/24px 'Inter', sans-serif;
                            }
                            &:first-child {
                                border-left: none;
                                border-bottom-left-radius: 8px;
                                border-top-left-radius: 8px;
                            }
                            &:last-child {
                                border-right: none;
                                border-bottom-right-radius: 8px;
                                border-top-right-radius: 8px;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            color: #191818;
                            margin-bottom: 0px;
                            font: 400 15px/20px 'Inter', sans-serif;
                            border-color: #eef3f7;
                            border-bottom: none;
                            padding: 20px 15px;
                            @media screen and (max-width: 1450px) {
                              font: 400 14px/18px "Inter", sans-serif !important;
                              padding: 10px !important;
                          }
                            @media screen and (max-width: 767px){ 
                                white-space: nowrap;
                                font: 400 14px/24px 'Inter', sans-serif;
                            }
                            &:first-child {
                                border-left: none;
                            }
                            &:last-child {
                                border-right: none;
                            }
                            &.active {
                                .resendBtn {
                                  background: #00A464;
                                  border-color: #00A464;
                                  svg {
                                    fill: #fff;
                                  }
                                }
                            }
                            span.divider {
                              width: 2px;
                              background: #464646;
                              height: 13px;
                              display: inline-block;
                              margin: 0 5px;
                            }
                            input {
                              height: 40px;
                              border-radius: 8px;
                              border: 1px solid #BFCBD7;
                              font: 400 16px/24px 'Inter', sans-serif;
                              color: #191818;
                              min-width: 120px;
                              @media (max-width:1450px) { 
                                height: 36px;
                                font: 400 14px/20px 'Inter', sans-serif;
                              }
                              &:hover, &:active, &:focus {
                                outline: none;
                                box-shadow: none;
                              }
                            }
                        }
                    }
                }
                .resendBtn {
                    border: 1px solid #BFCBD7;
                    font: 400 15px/20px 'Inter', sans-serif;
                    background: transparent;
                    min-width: 20px;
                    height: 30px;
                    outline: none;
                    box-shadow: none;
                    border-radius: 6px;
                    text-transform: uppercase;
                    padding: 0px 5px;
                    svg {
                      width: 14px;
                      height: 13px;
                      fill: #BFCBD7;
                    }
                    @media screen and (max-width: 1450px) { 
                      font: 300 13px/15px "Inter", sans-serif;    
                      height: 30px;
                    }
                    &:hover {
                        border: 1px solid #00A464;
                        background: #00A464;
                        svg {
                          fill: #fff;
                        }
                    }
                }
            }
          }
        }
    }  
}

.checkBox {
  position: relative;
  // padding-top: 40px;
  .styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
  
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      font: 400 14px/20px 'Inter', sans-serif;
      @media (max-width:1450px) {
          font: 400 12px/18px 'Inter', sans-serif;
      }
    }
  
    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 17px;
      height: 17px;
      // background: #191818;
      border: 1px solid #191818;
      border-radius: 5px;
    }
  
    // Box hover
    &:hover + label:before {
      background: #191818;
    }
    
    // Box focus
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
  
    // Box checked
    &:checked + label:before {
      background: #191818;
    }
    
    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }
  
    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }
  
    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 3px;
      top: 9px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
  }
}     


.rounded {
  border-radius: 8px !important;
}

$transition-default: 0.25s ease-out 0.10s;
.button-switch {
  position: relative;
  max-width: 250px;
  .lbl-off,
  .lbl-on {
    cursor: pointer;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1em;
    position: absolute;
    top: 8 / 16 * 1em;
    transition: opacity $transition-default;
    text-transform: uppercase;
  }

  .lbl-off {
    right: 7 / 16 * 1em;
  }

  .lbl-on {
    color: #fff;
    opacity: 0;
    left: 7 / 16 * 1em;
  }

  .switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    // --
    height: 0;
    font-size: 1em;
    // left: 0;
    line-height: 0;
    outline: none;
    position: absolute;
    top: 0;
    width: 0;

    &:before,
    &:after {
      content: '';
      font-size: 1em;
      position: absolute;
      cursor: pointer;
    }

    &:before {
      border-radius: 20 / 16 * 1em;
      background: #b2bec5;
      height: 22px;
      left: 5px;
      top: 6px;
    //   transition: background-color $transition-default;
      width: 38px;
      height: 10px;
    }

    &:after {
      box-shadow: 0 .0625em .375em 0 #666;
      border-radius: 50%;
      background: #22BCAC;
    //   transform: translate(0, 0);
      transition: transform $transition-default;
      width: 22px;
      height: 22px;
      transform: translate(0em, 0);
    }

    &:checked {
      &:after {
        transform: translate(1.6em, 0);
        background: #00A464;
      }

      & ~ .lbl-off {
        opacity: 0;
      }

      & ~ .lbl-on {
        opacity: 1;
      }
    }

    &#switch-orange {
      &:checked:before {
        background: #b2bec5;
      }
    }

    &#switch-blue {
      &:checked:before {
        background: #b2bec5;
      }
    }
  }
}

/*upload style*/
.img-upload{
  position: relative;
  button{
    position: absolute;
    right: 20px;
    top: 40px;
    z-index: 8;
    background-color: #fff;
    padding: 5px 12px;
    border-radius: 10px;
    color: #191818;
    font: 600 14px/21px "Inter", sans-serif;
    outline: none;
    img{
      padding-right: 12px;
    }
  }
  .upl-box{
    overflow-y: auto;
    min-height: 100px;
    max-height: 270px;
      .img-list{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      padding: 0 10px;
      .img-name{
        p{
          margin-bottom: 0;
          font: 400 14px/19px "Inter", sans-serif;
          color: #191818;
          max-width: 170px;
          min-width: 170px;
          margin-right: 10px;
        }
      }
      .pre-img{
        margin-right: 10px;
        img{
          object-fit: cover;
          object-position: center;
          max-height: 40px;
          max-width: 50px;
          min-width: 50px;
          min-height: 40px;
        }
      }
      .img-close{
        i{
          font-size: 12px;
        }
      }
    }
  }
}
.inputDnD {
  background-color: #F6F9FB;
  .form-control-file {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 6em;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    // background-color: #c61c23;
    box-shadow: 0 0 5px solid currentColor;
    &:before {
      content: attr(data-title);
      position: absolute;
      top: 0.5em;
      left: 5px;
      color: #c0ccd89e;
      font: 400 14px/25px "Inter", sans-serif;
      width: 100%;
      min-height: 6em;
      padding-top: 1.5em;
      opacity: 1;
      visibility: visible;
      // border: 0.25em dashed currentColor;
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      overflow: hidden;
    }
    &:hover {
      &:before {
        // border-style: solid;
        // box-shadow: inset 0px 0px 0px 0.25em currentColor;
      }
    }
  }
}

// search filter 
ul.filter-select{
  list-style: none;
  li.filter-select-list{
    display: flex;
    justify-content: flex-start;
    padding: 8px 12px;
    align-items: center;
    cursor: pointer;
    img{
      height: 45px;
      object-fit: cover;
      object-position: center;
    }
    p.artist-name{
      padding-left: 12px;
      margin: 0;
      font: 400 14px/20px "Inter", sans-serif;
    }
  }
}