.productList {
    padding: 20px 35px 0 45px;
    flex: 1 1 auto;
    height: 100%;
    background: #F8F9FB;
    @media screen and (max-width: 1450px) {
        padding: 10px 20px 0 0px;
    }
    @media (max-width:991px) {
        padding: 10px 15px ;
    }
    .table-top-menu
    {
        .outer-sec-menu
        {
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            padding: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            @media (max-width:1450px) {
                padding: 8px;
            }
            @media (max-width:767px) {
                // background: yellow;
                flex-wrap: wrap;
            }
            .outer-sec-Head {
                @media (max-width:767px) {
                    width: 100%;
                    margin-bottom: 15px;
                }
                h3 {
                    margin-bottom: 0px;
                    font: 400 20px/24px 'Inter', sans-serif;
                    @media (max-width:1450px) {
                        font: 400 18px/20px 'Inter', sans-serif;
                    }
                    @media (max-width:991px) {
                        font: 400 16px/20px 'Inter', sans-serif;
                    }
                }
            }
            .right-list {
                width: 100%;
                justify-content: space-between;
                align-items: center;
                @media (max-width:767px) {
                    // background: blue;
                    width: 100%;
                }
                .rightMenu {
                    display: flex;
                    @media (max-width:767px) {
                        // background: red;
                        width: 100%;
                        flex-wrap: wrap;                        
                    }
                    @media screen and (max-width: 575px){ 
                        justify-content: space-between;
                        margin-bottom: 15px;
                    }
                }
                .search-box{
                    max-width: 320px;
                    position: relative;
                    display: flex;   
                    border: 1px solid #DCE2E8;     
                    margin-right: 10px;
                    border-radius: 8px;
                    min-width: 310px;
                    height: 40px;
                    padding: 10px; 
                    @media (max-width:1450px) {
                        min-width: 200px;
                        height: 35px;
                    }        
                    @media screen and (max-width: 1199px){ 
                        margin-right: 15px;   
                        max-width: 150px;
                    }
                    @media (max-width:767px) {
                        margin-bottom: 10px;
                    }
                    .search-input{
                        width: 100%;
                        padding: 0;
                        border: none;
                        border-radius: 0;
                        border-right: none;
                        outline: none;
                        font-size: 14px;
                        color: #ADBAC7;
                        background: none;
                        line-height: 20px;
                    }
                    .search-button{
                       text-align: center;
                       color: #00A464;
                      outline: none;
                      cursor: pointer;
                      border: none;
                       border-radius: 0 ;
                      border-left: none;
                      background: none;
                      font-size: 12px;                                   
                    }     
                }                  
                .FeaturedSec {
                    position: relative;
                    align-items: center;
                    display: flex;
                    margin-right: 10px;
                    border: 1px solid #DCE2E8;
                    border-radius: 10px;
                    padding: 0 20px;
                    height: 36px;
                    @media screen and (max-width: 1199px){ 
                        margin-right: 15px;   
                    }
                    @media (max-width:767px) {
                        margin-bottom: 10px;
                        display: none;
                    }
                    a.filtterBtn{
                        color: #000;
                        text-decoration: none;
                        span {
                            font: 400 16px/20px 'Inter', sans-serif;
                            @media (max-width:1450px) {
                                font: 400 14px/18px 'Inter', sans-serif;
                            }
                            i {
                                font-size: 12px;
                                color: #191818;
                            }
                        }
                    }
                }
                .sortdropdown {
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin-right: 10px;
                    border: 1px solid #DCE2E8;
                    border-radius: 10px;
                    padding: 0 20px;
                    height: 36px;
                    @media screen and (max-width: 1199px){ 
                        margin-right: 15px;   
                    }
                    @media (max-width:767px) {
                        margin-bottom: 10px;
                    }
                    a.sortropdownBtn {
                        color: #000000;
                        margin-bottom: 0px;
                        font: 400 16px/20px 'Inter', sans-serif;
                        text-decoration: none;
                        @media (max-width:1450px) {
                            font: 400 14px/18px 'Inter', sans-serif;
                        }
                        i {
                            font-size: 12px;
                        }
                    }
                    ul.sortMenu {
                        left: 0;
                        right: 0;
                        min-width: 190px;
                        padding: 10px 10px;
                        li{
                            color: #000;
                            padding: 7px 2px;
                            text-decoration: none;
                            a{
                                color: #000;
                                padding: 7px 2px;
                                text-decoration: none;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                font-size: 12px;
                                .up{
                                    background-color: #32C671;
                                    border-radius: 50%;
                                    padding: 2px 6px;
                                }
                                .down{
                                    background-color: #32C671;
                                    border-radius: 50%;
                                    padding: 2px 6px;
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                }
                .sortselect{
                    .inputWrap{
                        .customSelect{
                            .form-control{
                                border: 1px solid #DCE2E8;
                                border-radius: 10px;
                                padding: 0 20px;
                                height: 36px;
                                outline: none;
                            }
                        }
                    }
                }
                .button-add {
                    margin-right: 10px;
                    button {
                        background: transparent;
                        color: #00A464;
                        border: none;
                        border-radius: 5px;
                        padding: 7px 12px;
                        min-width: 160px;
                        height: 40px;
                        font: 400 14px/20px 'Inter', sans-serif;
                        border: 1px solid #ADBAC7;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        align-items: center;
                        border-radius: 8px;
                        text-transform: uppercase;
                        @media screen and (max-width: 1450px){ 
                            // min-width: 150px;
                            font: 400 12px/20px 'Inter', sans-serif;
                            height: 35px;
                        }
                        &:hover{
                            background: transparent;
                            color: #ADBAC7;
                        }
                        i
                        {
                            color: #fff;
                            padding-right: 0;
                            background: #00A464;
                            width: 25px;
                            height: 25px;
                            font-size: 12px;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 10px;
                            border-radius: 50px;
                            -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.10);
                            -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.10);
                            box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.10);
                        }
                    }
                }
            }
        }
    }
    .collectionInner {
        background-color: #fff;
        margin-bottom: 30px;
        .nav {
            @media screen and (max-width: 575px){ 
                flex-direction: column;
            }
            li {
                margin-right: 15px;
                @media screen and (max-width: 575px){ 
                    margin-right: 0;
                }
                a {
                    text-decoration: none;
                    padding: 15px 20px;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    color: #00A464;
                    margin-bottom: 0px;
                    font: 400 16px/20px 'Inter', sans-serif;
                    background: #fff;
                    @media screen and (max-width: 767px){  
                        padding: 10px 15px;
                        font: 400 13px/8px 'Inter', sans-serif;
                    }
                    @media screen and (max-width: 575px){                  
                        display: block;
                        padding: 20px;
                        width: 100%;
                    }
                    &.active {
                            color: #191818;
                            background: #EBF0F4;
                    }
                }
            }
        }
        .tab-content {
            .table-responsive {
                table {
                    tbody {
                        tr {
                            td {
                                .productImg {
                                    width: 40px;
                                    height: 40px;
                                    /* background: red; */
                                    display: inline-block;
                                    align-items: center;
                                    vertical-align: middle;
                                    /* display: flex; */
                                    align-items: center;
                                    border: 1px solid #bfcbd7;
                                    border-radius: 8px;
                                    padding: 0;
                                    overflow: hidden;
                                    object-fit: cover;
                                    margin-right: 10px;
                                    @media(max-width: 1450px){ 
                                        width: 35px;
                                        height: 35px;
                                    }
                                    @media screen and (max-width: 991px){ 
                                        width: 30px;
                                        height: 30px;
                                    }
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                                .productName {

                                }
                            }
                        }
                    }
                    .editBtn {
                        color: #8E9FAA;
                        border: 1px solid #8E9FAA;
                        font: 400 14px/20px 'Inter', sans-serif;
                        background: transparent;
                        min-width: 70px;
                        height: 30px;
                        outline: none;
                        box-shadow: none;
                        border-radius: 6px;
                        text-transform: uppercase;
                        // margin-right: 10px;
                        margin-right: 20px !important;
                        margin: 5px;
                        &:hover, &:active {
                            color: #fff;
                            border: 1px solid #00A464;
                            background: #00A464;
                        }
                        @media screen and (max-width: 1450px){ 
                            font: 400 12px/15px "Inter", sans-serif;    
                            min-width: 65px;
                            // min-height: 30px;
                        }
                    }
                    .inactiveBtn {
                        color: #8E9FAA;
                        border: 1px solid #8E9FAA;
                        font: 400 14px/20px 'Inter', sans-serif;
                        background: transparent;
                        min-width: 70px;
                        height: 30px;
                        outline: none;
                        box-shadow: none;
                        border-radius: 6px;
                        text-transform: uppercase;
                        margin: 5px;
                        margin-right: 20px !important;
                        &:hover, &:active {
                            color: #fff;
                            border: 1px solid #22BCAC;
                            background: #22BCAC;
                        }
                        @media screen and (max-width: 1450px){ 
                            font: 300 13px/15px "Inter", sans-serif;    
                            min-width: 65px;
                            // min-height: 30px;
                        }
                    }
                    span {
                        i {
                            color: #BFCBD7;
                        }
                        &.greenStar {
                            i {
                                color: #00A464;
                            }   
                        }
                    }
                }
            }
        }
    }
  
}

 // radio button 

 .custom-radios {
    // padding: 0 12px;
    padding: 0;
    display: unset;
    div {
      display: flex;
      justify-content: space-between;
    }
  
    input[type="radio"] {
      display: none;
  
      + label {
        color: #333;
        font-family: "Inter", sans-serif ;
        font-size: 12px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        span {
          display: inline-block;
          width: 20px;
          height: 20px;
          margin: 0px 0px 0 0px;
          vertical-align: middle;
          cursor: pointer;
          border-radius: 50%;
          // border: 2px solid #FFFFFF;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
          background-repeat: no-repeat;
          background-position: center;
          text-align: center;
          line-height: 44px;
      
          img {
            opacity: 0;
            transition: all .3s ease;
            max-width: 14px;
          }
        }
      }
  
      &#color-1 + label span {
        // background-color: #48a737;
      }
  
      &#color-2 + label span {
        // background-color: #48a737;
      }
      &.checked + label span{
        background-color: #00A464;
      }
  
      &:checked + label span img {
        opacity: 1;
      }
    }
  }
  
//   .FeaturedSec.sortdropdown{
//     position: relative;
//   }
  .action.sortdropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 10px;
    padding: 0 20px;
    height: 36px;
    @media screen and (max-width: 1199px){ 
        margin-right: 15px;   
    }
    @media (max-width:767px) {
        margin-bottom: 10px;
    }
    a.dotsdownBtn {
        color: #000000;
        margin-bottom: 0px;
        font: 400 16px/20px 'Inter', sans-serif;
        text-decoration: none;
        @media (max-width:1450px) {
            font: 400 14px/18px 'Inter', sans-serif;
        }
        i {
            font-size: 12px;
        }
    }
    ul.actionMenu {
        left: 0;
        right: 0;
        min-width: 140px;
        padding: 0px 5px;
        li{
            color: #000;
            padding: 7px 2px;
            text-decoration: none;
           
            a{
                color: #000;
                padding: 7px 2px;
                text-decoration: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 12px;
                &.active{
                    color: #00A464;
                }
                .up{
                    background-color: #32C671;
                    border-radius: 50%;
                    padding: 2px 6px;
                    i{
                        color: #fff;
                    }
                }
            }

        }
    }
}