
@import "partials/variables";
@import "partials/mixins";

/* login-page */

.login-outer{
	height: 100vh;
	background: #fff;	
	@include flex-direction(column);
	.login-top-sec{
		@include flexFill(1 1 auto);
		height: calc(100vh - 140px);
		@media (max-width: 1679px) {
			height: calc(100vh - 130px);
		}
		@media (max-width: 1441px) {
			height: calc(100vh - 110px);
		}
		@media (max-width: 1024px) {
			height: calc(100vh - 90px);
		}
		@media (max-width: 767px) {
			height: initial;
		}
		.img-block{
			width: 40%;
			img{
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		.login-form-block{
			width: 60%;
			padding: 50px;
			.login-content-cover{
				width: 630px;
				max-width: 100%;
				.logo{
					img{
						width: 330px;
					}
				}
				.login-form-cover{
					padding-top: 80px;
					h2{
                        font-size: 27px;
                        line-height: 34px;
						font-weight: 400;
						color: #3A4D4E;
						margin-bottom: 30px;
					}
					.login-form-wrapper{
						.input-group{
							padding: 0 25px;
							background: #F6F6F6;
							margin-bottom: 5px;
							border-radius: 5px;
							&.errorField {
								border: 1px solid #dc3546;
							}
						}
						.form-group {
							margin-bottom: 15px;
							.ErrorMsg {
								font-size: 14px;
								line-height: 20px;
								color: #dc3546;
								display: none;
							}
						}
						.input-group-prepend{
							width: 60px;
							.input-group-text{
								border: none;
								background: transparent;
							}

						}
						.form-control{
							box-shadow: none;
							background-color: transparent;
							border: none;
							height: 68px;
							font-size: 18px;
						}
						.custom-checkbox{
							padding-top: 10px;
							padding-bottom: 30px;
						}
						.custom-checkbox .custom-control-label::before{
							width: 25px;
							height: 25px;
							border-radius: 0;
							top: 0;
						}
						.custom-control-label::after{
							width: 25px;
							height: 25px;
							top: 0;
						}
						.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{
							background-image: url(../img/tick-grn.svg);
						}
						.custom-control-input:checked ~ .custom-control-label::before{
							background-color: #F6F6F6;
							border: none;
						}
						.custom-control-label{
							font-size: 18px;
							color: #474747;
							font-weight: 400;
							padding-left: 25px;
						}
						.sign-in-btn{
							width: 100%;
							height: 62px;
							border-radius: 5px;
							border: none;
							font-size: 18px;
							line-height: 22px;
							text-transform: uppercase;
							font-weight: 400;
							color: #fff;
							background: rgb(65,222,133);
							background: -moz-linear-gradient(left,  rgba(65,222,133,1) 0%, rgba(54,190,189,1) 100%);
							background: -webkit-linear-gradient(left,  rgba(65,222,133,1) 0%,rgba(54,190,189,1) 100%);
							background: linear-gradient(to right,  rgba(65,222,133,1) 0%,rgba(54,190,189,1) 100%);
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41de85', endColorstr='#36bebd',GradientType=1 );
							@include transition(.3s);
							&:hover{
								opacity: .8;
							}
							&:disabled {
								opacity: 0.6;
							}
							&:active,&:hover,&:focus {
                                outline: none;
                                box-shadow: none;
                            }
						}
					}
				}
			}
		}
	}
	.login-footer{
		@include flexFill(0 0 auto);
		height: 140px;
		.f-logo-block{
			@include align-items(center);
			@include justify-content(center);
			width: 40%;
			background-color: #F2F5F8;
			height: 100%;
			text-align: center;
			a{
				display: inline-block;
			}
			img{
				width: 260px;
			}
		}
		.f-rights-block{
			@include align-items(center);
			height: 100%;
			width: 60%;
			background-color: rgba(242, 245, 248, 0.60);
			@include justify-content(center);
			p{
				width: 630px;
				max-width: 100%;
				margin-bottom: 0;
				font-size: 18px;
				color: #5C7085;
			}
		}
	}
}
@media(min-width: 1680px){
	.login-outer .login-top-sec{
		height: calc(100% - 140px);
	}
}
@media(max-width: 1679px){
	.login-outer .login-top-sec .login-form-block .login-content-cover .logo img {
		width: 300px;
	}
	.login-outer .login-top-sec .login-form-block .login-content-cover .login-form-cover .login-form-wrapper .form-control{
		height: 64px;
	}
	.login-outer .login-top-sec .login-form-block .login-content-cover .login-form-cover .login-form-wrapper .sign-in-btn{
		height: 58px;
	}
	.login-outer .login-footer .f-logo-block img {
		width: 240px;
	}
	.login-outer .login-footer{
		height: 130px;
	}
}
@media(max-width: 1441px){
	.login-outer .login-top-sec .img-block {
		width: 45%;
	}
	.login-outer .login-top-sec .login-form-block{
		width: 55%;
	}
	.login-outer .login-top-sec .login-form-block .login-content-cover {
		width: 560px;
	}
	.login-outer .login-top-sec .login-form-block .login-content-cover .login-form-cover .login-form-wrapper .form-control {
		height: 60px;
		font-size: 16px;
	}
	.login-outer .login-top-sec .login-form-block .login-content-cover .login-form-cover .login-form-wrapper .sign-in-btn {
		height: 55px;
		font-size: 16px;
	}
	.login-outer .login-top-sec .login-form-block .login-content-cover .login-form-cover .login-form-wrapper .input-group-prepend {
		width: 45px;
		.input-group-text img{
			max-width: 20px;
			max-height: 20px;
		}
	}
	.login-outer .login-top-sec .login-form-block .login-content-cover .login-form-cover .login-form-wrapper .input-group{
		padding: 0 10px;
	}
	.login-outer .login-top-sec .login-form-block .login-content-cover .login-form-cover .login-form-wrapper .custom-control-label{
		font-size: 16px;
		padding-left: 15px;
	}
	.login-outer .login-top-sec .login-form-block .login-content-cover .login-form-cover .login-form-wrapper .custom-checkbox .custom-control-label::before{
		width: 20px;
		height: 20px;
	}
	.login-outer .login-top-sec .login-form-block .login-content-cover .login-form-cover .login-form-wrapper .custom-control-label::after{
		width: 20px;
		height: 20px;
	}
	.login-outer .login-footer {
		height: 110px;
	}
	.login-outer .login-footer .f-logo-block img {
		width: 200px;
	}
	.login-outer .login-footer .f-rights-block p{
		font-size: 16px;
	}
	.login-outer .login-footer .f-rights-block{
		width: 55%;
		padding-left: 50px;
	}
	.login-outer .login-footer .f-logo-block{
		width: 45%;
	}
}
@media(max-width: 1199px){
	.login-outer .login-top-sec .login-form-block .login-content-cover .login-form-cover{
		padding-top: 45px;
	}
}
@media(max-width: 1024px){
	.login-outer .login-top-sec .login-form-block .login-content-cover .login-form-cover .login-form-wrapper .form-control{
		height: 50px;
		font-size: 14px;
	}
	.login-outer .login-top-sec .login-form-block .login-content-cover .login-form-cover .login-form-wrapper .sign-in-btn{
		height: 48px;
		font-size: 14px;
	}
	.login-outer .login-top-sec .login-form-block .login-content-cover .login-form-cover .login-form-wrapper .custom-control-label{
		font-size: 14px;
	}
	.login-outer .login-top-sec .login-form-block .login-content-cover .logo img {
		width: 250px;
	}
	.login-outer .login-footer {
		height: 90px;
	}
	.login-outer .login-top-sec .login-form-block .login-content-cover .login-form-cover h2 {
		font-size: 24px;
		margin-bottom: 25px;
	}
	.login-outer .login-top-sec .login-form-block .login-content-cover .login-form-cover .login-form-wrapper .custom-checkbox {
		padding-top: 0;
		padding-bottom: 20px;
	}
	.login-outer .login-footer .f-logo-block img {
		width: 170px;
	}
	.login-outer .login-footer .f-rights-block p {
		font-size: 14px;
	}
}
@media(max-width: 991px){
	.login-outer .login-top-sec .img-block{
		width: 40%;
	}
	.login-outer .login-top-sec .login-form-block{
		width: 60%;
		padding: 30px;
	}
	.login-outer .login-footer .f-logo-block {
		width: 40%;
	}
	.login-outer .login-footer .f-rights-block{
		width: 60%;
		padding-left: 30px;
	}
}
@media(max-width: 767px){
	.login-outer .login-top-sec .img-block{
		width: 35%;
	}
	.login-outer .login-top-sec .login-form-block{
		width: 65%;
	}
	.login-outer .login-top-sec .login-form-block .login-content-cover .logo img {
		width: 200px;
	}
	.login-outer .login-top-sec .login-form-block .login-content-cover .login-form-cover {
		padding-top: 25px;
	}
	.login-outer .login-top-sec .login-form-block .login-content-cover .login-form-cover h2 {
		font-size: 20px;
		margin-bottom: 15px;
	}
	.login-outer .login-top-sec .login-form-block .login-content-cover .login-form-cover .login-form-wrapper .form-control {
		height: 45px;
	}
	.login-outer .login-top-sec .login-form-block .login-content-cover .login-form-cover .login-form-wrapper .input-group{
		margin-bottom: 0;
	}
	.login-outer .login-top-sec .login-form-block .login-content-cover .login-form-cover .login-form-wrapper .sign-in-btn {
		height: 45px;
	}
	.login-outer .login-footer .f-logo-block {
		width: 35%;
	}
	.login-outer .login-footer .f-rights-block{
		width: 65%;
		padding-left: 30px;
	}
	.login-outer .login-footer .f-logo-block img {
		width: 130px;
	}
	.login-outer .login-footer {
		height: 60px;
	}
	.login-outer .login-footer .f-rights-block p {
		font-size: 13px;
	}
}
@media(max-width: 579px){
	.login-outer .login-top-sec .img-block{
		display: none;
	}
	.login-outer .login-top-sec .login-form-block{
		width: 100%;
	}
	.login-outer .login-footer .f-logo-block{
		display: none !important;
	}
	.login-outer .login-footer .f-rights-block{
		width: 100%;
		display: block;
		text-align: center;
		padding: 0 15px;
		p{
			padding-left: 0;
		}
	}
}



$btn-bg-color: #004B97;
$btn-txt-color: #fff;

.btn-wrapper {
	position: relative;
	max-height: 62px;
	@media (max-width: 1450px) {
		max-height: 50px;
	}
}
%button-default{
   width: 100%;
   height: 62px;
   border-radius: 5px;
   border: none;
   font-size: 18px;
   line-height: 22px;
   text-transform: uppercase;
   font-weight: 400;
   color: #fff;
   background: #41de85;
   border: 2px solid #41de85;
   background: -moz-linear-gradient(left, #41de85 0%, #36bebd 100%);
   background: -webkit-linear-gradient(left, #41de85 0%, #36bebd 100%);
   background: linear-gradient(to right, #41de85 0%, #36bebd 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41de85', endColorstr='#36bebd',GradientType=1 );
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
   -ms-transition: 0.3s;
   transition: 0.3s;
   outline: none;
   box-shadow: none;
   border: none;
   @media (max-width: 1450px) {
	height: 50px;
	border-radius: 5px;
	border: none;
	font-size: 15px;
	line-height: 20px;
   }
   &:hover{
	opacity: .8;
	border: none;
	}
	&:disabled {
		opacity: 0.6;
		border: none;
		
	}
	&:active,&:hover,&:focus {
		outline: none;
		box-shadow: none;
		border: none;
	}
}

button.load-button{
  @extend %button-default;
  span{
    transition: all 1s;
    opacity:1;
  }
  i{
    display:none; 
    margin:0 auto;
    transition: all 1s;
    path,rect{
      fill: $btn-txt-color;
    }
  }
}

button.loading-start{
  span{
    display: none;  
    opacity: 0;
  }
  i{
    display: block; 
	opacity: 1;
	// @media (max-width: 1450px) { 
	// 	width: 30px;
	// }
  }
}

