.right-nav.expandnavbarr1
{
    margin-left: 62px;
    width: calc(100% - 62px);
    .navmenuIcon
        {
            display:block !important;
        }
}
.right-nav
{
    width: calc(100% - 315px);
    margin-left: 315px;
    position: relative;
    flex-grow: 1;
    background: #fff;
    @media (min-width: 902px) {  
        position: fixed;
        top: 0;
        z-index: 99;
    }
    @media (max-width:1450px) {
        width: calc(100% - 250px);
        margin-left: 250px;
    }
    @media (max-width:901px) {
        width: 100%;
        margin-left: 0;
    }
    &.expandRightNav {
        width: calc(100% - 100px);
        margin-left: 100px;
    }
    // header
    .navbarOtr
    {
        position: sticky;
        top: 0;
        background: #F6F9FB;
        padding: 0;
        box-shadow: 0 3px 15px #0000000d;
        // border-top-left-radius: 50px;
        .navbar-expand-lg
        {
            padding: 15px 25px 5px;
            @media (max-width:991px) {
                padding-top: 0;
            }
            .smallLogo {
                display: none;
                img {
                    max-height: 38px;
                    margin-right: 50px;
                    margin-left: -3px;
                    margin-top: 0;
                    @media (max-width:767px) {
                        // max-height: 31px;
                        // margin-right: 48px;
                        // margin-left: -3px;
                        // margin-top: -2px;
                    }
                }
                @media (max-width:575px) {
                    display: block;
                }
            }
            .logo-expand {
                @media (max-width:575px) {
                    display: none;
                }
            }
            .navbar-collapse {
                // border-bottom: 1px solid #e5e5e5;
                padding-bottom: 10px;
            }
        }
        .navmenuIcon
        {
            display:none;
            @media (max-width:901px) {
                display: block;
            }
            cursor: pointer;
            i
            {
                font-size: 20px;
                color: #c1c1c1;
            }
        }
        .left-hed
        {
            margin-left:21px;
            @media (max-width:1450px) {
                margin-left:0px; 
            }
            h3
            {
                margin-bottom:5px;
                color: #191818;
                font:400 24px/32px 'Inter', sans-serif;
                @media (max-width:1450px) {
                    margin-bottom: 0px;
                    font: 400 20px/24px 'Inter', sans-serif;
                }
                .red-txt
                {
                    color:red;
                    font-weight:600;
                }
            }
            h4
            {
                font:400 16px/20px 'Inter', sans-serif;
                color: #BFCBD7;
                margin-bottom: 0;
                @media (max-width:1679px)
                {
                    font:400 14px/20px 'Inter', sans-serif;
                }
            }
        }
        .right-hed{
            .profileImg
            {
                margin-right: 25px;
                .profileDropdown {
                    position: relative;
                    a.dropdown-toggle {
                        color: #191818 !important;
                        &::after {
                            display: none;
                        }
                        &::before {
                            content: '';
                            width: 20px;
                            height: 8px;
                            background: url(../img/downArrow.svg) no-repeat;
                            position: absolute;
                            right: -20px;
                            background-size: 70%;
                        }
                    }
                }
                .dropdown-menu
                {
                    min-width: 130px;
                    top: 54px;
                    left: 24px;
                    padding: 0;
                    box-shadow: 0 0 10px #15141417;
                    left: inherit;
                    right: 0;
                    border: none;
                    border-radius: 6px;
                }
                .dropdown-item
                {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #555;
                    padding: 10px 12px !important;
                    font: 500 12px/18px 'Inter', sans-serif;
                    padding: 5px 15px;
                    // border-bottom: 1px solid #ecedef;
                    // @media (max-width:1679px)
                    // {
                    //     font-size:13px;
                    // }
                    &:hover {
                        background: #fff;
                    }
                    &:last-child
                    {
                    
                            border: none !important;
                    }
                }
                .nav-link
                    {
                        color:#191818 !important;
                        font:400 18px/24px 'Inter', sans-serif;
                        @media (max-width:1679px) {
                            font:400 16px/24px 'Inter', sans-serif;
                        }
                    }
                    .profName
                    {
                        margin: 0 10px;
                        @media (max-width:575px) { 
                            display: none;
                        }
                    }
                    
                .profileImgSec
                {
                    width: 50px;
                    height: 50px;
                    background: #fff;
                    padding: 2px;
                    border-radius: 50px;
                    @media (max-width:575px) {  
                        margin-right: 10px;
                    }
                    img
                    {
                        border-radius: 100px;
                        width: 100%;
                        height: 100%;
                    }
                    
                }
            }
            .imgNoti
            {
                position: relative;
                margin-right: 25px;
                &:last-child{
                    margin-right: 0;
                }
                a {
                    position: relative;
                    cursor: pointer;
                }
                img
                {
                    height: 25px;
                }
                span.notifyTxt {
                    background: #00A464;
                    color: #fff;
                    width: 18px;
                    height: 18px;
                    border-radius: 50px;
                    display: inline-block;
                    text-align: center;
                    font: 400 13px/18px 'Inter', sans-serif;
                    position: absolute;
                    right: 0px;
                    top: 6px;
                    @media (max-width:991px)
                    {
                        width: 14px;
                        height: 14px;
                        font: 400 11px/14px 'Inter', sans-serif;
                        position: absolute;
                        right: -2px;
                    }
                }
            }
        }
    }
}