.headerMngtsSec {
    padding: 20px 35px 0 45px;
      flex: 1 1 auto;
      height: 100%;
      background: #F8F9FB;
      @media screen and (max-width: 1450px) {
        padding: 10px 20px 0 0px;
    }
    @media (max-width:991px) {
        padding: 10px 15px ;
    }
      .headerMngtInner {
        .shippingHead{
          display: flex;
          justify-content: flex-end;
          h3 {
            font: 400 18px/24px 'Inter', sans-serif;
            color: #191818;
            @media (max-width:1450px) {
                font: 400 16px/20px 'Inter', sans-serif;
            }
            // @media (max-width:1450px) {}
          }
          // .btn-preview{
          //   color: #fff;
          //   background: #41de85;
          //   border: 1px solid #41de85;
          //   background: linear-gradient(90deg, #41de85 0%, #3bcca3 50%, #37c1b8 100%);
          //   font: 500 15px/30px "Inter", sans-serif;
          //   text-transform: uppercase;
          //   min-width: 145px;
          //   height: 45px;
          //   border: none;
          //   border-radius: 8px;
          //   img{
          //     padding-right: 18px;
          //     padding-bottom: 4px;
          //   }
          // }
        }
        .header-link{
          font: 400 14px/19px "Inter", sans-serif;
          color: #A6AEB7;
          padding: 0 10px;
        }
         
        .card {
              // height: 100%;
              border: none;
              background-color: transparent;
              margin-bottom: 0px;
              &.bg-none {
                background: none;
              }
              // &.br.none {
  
              // }
              .inputWrap.headerSmallbox {
                // border-radius: 8px;
                // padding: 15px;
                // height: 100%;
                background-color: #fff;
                padding: 10px 10px 0px 10px;
                input {
                    height: 30px;
                    border-radius: 8px;
                    // border: 1px solid #BFCBD7;
                    font: 400 16px/24px 'Inter', sans-serif;
                    color: #191818;
                    @media (max-width:1450px) { 
                      height: 36px;
                      font: 400 14px/20px 'Inter', sans-serif;
                    }
                    &:focus, &:hover, &:active {
                      outline: none;
                      box-shadow: none;
                    }
                }
                textarea {
                    resize: none;
                    height: 100%;
                    border-radius: 8px;
                    border: 1px solid #BFCBD7;
                    font: 400 16px/24px 'Inter', sans-serif;
                    color: #191818;
                    min-height: 130px;
                    &:focus, &:hover, &:active {
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
              .form-group {
                  label {
                    font: 400 14px/19px "Inter", sans-serif;
                    color: #00A464;
                    padding-bottom: 2px;
                      @media (max-width:1450px) {
                          font: 600 13px/18px 'Inter', sans-serif;
                      }
                  }  
                  .customSelect {
                    position: relative;
                    &::before {
                      content: '';
                      pointer-events: none;
                      // -webkit-transform: rotate(222deg);
                      // transform: rotate(222deg);
                      width: 13px;
                      height: 10px;
                      // border-top: 2px solid #000;
                      // border-left: 2px solid #000;
                      display: block;
                      position: absolute;
                      right: 15px;
                      top: 0;
                      margin: auto;
                      bottom: 0;
                      background-image: url(../../img/Polygon.svg);
                      background-repeat: no-repeat;
                      background-size: contain;
                    }
                    select {
                      -webkit-appearance: none;
                      -moz-appearance:    none;
                      appearance:         none;
                      height: 40px;
                      border-radius: 8px;
                      border: 1px solid #BFCBD7;
                      font: 400 16px/24px 'Inter', sans-serif;
                      color: #191818;
                      min-width: 120px;
                      @media (max-width:1450px) { 
                        height: 36px;
                        font: 400 14px/20px 'Inter', sans-serif;
                      }
                      &:focus, &:hover, &:active {
                        outline: none;
                        box-shadow: none;
                      }
                    }
                  }
                  .control-group {
                    position: relative;
                    margin-bottom: 10px;
                    i {
                      width: 16px;
                      height: 16px;
                      position: absolute;
                      top: 12px;
                      bottom: 0;
                      // margin: auto;
                      right: 12px;
                      z-index: 1;
                      color:#BFCBD7 ;
                      -webkit-text-stroke-width: 0.5px;
                      -webkit-text-stroke-color: #fff;
                      cursor: pointer;
                    }
                    .footerImg {
                      width: 16px;
                      height: 16px;
                      position: absolute;
                      top: 12px;
                      bottom: 0;
                      // margin: auto;
                      right: 12px;
                      z-index: 1;
                      color:#BFCBD7 ;
                      -webkit-text-stroke-width: 0.5px;
                      -webkit-text-stroke-color: #fff;
                      cursor: pointer;
                    }
                    input {
                    //   padding-left: 32px;
                    }
                  }    
                  .checkBox {
                    padding-top: 40px;
                  }     
              }
            &.textEditor {
                .form-group {
                      height: 100%;
                    .inputWrap {
                          height: 100%;
                    }
                }
            }
        }
    }
}

.bigBoxwrapper{
    // padding: 20px;
    margin-bottom: 30px;
    h4{
      font: 400 14px/19px "Inter", sans-serif;
      margin-bottom: 20px;
    }
    .bigBoxInner{
      background-color: #fff;
      padding: 30px 30px 10px 30px;
      border-radius: 10px;
      
    }
}

// .addProductBtn {
//   padding: 20px 15px 30px;
//   text-align: right;
//   @media (max-width:1450px) {
//     padding: 30px 10px 15px;
//   }
//   @media (max-width:991px) {
//     padding: 20px 10px 10px;
//   }
//   button {
//     font: 400 16px/24px 'Inter', sans-serif;
//     text-transform: uppercase;
//     min-width: 170px;
//     height: 55px;
//     border: none;
//     border-radius: 8px;
    
//     @media (max-width: 1450px) {
//       min-width: 150px;
//       font: 400 15px/20px 'Inter', sans-serif;
//       height: 40px;
//     }
//     @media (max-width:575px) {
//       width: 100%;
//       max-width: 100%;
//       padding: 0 20px;
//       margin-bottom: 10px;
//     }
//     &:disabled {
//     opacity: 0.6;
//     }
//     &:focus {
//           box-shadow: none;
//     }
//     &:hover {
//       opacity: 0.8;
//     }
//     &.btn-primary {
//       color: #fff;
//       background: rgb(65,222,133);
//       border: 1px solid rgb(65,222,133);;
//       background: linear-gradient(90deg, rgba(65,222,133,1) 0%, rgba(59,204,163,1) 50%, rgba(55,193,184,1) 100%);
//     }
//     &.btn-outline { 
//       color: #191818;
//       background: transparent;
//       border: 1px solid #BFCBD7;
//       margin-right: 10px;
//     }
//   }
// }

.checkBoxwrapper{
  padding-bottom: 25px;
  padding-top: 25px;
  .chkboxOuter{
    display: flex;
    justify-content: flex-start;
    // margin-bottom: 10px;
    flex-wrap: wrap;
    .checkBox{
      display: flex;
      align-items: center;
      // max-width: 245px;
      min-width: 200px;
      flex-wrap: wrap;
      margin-bottom: 15px;
      @media (max-width: 1679px) {
        min-width: 160px;
      }
      @media (max-width: 1450px) {
        min-width: 160px;
      }
      label{
        font: 400 13px/20px 'Inter', sans-serif;
        margin-bottom: 0;
        margin-left: 10px;
      }
    }
  }
  .select-banner{
    margin-top: -47px;
  }
}

/*edited for Image*/

.upload-area {
position: relative;
width: 100%;
margin-left: auto;
margin-right: auto;
border: 2px dashed #b7b7b7e6;
height: 120px;
background-color: #c3c3c33b;
}

.loading-area {
width: 80%;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
height: 200px;
}

.upload-input {
position: absolute;
margin: 0;
padding: 0;
width: 100%;
height: 100% !important;
outline: none;
opacity: 0;
cursor: pointer;
}

.upload-text {
height: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}

.upload-text span {
text-align: center;
width: 100%;
font: 400 14px/18px "Inter", sans-serif;
color: #0000005c;
}

.loading-img {
display: flex;
align-self: center;
max-width: 100%;
max-height: 100%;
height: auto;
margin: auto;
}

.loaded-area {
position: relative;
// background-color: rgba($color: #b3afaf, $alpha: 0.3);
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
width: 100%;
margin-left: auto;
margin-right: auto;
height: 115px;
cursor: pointer;
display: flex;
}

.loaded-img {
opacity: 1;
display: -webkit-box;
display: -ms-flexbox;
max-width: 100%;
max-height: 100%;
margin: auto;
height: 195px;
object-fit: cover;
object-position: center;
// width: 100%;
}

.loaded-area span {
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
width: 90%;
color: white;
font-size: 14px;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}

.loaded-area:hover {
background-color: #000;
}

.loaded-area:hover img {
opacity: 0.2;
}

.loaded-area:hover span {
opacity: 1;
}

.loaded-area .loaded-button {
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
width: 90%;
color: white;
font-size: 14px;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}

.loaded-area:hover .loaded-button {
opacity: 1;
}

.loaded-area img {
// position: unset !important; 
width: 100% !important;
height: 100% !important;
}
input::placeholder {
  font-size:13px
}


