.inventory {
    .collectionInner {
        .nav {
            @media screen and (max-width: 575px){ 
                flex-direction: column;
            }
            li {
                margin-right: 15px;
                @media screen and (max-width: 575px){ 
                    margin-right: 0;
                }
                a {
                    text-decoration: none;
                    padding: 15px 20px;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    color: #00A464;
                    margin-bottom: 0px;
                    font: 400 16px/20px 'Inter', sans-serif;
                    background: #fff;
                    @media screen and (max-width: 767px){  
                        padding: 10px 15px;
                        font: 400 13px/8px 'Inter', sans-serif;
                    }
                    @media screen and (max-width: 575px){                  
                        display: block;
                        padding: 20px;
                        width: 100%;
                    }
                    &.active {
                            color: #191818;
                            background: #EBF0F4;
                    }
                }
            }
        }
        .tab-content {
            .table-responsive {
                table {
                    tbody {
                        tr {
                            td {                            
                                .productImg {
                                    width: 40px;
                                    height: 40px;
                                    /* background: red; */
                                    display: inline-block;
                                    align-items: center;
                                    vertical-align: middle;
                                    /* display: flex; */
                                    align-items: center;
                                    border: 1px solid #bfcbd7;
                                    border-radius: 8px;
                                    padding: 0;
                                    overflow: hidden;
                                    object-fit: cover;
                                    margin-right: 10px;
                                    @media(max-width: 1450px){ 
                                        width: 35px;
                                        height: 35px;
                                    }
                                    @media screen and (max-width: 991px){ 
                                        width: 30px;
                                        height: 30px;
                                    }
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                                .number-spinner {
                                    position: relative;
                                    min-width: 150px;
                                    .ns-btn {
                                        a {
                                            font-size: 22px;                                                
                                            position: absolute;
                                            background: #EAEEF2;
                                            width: 35px;
                                            height: 100%;
                                            align-items: center;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            border-radius: 8px;
                                            cursor: pointer;
                                            color: #000000;
                                            text-decoration: none;
                                            &.plus {
                                                left: 0;
                                                top: 0;
                                            }
                                            &.minus {
                                                top: 0;
                                                right: 0;
                                            }
                                        }
                                    }
                                    input {
                                        text-align: center;
                                        width: 100%;
                                        font: 400 14px/20px 'Inter', sans-serif;
                                        // padding: 10px;
                                        color: #000000;
                                        border: 1px solid #EAEEF2;
                                        height: 35px;
                                        border-radius: 8px;
                                    }
                                }
                            }
                            .prdctnameOuter{
                                display: flex;
                                align-items: center;
                                .productName{
                                    p{
                                        margin-bottom: 0;
                                        color: #A1AFB8;
                                        font: 400 12px/16px 'Inter', sans-serif;
                                    }
                                }
                            }
                        }
                    }
                    span {
                        i {
                            color: #BFCBD7;
                        }
                        &.greenStar {
                            i {
                                color: #00A464;
                            }   
                        }
                    }
                }
            }
        }
    }
  
}