.inviteMemberSec {
    background: #F6F9FB;
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    .inviteMemberInner {
        background: #fff;
        border-radius: 10px;
        padding: 25px 30px;
        width: 700px;
        @media (max-width: 767px) {
            width: 100%;
        }
        .inviteMemberHead {
            background: #F6F9FB;
            border-bottom: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 50px;
            padding: 0 20px;
            h5 {
                color: #22BC52;
                font: 400 20px/30px 'Inter', sans-serif;
                // padding: 15px 0px 20px;
                margin-bottom: 0;
                text-transform: uppercase;
            }
            .close {
                color: #00A464;
                opacity: 1;
            }
        }
        .inviteMemberContent {
            padding: 30px;
            form {

                .form-group {
                    label {
                        font: 400 16px/24px 'Inter', sans-serif;
                        color: #BFCBD7;
                    }
                    .form-control {
                        height: 50px;
                        border: 1px solid #e5e9ed;
                        border-radius: 8px;
                        color: #191818;
                        font: 400 16px/24px 'Inter', sans-serif;
                        &:focus {
                            box-shadow: none;
                        }
                        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                            color: #191818;
                            opacity: 1; /* Firefox */
                          }
                          
                          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                            color: #191818;
                          }
                          
                          &::-ms-input-placeholder { /* Microsoft Edge */
                            color: #191818;
                          }
                    }
                }
            }
        }
        .inviteMemberFooter {
            border: none;
            text-align: revert;
            padding: 10px 30px;
            margin: 0 auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            button {
                font: 400 16px/24px 'Inter', sans-serif;
                text-transform: uppercase;
                color: #fff;
                background: rgb(65,222,133);
                background: linear-gradient(90deg, rgba(65,222,133,1) 0%, rgba(59,204,163,1) 50%, rgba(55,193,184,1) 100%);
                min-width: 200px;
                height: 60px;
                border: none;
                border-radius: 8px;
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
}