.invitationsSec {
    padding: 0px 35px 0 45px;
    flex: 1 1 auto;
    height: 100%;
    background: #F8F9FB;
    @media screen and (max-width: 1450px) {
        padding: 0px 20px 0 0px;
      }
    @media (max-width:991px) {
        padding: 10px 15px ;
    }
    .table-top-menu
    {
        .outer-sec-menu
        {
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            padding: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            @media (max-width:1450px) {
                padding: 8px;
            }
            .outer-sec-Head {
                @media (max-width:767px) {
                    width: 100%;
                    margin-bottom: 15px;
                }
                h3 {
                    margin-bottom: 0px;
                    font: 400 20px/24px 'Inter', sans-serif;
                    @media (max-width:1450px) {
                        font: 400 18px/20px 'Inter', sans-serif;
                    }
                    @media (max-width:991px) {
                        font: 400 16px/20px 'Inter', sans-serif;
                    }
                }
            }
            .right-list
            {
                width: 100%;
                justify-content: space-between;
                align-items: center;
                @media (max-width:767px) {
                    // background: blue;
                    width: 100%;
                }
                .rightMenu {
                    display: flex;
                    @media (max-width:767px) {
                        // background: red;
                        width: 100%;
                        flex-wrap: wrap;                        
                    }
                    @media screen and (max-width: 575px){ 
                        justify-content: space-between;
                        margin-bottom: 15px;
                    }
                } 
                .button-add {
                    margin-right: 10px;
                    button {
                        background: transparent;
                        color: #00A464;
                        border: none;
                        border-radius: 5px;
                        padding: 7px 12px;
                        min-width: 160px;
                        height: 40px;
                        font: 400 14px/20px 'Inter', sans-serif;
                        border: 1px solid #ADBAC7;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        align-items: center;
                        border-radius: 8px;
                        text-transform: uppercase;
                        @media screen and (max-width: 1450px){ 
                            // min-width: 150px;
                            font: 400 12px/20px 'Inter', sans-serif;
                            height: 35px;
                        }
                        &:hover{
                            background: transparent;
                            color: #ADBAC7;
                        }
                        i
                        {
                            color: #fff;
                            padding-right: 0;
                            background: #00A464;
                            width: 25px;
                            height: 25px;
                            font-size: 12px;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 10px;
                            border-radius: 50px;
                            -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.10);
                            -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.10);
                            box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.10);
                        }
                      }
                    }
            }
        }
    }
    .tagTab{
        margin-bottom: 30px;
        border-bottom: 1px solid #c0ccd852;
        .nav {
            @media screen and (max-width: 575px){ 
                flex-direction: column;
            }
            li {
                margin-right: 15px;
                @media screen and (max-width: 575px){ 
                    margin-right: 0;
                }
                a {
                    text-decoration: none;
                    padding: 10px 0px;
                    // border-top-left-radius: 8px;
                    // border-top-right-radius: 8px;
                    color: #191818;
                    margin-bottom: 0px;
                    margin-right: 25px;
                    background-color: transparent;
                    font: 400 16px/38px 'Inter', sans-serif;
                    // background: #fff;
                    @media screen and (max-width: 767px){  
                        padding: 10px 15px;
                        font: 400 14px/8px 'Inter', sans-serif;
                    }
                    @media screen and (max-width: 575px){                  
                        display: block;
                        padding: 20px;
                        width: 100%;
                    }
                    &.active {
                        border-bottom: 2px solid #00A464;
                        color: #00A464;
                            // background: #EBF0F4;
                            background-color: transparent;
                    }
                }
            }
        }
    }
    .invitationInner {
        background-color: #fff;
        margin-bottom: 30px;
        .nav {
            @media screen and (max-width: 575px){ 
                flex-direction: column;
            }
            li {
                margin-right: 15px;
                @media screen and (max-width: 575px){ 
                    margin-right: 0;
                }
                a {
                    text-decoration: none;
                    padding: 15px 20px;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    color: #00A464;
                    margin-bottom: 0px;
                    font: 400 16px/20px 'Inter', sans-serif;
                    background: #fff;
                    @media screen and (max-width: 767px){  
                        padding: 10px 15px;
                        font: 400 13px/8px 'Inter', sans-serif;
                    }
                    @media screen and (max-width: 575px){                  
                        display: block;
                        padding: 20px;
                        width: 100%;
                    }
                    &.active {
                            color: #191818;
                            background: #EBF0F4;
                    }
                }
            }
        }
        .tab-content {
            .table-responsive {
                table {            
                    tbody {
                        tr {
                            td {
                                &:first-child {
                                    border-left: none;
                                }
                                &:last-child {
                                    border-right: none;
                                }
                                &.active {
                                    color: #00A464;
                                }
                                &.pending {
                                    color: #22BCAC;
                                }
                            }
                        }
                    }
                    .resendBtn {
                        color: #8E9FAA;
                        border: 1px solid #8E9FAA;
                        font: 400 15px/20px 'Inter', sans-serif;
                        background: transparent;
                        min-width: 70px;
                        height: 30px;
                        outline: none;
                        box-shadow: none;
                        border-radius: 6px;
                        text-transform: uppercase;
                        &:hover, &:active {
                            color: #fff;
                            border: 1px solid #00A464;
                            background: #00A464;
                        }
                        @media screen and (max-width: 1450px) {
                            font: 300 13px/15px "Inter", sans-serif;    
                            height:30px;
                            min-width: 65px;
                        }
                    }
                }
            }
        }
    }
}