.modal-backdrop.fade {
    background: #095D3C !important; 
}

.modal {
	display: block;
	background: #095d3c91 !important;
    .modal-dialog {
        @media (min-width: 1200px) {
            max-width: 900px;
		}
		@media (max-width: 1199px) {
            max-width: 700px;
        }
        .modal-content {
            padding: 20px 10px;
            border-radius: 10px;
            border: none;
            .modal-header {
                background: #F6F9FB;
                border-bottom: none;
                h5 {
                    color: #00A464;
                    font: 400 20px/30px 'Inter', sans-serif;
                    // padding: 15px 0px 20px;
					margin-bottom: 0;
					text-transform: uppercase;
                }
                .close {
                    color: #00A464;
                    opacity: 1;
                }
            }
            .modal-body {
                padding: 30px;
                form {
                    .form-group {
                        label {
                            font: 400 16px/24px 'Inter', sans-serif;
                            color: #BFCBD7;
                        }
                        .form-control {
                            height: 50px;
                            border: 1px solid #e5e9ed;
                            border-radius: 8px;
                            color: #191818;
                            font: 400 16px/24px 'Inter', sans-serif;
                            &:focus {
                                box-shadow: none;
                            }
                            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                                color: #191818;
                                opacity: 1; /* Firefox */
                              }
                              
                              &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                                color: #191818;
                              }
                              
                              &::-ms-input-placeholder { /* Microsoft Edge */
                                color: #191818;
                              }
                        }
                        .selectWrapper {
                            position: relative;
                            select {
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                appearance: none;
                            }
                            &::after {
                                content: '';
                                pointer-events: none;
                                border-top: 8px solid #BFCBD7;
                                border-left: 6px solid transparent;
                                border-right: 6px solid transparent;
                                width: 0;
                                height: 0;
                                position: absolute;
                                right: 0;
                                border-radius: 0;
                                top: 20px;
                                right: 10px;
                            }
						}
						
					}
                }
            }
            .modal-footer {
                border: none;
                padding: 0 25px;
                button {
                    font: 400 16px/24px 'Inter', sans-serif;
                    text-transform: uppercase;
                    color: #fff;
                    background: rgb(65,222,133);
                    background: linear-gradient(90deg, rgba(65,222,133,1) 0%, rgba(59,204,163,1) 50%, rgba(55,193,184,1) 100%);
                    min-width: 200px;
                    height: 60px;
                    border: none;
					border-radius: 8px;
					@media (max-width: 1450px) {
						min-width: 150px;
						font: 400 15px/20px 'Inter', sans-serif;
    					height: 50px;
					}
					&:disabled {
						opacity: 0.6;
					}
                    &:focus {
                        box-shadow: none;
                    }
                }
            }
        }
	}
	&.modal-center {
		display: flex;
		align-items: center;
		.modal-dialog {
        	flex-grow: 1;
    	}
	}
}
