.pagination {
    justify-content: flex-end;
    li {
        &:last-child { 
            a {
                border-bottom-right-radius: 8px;
                 border-top-right-radius: 8px 
            }
        }
        &:first-child { 
            a {
                border-bottom-left-radius: 8px;
                 border-top-left-radius: 8px 
            }
        }
        a {
            font: 400 14px/24px 'Inter', sans-serif;
            color: #868b8f;
            padding: 6px 12px;
            text-decoration: none;
            border: 1px solid #ADBAC7 !important;
            min-height: 42px;
            min-width: 42px;
            text-align: center;
            margin-right: 0;
            &:hover {
                color: #00A464;
            }
            svg {
                width: 12px;
                height: 12px;
                fill: #ADBAC7;
            }
            &:hover {
                svg {
                    fill: #00A464;
                }
            }
            span {
                font-size: 26px;
                color: #ADBAC7;
                font-weight: 400;
            }
        }
        &.active {
            a {
                font: 400 15px/26px 'Inter', sans-serif;
                color: #00A464;
                background: none;
                // border: 1px solid #bfcad4;
                border-color: #dee2e6;
                padding: 6px 12px;
                &:hover, &:focus, &:active {
                    box-shadow: none;
                }
            }
        }
        &.rightArrow {
           svg {
            transform: rotate(175deg);
           }
        }
    }
}