.promoShippingSec {
    padding: 20px 35px 0 45px;
      flex: 1 1 auto;
      height: 100%;
      background: #F8F9FB;
      @media screen and (max-width: 1450px) {
        padding: 10px 20px 0 0px;
    }
    @media (max-width:991px) {
        padding: 10px 15px ;
    }
      .promoShippingInner {
          h3 {
            font: 400 18px/24px 'Inter', sans-serif;
            color: #191818;
            @media (max-width:1450px) {
                font: 400 16px/20px 'Inter', sans-serif;
            }
            // @media (max-width:1450px) {}
          }
          .card {
              // height: 100%;
              border: none;
              &.bg-none {
                background: none;
              }
              // &.br.none {
  
              // }
              .inputWrap {
                background: #fff;
                // border-radius: 8px;
                padding: 15px;
                // height: 100%;
                input {
                    height: 40px;
                    border-radius: 8px;
                    border: 1px solid #BFCBD7;
                    font: 400 16px/24px 'Inter', sans-serif;
                    color: #191818;
                    @media (max-width:1450px) { 
                      height: 36px;
                      font: 400 14px/20px 'Inter', sans-serif;
                    }
                    &:focus, &:hover, &:active {
                      outline: none;
                      box-shadow: none;
                    }
                }
                textarea {
                    resize: none;
                    height: 100%;
                    border-radius: 8px;
                    border: 1px solid #BFCBD7;
                    font: 400 16px/24px 'Inter', sans-serif;
                    color: #191818;
                    min-height: 115px;
                    &:focus, &:hover, &:active {
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
              .form-group {
                margin-bottom: 15px;
                  label {
                      font: 300 14px/20px 'Inter', sans-serif;
                      color: #00A464;
                      @media (max-width:1450px) {
                          font: 400 13px/18px 'Inter', sans-serif;
                      }
                  }  
                  .clrblk{
                      color: #000;
                  }
                  .customSelect {
                    position: relative;
                    &::before {
                      content: '';
                      pointer-events: none;
                      // -webkit-transform: rotate(222deg);
                      // transform: rotate(222deg);
                      width: 13px;
                      height: 10px;
                      // border-top: 2px solid #000;
                      // border-left: 2px solid #000;
                      display: block;
                      position: absolute;
                      right: 15px;
                      top: 0;
                      margin: auto;
                      bottom: 0;
                      background-image: url(../../img/Polygon.svg);
                      background-repeat: no-repeat;
                      background-size: contain;
                    }
                    select {
                      -webkit-appearance: none;
                      -moz-appearance:    none;
                      appearance:         none;
                      height: 40px;
                      border-radius: 8px;
                      border: 1px solid #BFCBD7;
                      font: 400 16px/24px 'Inter', sans-serif;
                      color: #191818;
                    //   min-width: 120px;
                      @media (max-width:1450px) { 
                        height: 36px;
                        font: 400 14px/20px 'Inter', sans-serif;
                      }
                      &:focus, &:hover, &:active {
                        outline: none;
                        box-shadow: none;
                      }
                    }
                  }
                  .control-group {
                    position: relative;
                    i {
                      width: 16px;
                      height: 16px;
                      position: absolute;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                      right: 12px;
                      z-index: 1;
                      color:#BFCBD7 ;
                      -webkit-text-stroke-width: 0.5px;
                      -webkit-text-stroke-color: #fff;
                      cursor: pointer;
                    }
                    input {
                    //   padding-left: 32px;
                    }
                  }    
                  .checkBox {
                    padding-top: 40px;
                  }     
              }
              &.textEditor {
                  .form-group {
                      height: 100%;
                      .inputWrap {
                          height: 100%;
                      }
                  }
              }
          }  
      }  
  }
  
  .checkBox {
    position: relative;
    // padding-top: 40px;
    .styled-checkbox {
      position: absolute; // take it out of document flow
      opacity: 0; // hide it
    
      & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
      }
    
      // Box.
      & + label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        // background: #191818;
        border: 1px solid #00a464;
        border-radius: 5px;
      }
    
      // Box hover
      &:hover + label:before {
        background: #00a464;
      }
      
      // Box focus
      &:focus + label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
      }
    
      // Box checked
      &:checked + label:before {
        background: #00a464;
      }
      
      // Disabled state label.
      &:disabled + label {
        color: #b8b8b8;
        cursor: auto;
      }
    
      // Disabled box.
      &:disabled + label:before {
        box-shadow: none;
        background: #ddd;
      }
    
      // Checkmark. Could be replaced with an image
      &:checked + label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 10px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 
          2px 0 0 white,
          4px 0 0 white,
          4px -2px 0 white,
          4px -4px 0 white,
          4px -6px 0 white,
          4px -8px 0 white;
        transform: rotate(45deg);
      }
    }
  }     
  
  
 
  
  .rounded {
    border-radius: 8px !important;
  }
  
  $transition-default: 0.25s ease-out 0.10s;
  .button-switch {
    position: relative;
    width: 75px;
    height: 20px;
    .lbl-off,
    .lbl-on {
      cursor: pointer;
      display: block;
      font-size: 0.9em;
      font-weight: bold;
      line-height: 1em;
      position: absolute;
      top: 8 / 16 * 1em;
      transition: opacity $transition-default;
      text-transform: uppercase;
    }
  
    .lbl-off {
      right: 7 / 16 * 1em;
    }
  
    .lbl-on {
      color: #fff;
      opacity: 0;
      left: 7 / 16 * 1em;
    }
  
    .switch {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      // --
      height: 0;
      font-size: 1em;
      // left: 0;
      line-height: 0;
      outline: none;
      position: absolute;
      top: 0;
      width: 0;
  
      &:before,
      &:after {
        content: '';
        font-size: 1em;
        position: absolute;
        cursor: pointer;
      }
  
      &:before {
        border-radius: 20 / 16 * 1em;
        background: #b2bec5;
        height: 22px;
        left: 5px;
        top: 6px;
      //   transition: background-color $transition-default;
        width: 38px;
        height: 10px;
      }
  
      &:after {
        box-shadow: 0 .0625em .375em 0 #666;
        border-radius: 50%;
        background: #22BCAC;
      //   transform: translate(0, 0);
        transition: transform $transition-default;
        width: 22px;
        height: 22px;
        transform: translate(0em, 0);
      }
  
      &:checked {
        &:after {
          transform: translate(1.6em, 0);
          background: #00A464;
        }
  
        & ~ .lbl-off {
          opacity: 0;
        }
  
        & ~ .lbl-on {
          opacity: 1;
        }
      }
  
      &#switch-orange {
        &:checked:before {
          background: #b2bec5;
        }
      }
  
      &#switch-blue {
        &:checked:before {
          background: #b2bec5;
        }
      }
    }
  }

.form-control{
  border-radius: 8px !important;
}
.ng-select .ng-select-container{
  max-height: 20px !important;
  border-radius: 8px !important;
}


  .shwpercntg{
    display: flex;
    justify-content: center;
    background-color: #F1F7FB;
    margin-top: 27px;
    border-radius: 8px;
    padding: 10px;
    font-size: 12px;
}