.roleManagementSec {
    .invitationInner {
        .nav {
            @media screen and (max-width: 575px){ 
                flex-direction: column;
            }
            li {
                margin-right: 15px;
                @media screen and (max-width: 575px){ 
                    margin-right: 0;
                }
                a {
                    text-decoration: none;
                    padding: 15px 20px;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    color: #00A464;
                    margin-bottom: 0px;
                    font: 400 16px/20px 'Inter', sans-serif;
                    background: #fff;
                    @media screen and (max-width: 767px){  
                        padding: 10px 15px;
                        font: 400 13px/8px 'Inter', sans-serif;
                    }
                    @media screen and (max-width: 575px){                  
                        display: block;
                        padding: 20px;
                        width: 100%;
                    }
                    &.active {
                            color: #191818;
                            background: #EBF0F4;
                    }
                }
            }
        }
        .tab-content {

            .table-responsive {
                table {
                    tbody {
                        tr {
                            td {
                                
                                &.active {
                                    color: #00A464;
                                }
                                &.pending {
                                    color: #22BCAC;
                                }
                                span.permissionLabel {
                                    display: inline-block;
                                    border: 1px solid #E5E9ED;
                                    /* background: red; */
                                    border-radius: 6px;
                                    padding: 5px;
                                    margin-right: 5px;
                                    margin-bottom: 3px;
                                    margin-top: 3px;
                                    color: #191818;
                                    min-height: 30px;
                                    font: 400 10px/18px 'Inter', sans-serif;
                                    &.active {
                                        border: 1px solid #00A464;  
                                        background: #00A464 ;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
  
}

