.rulesMngtsSec {
    padding: 20px 35px 0 45px;
      flex: 1 1 auto;
      height: 100%;
      background: #F8F9FB;
      @media screen and (max-width: 1450px) {
        padding: 5px 20px 0 30px;
    }
    @media (max-width:991px) {
        padding: 10px 15px ;
    }
      .rulesMngtInner {
        .shippingHead{
          display: flex;
          justify-content: flex-end;
          h3 {
            font: 400 18px/24px 'Inter', sans-serif;
            color: #191818;
            @media (max-width:1450px) {
                font: 400 16px/20px 'Inter', sans-serif;
            }
            // @media (max-width:1450px) {}
          }
          // .btn-preview{
          //   color: #fff;
          //   background: #41de85;
          //   border: 1px solid #41de85;
          //   background: linear-gradient(90deg, #41de85 0%, #3bcca3 50%, #37c1b8 100%);
          //   font: 500 14px/22px "Inter", sans-serif;
          //   text-transform: uppercase;
          //   min-width: 135px;
          //   height: 42px;
          //   border: none;
          //   border-radius: 8px;
          //   @media (max-width:1450px) {
          //     font: 500 12px/20px "Inter", sans-serif;
          //     min-width: 115px;
          //     height: 38px;
          //   }
          //   img{
          //     padding-right: 18px;
          //     padding-bottom: 4px;
          //   }
          // }
        }
         
        .card {
              // height: 100%;
              border: none;
              background-color: transparent;
              &.bg-none {
                background: none;
              }
              // &.br.none {
  
              // }
              .inputWrap {
                // border-radius: 8px;
                // padding: 15px;
                // height: 100%;
                input {
                    height: 40px;
                    border-radius: 8px;
                    border: 1px solid #BFCBD7;
                    font: 400 16px/24px 'Inter', sans-serif;
                    color: #191818;
                    @media (max-width:1450px) { 
                      height: 36px;
                      font: 400 14px/20px 'Inter', sans-serif;
                    }
                    &:focus, &:hover, &:active {
                      outline: none;
                      box-shadow: none;
                    }
                }
                textarea {
                    resize: none;
                    height: 100%;
                    border-radius: 8px;
                    border: 1px solid #BFCBD7;
                    font: 400 16px/24px 'Inter', sans-serif;
                    color: #191818;
                    min-height: 130px;
                    &:focus, &:hover, &:active {
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
              .form-group {
                margin-bottom: 5px;
                  label {
                      font: 600 14px/20px 'Inter', sans-serif;
                      color: #00A464;
                      padding-bottom: 10px;
                      @media (max-width:1450px) {
                          font: 600 13px/18px 'Inter', sans-serif;
                      }
                  }  
                  .customSelect {
                    position: relative;
                    &::before {
                      content: '';
                      pointer-events: none;
                      // -webkit-transform: rotate(222deg);
                      // transform: rotate(222deg);
                      width: 13px;
                      height: 10px;
                      // border-top: 2px solid #000;
                      // border-left: 2px solid #000;
                      display: block;
                      position: absolute;
                      right: 15px;
                      top: 0;
                      margin: auto;
                      bottom: 0;
                      background-image: url(../../img/Polygon.svg);
                      background-repeat: no-repeat;
                      background-size: contain;
                    }
                    select {
                      -webkit-appearance: none;
                      -moz-appearance:    none;
                      appearance:         none;
                      height: 40px;
                      border-radius: 8px;
                      border: 1px solid #BFCBD7;
                      font: 400 16px/24px 'Inter', sans-serif;
                      color: #191818;
                      min-width: 120px;
                      @media (max-width:1450px) { 
                        height: 36px;
                        font: 400 14px/20px 'Inter', sans-serif;
                      }
                      &:focus, &:hover, &:active {
                        outline: none;
                        box-shadow: none;
                      }
                    }
                  }
                  .control-group {
                    position: relative;
                    margin-bottom: 10px;
                    i {
                      width: 16px;
                      height: 16px;
                      position: absolute;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                      right: 12px;
                      z-index: 1;
                      color:#BFCBD7 ;
                      -webkit-text-stroke-width: 0.5px;
                      -webkit-text-stroke-color: #fff;
                      cursor: pointer;
                    }
                    img {
                      width: 16px;
                      height: 16px;
                      position: absolute;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                      right: 12px;
                      z-index: 1;
                      color:#BFCBD7 ;
                      -webkit-text-stroke-width: 0.5px;
                      -webkit-text-stroke-color: #fff;
                      cursor: pointer;
                    }
                    input {
                    //   padding-left: 32px;
                    }
                  }    
                  .checkBox {
                    padding-top: 40px;
                  }     
              }
            &.textEditor {
                .form-group {
                      height: 100%;
                    .inputWrap {
                          height: 100%;
                    }
                }
            }
        }
        .bigBoxwrapper{
          // padding: 20px;
          margin-bottom: 30px;
          h4{
            font: 600 15px/20px "Inter", sans-serif;
            margin-bottom: 20px;
            @media (max-width:1450px) { 
              font: 600 14px/19px "Inter", sans-serif;
            }
          }
          .bigBoxInner{
            background-color: #fff;
            padding: 30px 30px 10px 30px;
            border-radius: 10px;
            .bigBoxboxes{
              display: flex;
              .item.smallBox{
                width: 100%;
              }
              .smallBox{
                background-color: #c0ccd82b;
                width: 25%;
                padding: 15px;
                border-radius: 10px;
                margin-right: 15px;
                &:last-child{
                  margin-right: 0;
                }
                .boxTitle{
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  h5{
                    font: 400 16px/18px "Inter", sans-serif;
                    margin-bottom: 0;
                  }
                  span{

                  }
                }
                .imgBox{
                  display: flex;
                  justify-content: space-between;
                  background-color: #fff;
                  padding: 10px;
                  border-radius: 10px;
                  margin-top: 12px;
                  img{
                    height: 102px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 10px;
                    width: 50%;
                    padding: 0 3px;
                    @media(max-width:1440px){
                      height: 74px;
                    }
                  }
                }
                .boxList{
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  ul{
                    list-style: none;
                    width: 100%;
                    margin-right: 12px;
                    &:last-child{
                      margin-right: 0;
                    }
                    li{
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      font: 400 13px/30px "Inter", sans-serif;
                    }
                  }
                }
              }
            }
            .owl-carousel.bigBoxboxes{
              .owl-nav{
                button{
                  position: absolute;
                  top: 50%;
                  background-color: #000;
                  margin: 0;
                  transition: all 0.3s ease-in-out;
                  transform: translateY(-50%);
                  background: rgba(255, 255, 255, 0.38) !important;
                  &:focus{
                    outline: none;
                  }
                }
                .owl-prev{
                  left: -20px;
                  span{
                    background-image: url(../img/slider-left-ar.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    color: transparent;
                    font-size: 40px;
                  }
                }
                .owl-next{
                  right: -20px;
                  span{
                    background-image: url(../img/slider-right-ar.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    color: transparent;
                    font-size: 40px;
                  }
                }
              }
            }
          }
          .smallBoxInner{
            .bigBoxboxes{
              background-color: #c0ccd82b;
              z-index: 9;
              .smallBoxboxes{
                background-color: transparent;
                padding: 10px;
                margin-right: 0;
                position: relative;
                .imgBox{
                  background-color: transparent;
                  margin-top: 0;
                  img{
                    height: 175px;
                    width: 100%;
                    padding: 0;
                    object-fit: cover;
                    object-position: center;
                  }
                }
                .boxTitle{
                  position: absolute;
                  bottom: 0px;
                  left: 0;
                  right: 0;
                  padding: 10px;
                  background-color: #f4f6f8;
                  opacity: 62%;
                  margin: 0px 20px 15px;
                  color: #191818;
                  h5{

                  }
                }
              }
            }
            // .owl-carousel.bigBoxboxes{
            //   .owl-nav{
            //     button{
            //       position: absolute;
            //       top: 50%;
            //       background-color: #000;
            //       margin: 0;
            //       transition: all 0.3s ease-in-out;
            //       transform: translateY(-50%);
            //       background: rgba(255, 255, 255, 0.38) !important;
            //       &:focus{
            //         outline: none;
            //       }
            //     }
            //     .owl-prev{
            //       left: -20px;
            //       span{
            //         background-image: url(../img/slider-left-ar.svg);
            //         background-position: center;
            //         background-repeat: no-repeat;
            //         background-size: contain;
            //         color: transparent;
            //         font-size: 40px;
            //       }
            //     }
            //     .owl-next{
            //       right: -20px;
            //       span{
            //         background-image: url(../img/slider-right-ar.svg);
            //         background-position: center;
            //         background-repeat: no-repeat;
            //         background-size: contain;
            //         color: transparent;
            //         font-size: 40px;
            //       }
            //     }
            //   }
            // }
          }
        }
    }
}

.bigBanner{
  .upload-area {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 2px dashed rgba(51, 51, 51, 0.897);
    height: 200px;
    background-color: rgba(37, 36, 36, 0.233);
  }

  .loading-area {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 200px;
  }

  .upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100% !important;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }

  .upload-text {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .upload-text span {
    text-align: center;
    width: 100%;
  }

  .loading-img {
    display: flex;
    align-self: center;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: auto;
  }

  .loaded-area {
    position: relative;
    background-color: rgba($color: #b3afaf, $alpha: 0.3);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    cursor: pointer;
    display: flex;
  }

  .loaded-img {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    // height: 195px;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  .loaded-area span {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    color: white;
    font-size: 14px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    h3{
      font: 400 55px/79px "Inter", sans-serif;
      margin-bottom: 0;
    }
    p{
      font: 400 12px/16px "Inter", sans-serif;
      margin-bottom: 15px;
    }
    .btn-shopNow{
      color: #191818;
      font: 700 11px/15px "Inter", sans-serif;
      background-color: #fff;
      border: none;
      padding: 12px 35px;
    }
  }

  .loaded-area:hover {
    background-color: #000;
  }

  .loaded-area:hover img {
    opacity: 0.2;
  }

  .loaded-area:hover span {
    opacity: 1;
  }

  .loaded-area .loaded-button {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    color: white;
    font-size: 14px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .loaded-area:hover .loaded-button {
    opacity: 1;
  }
}

.bigBannerbox{
  background-color: transparent !important;
  flex: 0 0 33%;
  flex-wrap: wrap;
  .bigBnr{
    width: 33% !important;
    .imgBox{
      img{
        height: 100% !important;
        border-radius: 10px;
      }
    }
    .boxTitle{
      position: unset !important;
      background-color: transparent !important;
      opacity: 1 !important;
      justify-content: flex-start !important;
      margin: 0 !important;
      h5{
        padding-right: 50px;
      }
      span{
        img{
          max-width: 18px;
        }
      }
    }
  }
}
// big box 022 
.bigBox2{
  background-color: transparent !important;
  flex: 0 0 50%;
  flex-wrap: wrap;
  .bigBx{
    width: 50% !important;
    .imgBox{
      img{
        height: 301px !important;
        border-radius: 10px;
        width: 100%;
      }
    }
    .boxTitle{
      position: unset !important;
      background-color: transparent !important;
      opacity: 1 !important;
      justify-content: flex-start !important;
      margin: 0 !important;
      h5{
        padding-right: 50px;
      }
      span{
        img{
          max-width: 18px;
        }
      }
    }
  }
}

#banner-carousel{
  .owl-nav{
    .owl-prev{
      left: 40px;
      background-color: transparent;
      background: transparent !important;
        span{
          background-image: url(../img/slider-left-wh.svg);
        }
    }
    .owl-next{
      right: 40px;
      background-color: transparent;
      background: transparent !important;
      span{
        background-image: url(../img/slider-right-wh.svg);
      }
    }
  }
}

// carouse

// .owl-nav button {
  
// }
// .owl-nav button.owl-prev {
//   left: 0;
// }
// .owl-nav button.owl-next {
//   right: 0;
// }
// .owl-nav button {
//     position: absolute;
//     top: 50%;
    
// }

// .owl-nav button:focus {
//     outline: none;
// }
