.SalesetupManagementSec {
    .invitationInner {
       
        .tab-content {
        
            .table-responsive {
                table {
                    td:last-child {
                        vertical-align: baseline;
                    }
                }
            }
        }
    }
  
}

.button-switch {
  width: 105px;
}

// filter 

.FeaturedSec{
    align-items: center;
    display: flex;
    margin-left: 25px;
    flex: auto;
    position: relative;
    a{
        text-decoration: none;
        span{
            font: 400 15px/20px "Inter", sans-serif;
            color: #858585;
            i{
                font-size: 14px;
                color: #858585;
            }
        }
    }
}
.sale-setup{
    .form-group{
        position: relative;
        i{
            width: 16px;
            height: 0px;
            position: absolute;
            top: 17px;
            bottom: 0px;
            margin: auto;
            right: 12px;
            z-index: 1;
            color: #bfcbd7;
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: #fff;
            cursor: pointer;
        }
        img{
            width: 20px;
            position: absolute;
            top: 33px;
            bottom: 0px;
            margin: auto;
            right: 12px;
            z-index: 1;
            color: #bfcbd7;
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: #fff;
            cursor: pointer;
        }
    }
}

.modal-footer{
    .btn-outline{
        color: #191818 !important;
        background: transparent !important;
        border: 1px solid #bfcbd7 !important;
        margin-right: 10px !important;

    }
}

  // radio button 

  .custom-radios {
    padding: 0 12px;
    div {
      display: flex;
      justify-content: space-between;
    }
  
    input[type="radio"] {
      display: none;
  
      + label {
        color: #333;
        font-family: "Inter", sans-serif ;
        font-size: 14px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        span {
          display: inline-block;
          width: 20px;
          height: 20px;
          margin: -1px 4px 0 30px;
          vertical-align: middle;
          cursor: pointer;
          border-radius: 50%;
          // border: 2px solid #FFFFFF;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
          background-repeat: no-repeat;
          background-position: center;
          text-align: center;
          line-height: 44px;
      
          img {
            opacity: 0;
            transition: all .3s ease;
            max-width: 14px;
          }
        }
      }
  
      &#color-1 + label span {
        // background-color: #48a737;
      }
  
      &#color-2 + label span {
        // background-color: #48a737;
      }
      &.checked + label span{
        background-color: #00A464;
      }
  
      &:checked + label span img {
        opacity: 1;
      }
    }
  }

