// side-nav
.side-nav.expandnavbar
{
    .navclose
    {
        display:none;
    }
    .logo-small
    {
        display:block ;
        img
        {
            width: 30px;
            height: 30px;
        }
    }
    .menu
    {
        display:none !important;
    }
    .logo-large
    {
        display:none !important;
    }
    footer
    {
        display:none !important;
    }
    .navList
    {			
        // margin-top: 30px;
    }
}
.side-nav {
    padding: 20px 0px 0px 0px;
    position: fixed;
    background: #576067;
    z-index: 10;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
        display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 315px;

    .logo-small {
        display: none;
    }
    .Toggle {
        display: none;
        @media (min-width:901px){
            display: block;
        }
    }
    &.expandSideNav {
        width: 100px;
        .logoWrapper {
            padding-right: 0 !important;
        }
        .logo-large {
            display: none;
        }
        .logo-small {
            display: block;
        }
        .navList {
            li {
                &.active::before {
                    display: none;
                }
                a {
                    span.menu {
                        display: none;
                    }
                    &:before {
                        display: none;
                    }
                }
            }
            .list-unstyled {
                position: absolute;
                left: 100px;
                top: 0;
                padding: 0;
                -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.2);
                min-width: 150px;
                padding: 10px;
                li.active a::before {
                    display: none;
                }
            }
        }
    }
    @media (max-width:1450px){
        width: 250px;
    }
    @media (max-width:900px){
        -webkit-transform: translate(-275px, 0);
        transform: translate(-275px, 0);
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }
    .navbar-brand
    {
        display:block;
        position: relative;
        margin: 0;
        padding: 0px 0px 0px 30px;
        height: 65px;
        @media (max-width:1450px) {
            padding: 0px 0px 0px 30px;
        }
        .logoWrapper {
            display: flex;
            justify-content: space-between;
            padding-right: 15px;
            .Toggle {
                background: transparent;
                border: none;
                box-shadow: none;
                font-size: 22px;
                display: none;
                @media (min-width:901px){
                    display: block;
                }
            }
        }
        img
        {
            width: 155px;
            @media (max-width:1679px)
            {
                width: 150px;
            }
        }
        .navclose {
            position: absolute;
            right: 10px;
            top: 13px;
            // display: none;
            cursor: pointer;
            border: none;
            background: none;
            outline: none;
            color: #696666;
            i
            {
                font-size: 23px;
                @media (max-width:1679px)
                {
                    font-size: 20px;
                }
            }
        }
        // .logo-small
        // {
        //     display:none;
        // }
        
    }
    .navList {
        flex: 1 1 auto;
        margin-top: 25px;
        min-height: 100%;
        // overflow: auto;
        // background: red;
        padding-bottom: 60px;
        &::-webkit-scrollbar {
            width: 5px;
            // background: yellow;
        }
        &::-webkit-scrollbar-track {
            background:  #f3f3f3;
        }
        &::-webkit-scrollbar-thumb {
            background:#cdcdcd;
        }
        &::-webkit-scrollbar-thumb:hover {
            background:#cdcdcd;
        }
        @media (max-width:1450px) {
            padding-right: 0px;
        }
        @media (max-width:991px) {
            margin-top: 0;
        }
        .storeName{
            background-color: #4c555b;
            padding: 7px 0px;
            margin-bottom: 25px;
        }
        li {
            margin-bottom: 9px;
            // border-bottom: 1px solid #eeeeee;
            position: relative;
            .open-menu
            {
                .nav-link {
                    padding: 7px 10px 7px 30px;
                    position: relative;
                    i {
                        width: 100%;
                        font-size: 13px;
                        display: flex;
                        justify-content: flex-end;
                        padding-right: 20px;
                    }
                }
            }
            ul.list-unstyled {
                padding-left: 50px;
                background: #4C555B;
                padding-top: 10px;
                padding-bottom: 10px;
                li {
                    margin-bottom: 0;
                    a {
                        color: #A1AFB8 !important;
                        background: #4C555B;
                        padding: 5px 10px;
                        &:hover {
                            color: #00A464 !important;
                        }
                        &.active{
                            color: #00A464 !important;
                        }
                    }
                    &.active {
                        background: #4C555B;
                        &::before {
                            display: none;
                        }
                        // a {
                        //     position: relative;
                        //     &::before {
                        //         content: '';
                        //         width: 15px;
                        //         height: 2px;
                        //         background: #00A464;
                        //         position: absolute;
                        //         left: -10px;
                        //         right: initial;
                        //     }
                        // }
                    }
                }
            }
            &.active {
                .open-menu {
                    // background: #F6F9FB;
                    // background: rgb(2,165,96);
                    // background: linear-gradient(90deg, rgba(2,165,96,1) 0%, rgba(16,175,134,1) 66%, rgba(26,183,156,1) 100%);
                    // border-bottom-right-radius: 15px;
                    // border-top-right-radius: 15px;
                }
                position: relative;

                a {
                    position: relative;
                    // background: rgb(2,165,96);
                    // background: linear-gradient(90deg, rgba(2,165,96,1) 0%, rgba(16,175,134,1) 66%, rgba(26,183,156,1) 100%);
                    border-bottom-right-radius: 15px;
                    border-top-right-radius: 15px;
                    color: #00A464 !important;
                    &:hover {
                        color: #00A464 !important;
                        span {
                            color: #00A464;
                        }
                        svg {
                            fill: #00A464 !important;        
                        }
                    }
                    // &::before {
                    //     content: '';
                    //     background: #fff;
                    //     width: 10px;
                    //     height: 10px;
                    //     border-radius: 50px;
                    //     position: absolute;
                    //     right: 15px;
                    //     top: 0;
                    //     bottom: 0;
                    //     margin: auto;
                    //     @media (max-width:767px){
                    //         display: none;
                    //     }
                    // }
                }
                svg
                {
                    fill: #00A464 !important;
                }
                    
            }
            a
            {
                &:hover{
                    span {
                        color: #00A464;
                    }
                    svg
                    {
                        fill: #00A464 !important;
                    }
                    
                }
            }
            
            .dropdown-toggle::after
            {
                content:none;
            }
            .open-menu
            {
                // padding: 12px 0px 12px 20px;
                display: block;
                width: 100%;
                // @media (max-width:1450px) {
                //     padding: 12px 0px 16px 20px;
                // }
                svg
                {
                    height: 20px;
                    width: 20px;
                    fill:#A1AFB8;
                    flex-shrink: 0;
                    
                    
                    @media (max-width:1679px)
                    {
                        height: 17px;
                        width: 17px;
                    }
                }
                .menu
                {
                    padding-left: 11px;
                    width: 100%;
                }
            }
            a
            {
                padding: 7px 10px 7px 30px;
                color: #A1AFB8;
                text-decoration: none;
                align-items: center;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                font:400 16px/21px 'Inter', sans-serif;
                
                @media (max-width:1679px)
                {
                    font:400 14px/20px 'Inter', sans-serif;
                }
            }
            span.sub-menu.open-sub-menu:last-child {
                border-bottom: 1px solid #eee;
                padding-bottom: 13px;
            }
            .dropdown-menu
            {
                border: none !important;
                color: #7d7e9d !important;
                transform: none !important;
                position: static !important;
                padding: 0;
                min-width: auto !important;
                /* padding: 8px 20px; */
                background: #fff;
                width: 100%;
                border-radius: 0;
                margin-top: 11px;
                .dropdown-item
                {
                    padding-left: 57px; 
                }
            }
            .nav-drp.dropdown-toggle 
            {
                .open-menu
                {
                    &:hover
                    {
                        color: #00A464 !important;
                    }
                }
            }
            .open-sub-menu
            {
                display: block;
                .open-menu
                {
                    padding: 0px !important;
                }
                
                a.dropdown-item
                {
                    &.active
                    {
                        background: transparent;
                        color: #00A464 !important;
                        svg
                        {
                            fill: #00A464;
                        }
                    }
                    &:hover
                    {
                        color: #00A464 !important;
                    }
                    i.fas.fa-circle
                    {
                        font-size: 6px;
                        color: #00A464;
                        margin-right: 7px;
                    }
                }
            }
        }
    }
}



