.StaffManagementSec {
    padding: 0px 35px 0 45px !important;
    flex: 1 1 auto;
    height: 100%;
    background: #F8F9FB;
    @media screen and (max-width: 1450px) {
        padding: 0px 20px 0 0px !important;
    }
    @media (max-width:991px) {
        padding: 10px 15px ;
    }
    .right-list
    {
      padding: 5px 0;
    }
    .invitationInner {
        .nav {
            @media screen and (max-width: 575px){ 
                flex-direction: column;
            }
            li {
                margin-right: 15px;
                @media screen and (max-width: 575px){ 
                    margin-right: 0;
                }
                a {
                    text-decoration: none;
                    padding: 15px 20px;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    color: #00A464;
                    margin-bottom: 0px;
                    font: 400 16px/20px 'Inter', sans-serif;
                    background: #fff;
                    @media screen and (max-width: 767px){  
                        padding: 10px 15px;
                        font: 400 13px/8px 'Inter', sans-serif;
                    }
                    @media screen and (max-width: 575px){                  
                        display: block;
                        padding: 20px;
                        width: 100%;
                    }
                    &.active {
                            color: #191818;
                            background: #EBF0F4;
                    }
                }
            }
        }
        .tab-content {
            .table-responsive {
                table {
                  tbody {
                    tr {
                        td {
                            &.active {
                                color: #00A464;
                            }
                            &.pending {
                                color: #22BCAC;
                            }
                        }
                    }
                  }
                }
            }
        }
    }
  
}

.button-switch {
  width: 70px;
}


