.UserManagementSec {
    padding: 20px 35px 0 45px;
    flex: 1 1 auto;
    height: 100%;
    background: #F8F9FB;
    @media screen and (max-width: 1450px) {
        padding: 10px 20px 0 30px;
    }
    @media (max-width:991px) {
        padding: 10px 15px ;
    }
    .table-top-menu
    {
        .outer-sec-menu
        {
            justify-content:space-between;
            align-items: center;
            .outer-sec-Head {
                h3 {
                    margin-bottom: 0px;
                    font: 400 20px/24px 'Inter', sans-serif;
                    @media (max-width:1450px) {
                        font: 400 18px/20px 'Inter', sans-serif;
                    }
                    @media (max-width:991px) {
                        font: 400 16px/20px 'Inter', sans-serif;
                    }
                }
            }
            .right-list
            {
                .button-add
                {
                    button
                    {
                        background: transparent;
                        color: #ADBAC7;
                        border: none;
                        border-radius: 5px;
                        padding: 7px 17px;
                        min-width: 150px;
                        height: 40px;
                        font: 400 14px/20px 'Inter', sans-serif;
                        border: 1px solid #ADBAC7;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        align-items: center;
                        border-radius: 8px;
                        text-transform: uppercase;
                        &:hover{
                            background: transparent;
                            color: #ADBAC7;
                        }
                        i
                        {
                            color: #22BCAC;
                            padding-right: 0;
                            background: #fff;
                            width: 25px;
                            height: 25px;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 10px;
                            border-radius: 50px;
                            -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.10);
                            -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.10);
                            box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.10);
                        }
                        @media screen and (max-width: 1450px) {
                            font: 300 13px/15px "Inter", sans-serif;    
                      }
                    }
                }
            }
        }
    }
    .invitationInner {
        .nav {
            @media screen and (max-width: 575px){ 
                flex-direction: column;
            }
            li {
                margin-right: 15px;
                @media screen and (max-width: 575px){ 
                    margin-right: 0;
                }
                a {
                    text-decoration: none;
                    padding: 15px 20px;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    color: #00A464;
                    margin-bottom: 0px;
                    font: 400 16px/20px 'Inter', sans-serif;
                    background: #fff;
                    @media screen and (max-width: 767px){  
                        padding: 10px 15px;
                        font: 400 13px/8px 'Inter', sans-serif;
                    }
                    @media screen and (max-width: 575px){                  
                        display: block;
                        padding: 20px;
                        width: 100%;
                    }
                    &.active {
                            color: #191818;
                            background: #EBF0F4;
                    }
                }
            }
        }
        .tab-content {
            .table-responsive {
                table {
                    .EditRoleBtn {
                        color: #8E9FAA;
                        border: 1px solid #8E9FAA;
                        font: 400 14px/20px 'Inter', sans-serif;
                        background: transparent;
                        min-width: 100px;
                        height: 33px;
                        outline: none;
                        box-shadow: none;
                        border-radius: 8px;
                        text-transform: uppercase;
                        &:hover, &:active {
                            color: #fff;
                            border: 1px solid #00A464;
                            background: #00A464;
                        }
                        @media screen and (max-width: 1450px) {
                            font: 300 13px/15px "Inter", sans-serif;    
                            height: 28px;
                        }
                    }
                }
            }
        }
    }
  
}



$transition-default: 0.25s ease-out 0.10s;
.button-switch {
  position: relative;
  width: 75px;
  height: 20px;
  .lbl-off,
  .lbl-on {
    cursor: pointer;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1em;
    position: absolute;
    top: 8 / 16 * 1em;
    transition: opacity $transition-default;
    text-transform: uppercase;
  }

  .lbl-off {
    right: 7 / 16 * 1em;
  }

  .lbl-on {
    color: #fff;
    opacity: 0;
    left: 7 / 16 * 1em;
  }

  .switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    // --
    height: 0;
    font-size: 1em;
    // left: 0;
    line-height: 0;
    outline: none;
    position: absolute;
    top: 0;
    width: 0;

    &:before,
    &:after {
      content: '';
      font-size: 1em;
      position: absolute;
      cursor: pointer;
    }

    &:before {
      border-radius: 20 / 16 * 1em;
      background: #b2bec5;
      height: 22px;
      left: 5px;
      top: 6px;
    //   transition: background-color $transition-default;
      width: 38px;
      height: 10px;
    }

    &:after {
      box-shadow: 0 .0625em .375em 0 #666;
      border-radius: 50%;
      background: #22BCAC;
    //   transform: translate(0, 0);
      transition: transform $transition-default;
      width: 22px;
      height: 22px;
      transform: translate(0em, 0);
    }

    &:checked {
      &:after {
        transform: translate(1.6em, 0);
        background: #00A464;
      }

      & ~ .lbl-off {
        opacity: 0;
      }

      & ~ .lbl-on {
        opacity: 1;
      }
    }

    &#switch-orange {
      &:checked:before {
        background: #b2bec5;
      }
    }

    &#switch-blue {
      &:checked:before {
        background: #b2bec5;
      }
    }
  }
}
