/* login-page */
.otr-wraper {
  width: 100%;
  float: left;
  height: 100vh;
  position: relative;
}

.login-strip {
  background: #eeedeb;
  height: 100%;
  align-items: center;
}
.login-strip .container {
  max-width: 1030px;
}
.login-strip .form-control {
  height: 55px;
  padding: 7px 11px;
  border-radius: 5px;
}

.fld-cvr .form-group:first-child .form-control {
  border-radius: 5px 5px 0 0;
  border-bottom: 0;
}

.fld-cvr .form-group:last-child .form-control {
  border-radius: 0 0 5px 5px;
}

.login-cover {
  background: #fff;
  border: 1px solid #ccc;
  padding: 65px 65px 105px 65px;
  width: 100%;
  max-width: 1030px;
}
@media (max-width: 1600px) {
  .login-cover {
    max-width: 920px;
  }
}
@media (max-width: 980px) {
  .login-cover {
    max-width: 90%;
  }
}
.login-cover h3,
.login-cover .h3 {
  font-size: 32px;
  margin: 50px 0 25px 0;
}
.login-cover .primary-btn-style {
  width: 100%;
  max-width: 300px;
}
.login-cover .checkbox label {
  font-weight: 400;
  color: #4a4a4a;
  margin: 0;
}
@media (max-width: 840px) {
  .login-cover {
    padding: 40px;
  }
}
@media (max-width: 567px) {
  .login-cover .logo-cover {
    text-align: center;
  }
}
@media (max-width: 840px) {
  .login-cover .logo-cover img {
    max-width: 200px;
  }
}

.forgot-password a {
  color: #c8c8c8;
  font-size: 14px;
}
@media (max-width: 1024px) {
  .forgot-password a {
    font-size: 11px;
  }
}
@media (max-width: 567px) {
  .forgot-password a {
    float: left;
    font-size: 11px;
  }
}

.img-cvr {
  position: relative;
  height: 100%;
}
.img-cvr img {
  position: absolute;
  left: -60%;
  max-width: 540px;
  top: 0;
  bottom: 0;
  margin: auto;
}
@media (max-width: 1280px) {
  .img-cvr img {
    max-width: 130%;
    left: -28%;
  }
}
@media (max-width: 767px) {
  .img-cvr {
    display: none;
  }
}

/* login-page ends */

/*# sourceMappingURL=login.css.map */
