/*$poppinslight: 'poppinslight';
$poppinsmedium: 'poppinsmedium';*/
/* side-nav */
.side-logo-cvr {
  padding: 15px;
}

.side-nav {
  background: #fff;
  max-width: 320px;
  height: 100%;
  box-shadow: 4px 0 5px rgba(0, 0, 0, 0.07);
  position: fixed;
  left: 0;
  z-index: 2;
  width: 100%;
}
@media (max-width: 1600px) {
  .side-nav {
    max-width: 220px;
  }
}
@media (max-width: 840px) {
  .side-nav {
    display: none;
    width: 100%;
    max-width: 100%;
  }
}

nav {
  margin: 40px 0 0 0;
}
nav ul {
  padding: 0;
}
nav li a {
  min-height: 92px;
  font-size: 14px;
  list-style: none;
  border-bottom: 1px solid #eee;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: #384057;
}
nav li a:hover {
  color: #00a464;
  text-decoration: none;
}
nav li a i {
  margin: -4px 13px 0 0;
}
@media (max-width: 1480px) {
  nav li a i img {
    max-height: 18px;
  }
}
@media (max-width: 1600px) {
  nav li a {
    min-height: 70px;
    font-size: 13px;
  }
}

/* side-nav ends*/
.side-nav ul :not(collapsed) .arrow:before,
.side-nav li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.side-nav ul .sub-menu li,
.side-nav li .sub-menu li {
  border: none;
  line-height: 28px;
  margin-left: 0px;
}

.side-nav ul .sub-menu li:before,
.side-nav li .sub-menu li:before {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.side-nav li {
  padding-left: 0px;
  border-left: none;
  border-bottom: 1px solid #eee;
  min-height: 65px;
  display: flex;
  align-items: center;
}

.side-nav li a {
  text-decoration: none;
  color: #393939;
  font-size: 14px;
  padding-left: 10px;
}

.sub-menu {
  background: #eee;
}

.side-nav li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.side-nav li a i img {
  max-width: 20px;
}
.side-nav li a i .side-nav li {
  border-bottom: 1px solid #ccc;
}
.side-nav li a i .sub-menu li {
  border-bottom: 1px solid #dbdbdb !important;
}
.side-nav li a i .sub-menu li:last-child {
  border-bottom: 0 !important;
}

.side-nav li:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.side-nav li:hover a {
  color: #00a464;
}

@media (max-width: 767px) {
  .side-nav {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }

  .side-nav.toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }

  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .side-nav .menu-list .menu-content {
    display: block;
  }
}

/*# sourceMappingURL=side-nav.css.map */
