
@import "partials/variables";


.wht-card {
	border-radius: 8px;
	background: #fff;
	box-shadow: 0 3px 8px rgb(140 139 139 / 10%);
	margin: 15px 0;
	padding: 25px 25px 10px 25px;
	border: 1px solid #e2e2e2;
	h3,
	.h3 {
		font-size: 18px;
		font-weight: 600;
		line-height: 14px;
		color: #242635;
		line-height: 32px;
		margin: 0 0 20px 0;
	}
	label {
		font-size: 16px;
		font-weight: 500;
		outline: none;
		margin: 10px 0 0 0;
		color: #a6a6a6;
	}
	
	.date {opacity:0.5;}
	
	@media (max-width: 1480px) {
		h3,
		.h3 {
			font-size: 14px;
			line-height: 18px;
		}
		label {
			font-size: 12px;
		}
		
		.date img {max-width:15px;}
	}
	
	
}


.current-status {
	margin: 5px 0 0 0;
	width: 100%;
	align-items: center;
	 span,button , a {
		font-size: 16px;
		padding: 8px 12px;
		border-radius: 5px;
		border:0;
		color: #fff;
		margin: 0 5px 0 0;
		&.approved {
			background: $primary-color;
		}
		&.rejected {
			background: $negative-color;
		}
		@media (max-width: 1480px) {
			font-size: 10px;
			padding: 6px 8px;
		}

		
		
	}
	
	button:hover, a:hover {opacity:0.8;}
	
	&.btn-cvr {}
	
	span {
			
			&.approved {    
				background: #00a4640a;
				color: $primary-color;
				border: 1px solid $primary-color;
			}
			&.rejected {
				background: #ee4a0c05;
				color: $negative-color;
				border: 1px solid $negative-color;			
			}
			
			&.pending {
				background: #ffc10700;
				color: #ffc107;
				border: 1px solid #ffc107
			
			}
		
		}
}

.form-group {
    position: relative;
}

span.help-block {
     color: #ce646e;
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    float: right;
    left: 12px;
    bottom: 5px;
    z-index: 1;
}

/* seller page ends*/


