// Shared styles
.btn {
  position: relative;
  display: inline-block;
  padding: 9px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border-radius: 3px;
  user-select: none;
  -webkit-appearance: none; // Corrects inability to style clickable `input` types in iOS.

  &:focus {
    text-decoration: none;
    border: 0;
    outline: none;
  }

  &:focus:hover {
    border-color: #51a7e8;
  }

  &:hover,
  &:active {
    text-decoration: none;
    background-color: #ddd;
    background-image: linear-gradient(#eee, #ddd);
    border-color: #ccc;
  }

  &:active {
    background-color: #dcdcdc;
    background-image: none;
    border-color: #b5b5b5;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  }


  &:disabled,
  &.disabled {
    &,
    &:hover {
      color: rgba(102, 102, 102, 0.5);
      cursor: default;
      background-color: rgba(229, 229, 229, 0.5);
      background-image: none;
      border-color: rgba(197, 197, 197, 0.5);
      box-shadow: none;
    }
  }
}

// basic-green primary button
.btn-primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  background: $basic-green;

  &:hover {
    color: #fff;
    background: darken($basic-green, 5%);
  }

  &:active {
    background: darken($basic-green, 10%);
  }


  &:disabled,
  &.disabled {
    &,
    &:hover {
      color: #fefefe;
      background: #add39f;
    }
  }
}


// Outline button
//
// For when we need a linky-action that's not too heavy in busier
// areas like conversation timelines.
.btn-outline {
  color: $basic-green;
  background-color: #fff; // Reset default gradient backgrounds and colors
  background-image: none;
  border: 1px solid #e5e5e5;

  &:focus{
    border: 1px solid #e5e5e5;
  }

  &:hover,
  &:active {
    color: #fff;
    background-color: $basic-green;
    background-image: none;
    border-color: $basic-green;

  }


  &:disabled,
  &.disabled {
    &,
    &:hover {
      color: $gray;
      background-color: #fff;
      background-image: none;
      border-color: #e5e5e5;
    }
  }
}

// Minibutton overrides
//
// Tweak `line-height` to make them smaller.
.btn-sm {
  padding: 2px 10px;
}


// Full-width button
//
// These buttons expand to the full width of their parent container
.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}