// Base form controls
//
// Overrides for common inputs for easier styling.

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

label {
  font-size: 13px;
  font-weight: bold;
  outline: none;
  &:focus{
     outline: none;
  }
}

// input[type="text"],
// input[type="password"],
// input[type="email"],
// input[type="number"],
// input[type="tel"],
// input[type="url"],

input[type="text"], input[type="password"] , input[type="email"], input[type="number"], input[type="tel"], input[type="url"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-control{
  height: 38px;
  padding: 7px 8px;
  font-size: 13px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat; // Repeat and position set for form states (success, error, etc)
  background-position: right center;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  display: block;
  width: 100%;
  transition: all ease .1s;
  &.focus,
  &:focus {
    border-color: $basic-green;
    box-shadow: 0 0 5px rgba(81, 167, 232, 0.5);
  }
}

textarea{
  resize:none;
  height: auto;
}

.form-group {
  margin-bottom: 15px;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

// Inputs with contrast for easy light gray backgrounds against white.
// input.class is needed here to increase specificity over input[…]
input.input-contrast,
.input-contrast {
  background-color: #fafafa;

  &:focus { background-color: #fff; }
}

// Custom styling for HTML5 validation bubbles (WebKit only)
::placeholder {
  color: #aaa;
}

button,input[type="submit"]{
  &:focus,
  &.focus{
    outline: 0;
  }
}

//placeholder
.form-box {
  input:-moz-placeholder {
    opacity: 1; /* Firefox 18- */
    color: #333 !important;
  }
  input::-moz-placeholder {
  opacity: 1;  /* Firefox 19+ */ 
    color: #333 !important;
  }
  ::-webkit-input-placeholder {
    color: #333 !important;
    opacity: 1 !important; /* for chrome */
  }
  textarea:-moz-placeholder {
    opacity: 1; /* Firefox 18- */ 
    color: #333 !important;
  }
  textarea::-moz-placeholder {
    opacity: 1; /* Firefox 19+ */ 
    color: #333 !important;
  }
  ::-webkit-input-placeholder {   
    opacity: 1 !important; /* for chrome */
     color: #333 !important;
  }
}
