.outer-wraper {
	width: 100%;
	height: 100%;
	position: relative;
}

.navbar-toggler:not(:disabled):not(.disabled) {
	cursor: pointer;
	border: 0;
}


/*common-styles*/

h2 {
	font-size: 46px;
	font-weight: 600;
}

h3,
.h3 {
	font-size: 36px;
	font-weight: 600;
	line-height: 26px;
	color: #000;
	line-height: 32px;
}

p {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.primary-btn-style {
	color: #fff;
	border-radius: 5px;
	background: rgb(34, 188, 184);
	background: linear-gradient(90deg, #22bcb8 0%, #22bc54 100%);
	font-size: 16px;
	padding: 10px 38px;
	display: inline-block;
	&:hover {
		color: #fff;
		text-decoration: none;
		background: linear-gradient(90deg, #22bc54 0%, #22bcb8 100%);
		box-shadow: 0 0 5px #22bc5445;
	}
}

.primary-btn-style {
	border-radius: 5px;
	background: rgb(34, 188, 184);
	background: linear-gradient(90deg, #22bcb8 0%, #22bc54 100%);
	display: inline-block;
	position: relative;
	overflow: hidden!important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	z-index: 10;
}

.primary-btn-style:hover {
	color: #fff!important;
	text-decoration: none;
}

.primary-btn-style::before {
	content: '';
	width: 0%;
	height: 100%;
	display: block;
	background: linear-gradient(90deg, #22bcb8 0%, #22bc54 100%);
	position: absolute;
	-ms-transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
	transform: skewX(-20deg);
	left: -10%;
	opacity: 1;
	top: 0;
	z-index: -12;
	-moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
	-o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
	-webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
	transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
	box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.primary-btn-style::after {
	content: '';
	width: 0%;
	height: 100%;
	display: block;
	background: #80ffd3;
	position: absolute;
	-ms-transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
	transform: skewX(-20deg);
	left: -10%;
	opacity: 0;
	top: 0;
	z-index: -15;
	-webkit-transition: all .94s cubic-bezier(.2, .95, .57, .99);
	-moz-transition: all .4s cubic-bezier(.2, .95, .57, .99);
	-o-transition: all .4s cubic-bezier(.2, .95, .57, .99);
	transition: all .4s cubic-bezier(.2, .95, .57, .99);
	box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.primary-btn-style:hover::before,
.primary-btn-style:hover::before {
	opacity: 1;
	width: 116%;
}

.primary-btn-style:hover::after,
.primary-btn-style:hover::after {
	opacity: 1;
	width: 120%;
}

.secondary-btn-style {
	color: #0c1f18;
	background: #fff !important;
	border-radius: 5px;
	background: #fff;
	font-size: 16px;
	padding: 10px 38px;
	display: inline-block;
	position: relative;
	overflow: hidden!important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	z-index: 10;
}

.secondary-btn-style:hover {
	color: #fff!important;
	text-decoration: none;
}

.secondary-btn-style::before {
	content: '';
	width: 0%;
	height: 100%;
	display: block;
	background: linear-gradient(90deg, #22bcb8 0%, #22bc54 100%);
	position: absolute;
	-ms-transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
	transform: skewX(-20deg);
	left: -10%;
	opacity: 1;
	top: 0;
	z-index: -12;
	-moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
	-o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
	-webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
	transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
	box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.secondary-btn-style::after {
	content: '';
	width: 0%;
	height: 100%;
	display: block;
	background: #80ffd3;
	position: absolute;
	-ms-transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
	transform: skewX(-20deg);
	left: -10%;
	opacity: 0;
	top: 0;
	z-index: -15;
	-webkit-transition: all .94s cubic-bezier(.2, .95, .57, .99);
	-moz-transition: all .4s cubic-bezier(.2, .95, .57, .99);
	-o-transition: all .4s cubic-bezier(.2, .95, .57, .99);
	transition: all .4s cubic-bezier(.2, .95, .57, .99);
	box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.secondary-btn-style:hover::before,
.secondary-btn-style:hover::before {
	opacity: 1;
	width: 116%;
}

.secondary-btn-style:hover::after,
.secondary-btn-style:hover::after {
	opacity: 1;
	width: 120%;
}

.sub-hd {
	position: relative;
	&:before {
		content: "";
		background: #22bc55;
		height: 5px;
		position: absolute;
		bottom: -25px;
		width: 125px;
	}
}

li {
	list-style: none;
}

.switch {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 9px;
	border-radius: 55px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 8px;
	bottom: 0;
	background-color: #989898;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	bottom: -3px;
	position: absolute;
	margin: auto;
	box-shadow: 0 0 5px #bebebe;
}

input:checked+.slider:before {
	background-color: $primary-color;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(32px);
	-ms-transform: translateX(32px);
	transform: translateX(32px);
}


.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.ldr-otr {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    right: 0;
    top: 0;
	
	.ldr {
		position: absolute;
		width: 50px;
		height: 50px;
		margin: auto;
		right: 0;
		left: 0;
		top: 250px;
		bottom: auto;
	}
	
	
@keyframes animation {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
  }
  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
  }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
  }
}

#spinner {
  transform-origin: center;
  animation-name: animation;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier;
  animation-iteration-count: infinite;
}
}	


/*status css*/

.status-screen {text-align:center;

	&.wht-card {
	   flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 450px;
	}



}

.status-screen p {
	font-size: 14px;
    margin: 5px 0 15px 0;
    color: #9d9d9d;
}

.status-screen h4, .h4 {
	font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 26px;
    color: #000;
    line-height: 32px;
    text-align: center;
    margin: 15px 0 0 0 !important;
	

}

.go-back {
    margin: 10px auto 0 auto;
    padding: 8px 20px;
    color: $primary-color;
    display: inline-block;
    border-radius: 5px;
    font-size: 13px;
    display: inline-block;
    border: 1px solid $primary-color;
    background: #fff;
    font-weight: 500;
	
		&:hover {color: #fff; text-decoration: none; background: $primary-color;}
}


.wht-card {
	border-radius: 8px;
	background: #fff;
	// box-shadow: 0 3px 8px rgb(140 139 139 / 10%);
	margin: 15px 0;
	padding: 25px 25px 10px 25px;
	border: 1px solid #e2e2e2;
	h4,
	.h4 {
		font-size: 18px;
		font-weight: 600;
		line-height: 14px;
		color: #242635;
		line-height: 32px;
		margin: 0 0 20px 0;
	}
	label {
		font-size: 16px;
		font-weight: 500;
		outline: none;
		margin: 10px 0 0 0;
		color: #a6a6a6;
	}
	
	.date {opacity:0.5;}

	
	
}

.status {
    margin: 25px 0;
}

.status-screen svg {
	width: 65px;
    display: block;
    margin: 0 auto 20px;
    background: #fff;
    border: 3px solid #eee;
    border-radius: 100%;
    padding: 4px;
  }
  .path {
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
  }
  .path.circle {
	-webkit-animation: dash 0.9s ease-in-out;
	animation: dash 0.9s ease-in-out;
  }
  .path.line {
	stroke-dashoffset: 1000;
	-webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
	animation: dash 0.9s 0.35s ease-in-out forwards;
  }
  .path.check {
	stroke-dashoffset: -100;
	-webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
	animation: dash-check 0.9s 0.35s ease-in-out forwards;
  }
  p {
	text-align: center;
	margin: 20px 0 60px;
	font-size: 1.25em;
  }
  p.success {
	color:$primary-color
  }
  p.error {
	color:$negative-color;
  }
  @-webkit-keyframes dash {
	0% {
	  stroke-dashoffset: 1000;
	}
	100% {
	  stroke-dashoffset: 0;
	}
  }
  @keyframes dash {
	0% {
	  stroke-dashoffset: 1000;
	}
	100% {
	  stroke-dashoffset: 0;
	}
  }
  @-webkit-keyframes dash-check {
	0% {
	  stroke-dashoffset: -100;
	}
	100% {
	  stroke-dashoffset: 900;
	}
  }
  @keyframes dash-check {
	0% {
	  stroke-dashoffset: -100;
	}
	100% {
	  stroke-dashoffset: 900;
	}
  }

/*status-styles ends*/


/*common-styles ends*/


.btn-primary {
	border:0;
	font-weight: 500
}

.modal-content {
    border: 0;
    border-radius: 0.3rem;
	border-radius: 1px;
	box-shadow: 0 0 55px #2321218a;


	.close {
		float: right;
		opacity: .5;
		font-weight: 500;
		font-size: 22px;
	}
}

textarea.form-control {
    height: auto;
    padding: 15px;
}


.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
	padding: 25px 35px;
	
	label {
		font-size: 14px;
		font-weight: 600;
		outline: none;
	}


}


table {
    background: #fff;

	
	tr:nth-child(even) td {background: #f8f8f8;}

	tr, td, th {
		vertical-align: middle;
		padding: 8px 20px;
		font-size: 12px;
		font-weight: 500;
	}

	th {padding:20px;}

}


td, th {
	border-bottom: 5px solid #eee;
	color: #605959;
	&:first-child {}
}

.btn-primary {
    border: 0;
    font-weight: 500;
    border-radius: 4px;
	padding: 8px 20px;
	display: inline-block;
	font-size: 10px;			

		&:active , &:focus { background: $primary-color !important; box-shadow: none !important;}
}

.btn-secondary{
    border: 0;
    font-weight: 500;
    border-radius: 4px;
    padding: 8px 16px;
	font-size: 10px;
	border:1px solid $primary-color;
	color: $primary-color;;
	background: #fff;

	&:hover {background : $primary-color; 	border:1px solid $primary-color; }
}


/* seller page starts */

.inner-cvr {
	background: #eee;
	float: left;
	width:100%;
	height:100%;
}


.list-cover {
	padding: 35px;
	position: relative;
}

/* main-hdg-cvr */

.main-hdg-cvr {

	padding: 0 0 5px 0;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #242635;
	border-bottom:1px solid #DBDBDB;
	
		span { font-weight:500;}
		
			@media (max-width: 1480px) {
					font-size: 14px;
					
						i img {max-width:15px;}
			}

}


/* main-hdg-cvr ends*/

.content-bar {
	margin-left: 320px;
	width: 100%;	
	@media (max-width: 1600px) {
		margin-left:220px;
		padding: 0;
	}
	
	@media (max-width: 840px) {
		margin-left:0;
	}
	&.expandContentBar {
		margin-left: 100px !important;
	}
}
