.addProductsSec {
  padding: 20px 35px 0 45px;
  flex: 1 1 auto;
  height: 100%;
  background: #F8F9FB;
}
@media screen and (max-width: 1450px) {
  .addProductsSec {
    padding: 5px 20px 0 0px;
  }
}
@media (max-width: 991px) {
  .addProductsSec {
    padding: 10px 15px;
  }
}
.addProductsSec .table-top-menu .outer-sec-menu {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.addProductsSec .table-top-menu .outer-sec-menu .outer-sec-Head h3 {
  margin-bottom: 10px;
  font: 400 20px/24px "Inter", sans-serif;
}
@media (max-width: 1450px) {
  .addProductsSec .table-top-menu .outer-sec-menu .outer-sec-Head h3 {
    font: 400 18px/20px "Inter", sans-serif;
  }
}
@media (max-width: 991px) {
  .addProductsSec .table-top-menu .outer-sec-menu .outer-sec-Head h3 {
    font: 400 16px/20px "Inter", sans-serif;
  }
}
.addProductsSec .table-top-menu .outer-sec-menu .right-list .stepList {
  display: flex;
  margin-bottom: 10px;
}
.addProductsSec .table-top-menu .outer-sec-menu .right-list .stepList li {
  list-style: none;
}
.addProductsSec .table-top-menu .outer-sec-menu .right-list .stepList li a {
  font: 400 16px/22px "Inter", sans-serif;
  color: #BFCBD7;
  text-decoration: none;
  padding: 0 15px;
  border-right: 1px solid #BFCBD7;
}
@media (max-width: 1450px) {
  .addProductsSec .table-top-menu .outer-sec-menu .right-list .stepList li a {
    font: 400 14px/20px "Inter", sans-serif;
  }
}
@media (max-width: 991px) {
  .addProductsSec .table-top-menu .outer-sec-menu .right-list .stepList li a {
    font: 400 13px/18px "Inter", sans-serif;
  }
}
.addProductsSec .table-top-menu .outer-sec-menu .right-list .stepList li.active a {
  color: #00A464;
}
.addProductsSec .table-top-menu .outer-sec-menu .right-list .stepList li:first-child a {
  padding-left: 0;
}
.addProductsSec .table-top-menu .outer-sec-menu .right-list .stepList li:last-child a {
  border-right: 0;
}
.addProductsSec .addProductInner h3 {
  font: 700 14px/19px "Inter", sans-serif;
  color: #00A464;
}
@media (max-width: 1450px) {
  .addProductsSec .addProductInner h3 {
    font: 700 12px/17px "Inter", sans-serif;
  }
}
.addProductsSec .addProductInner .evenTitle {
  color: #191818;
}
.addProductsSec .addProductInner .card {
  border: none;
}
.addProductsSec .addProductInner .card.bg-none {
  background: none;
}
.addProductsSec .addProductInner .card .form-group {
  margin-bottom: 10px;
}
.addProductsSec .addProductInner .card .inputWrap {
  background: #fff;
  padding: 10px;
}
.addProductsSec .addProductInner .card .inputWrap .plusicon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  background-color: #c0ccd84a;
  border-radius: 10px;
  margin: 0px 14px;
  max-width: 60px;
}
.addProductsSec .addProductInner .card .inputWrap input {
  height: 40px;
  border-radius: 8px;
  font: 400 14px/19px "Inter", sans-serif;
  color: #191818;
}
@media (max-width: 1450px) {
  .addProductsSec .addProductInner .card .inputWrap input {
    height: 36px;
    font: 400 14px/20px "Inter", sans-serif;
  }
}
.addProductsSec .addProductInner .card .inputWrap input:focus, .addProductsSec .addProductInner .card .inputWrap input:hover, .addProductsSec .addProductInner .card .inputWrap input:active {
  outline: none;
  box-shadow: none;
}
.addProductsSec .addProductInner .card .form-group label {
  font: 400 14px/20px "Inter", sans-serif;
  color: #00A464;
}
@media (max-width: 1450px) {
  .addProductsSec .addProductInner .card .form-group label {
    font: 400 12px/18px "Inter", sans-serif;
  }
}
.addProductsSec .addProductInner .card .form-group .blkclr {
  color: #191818;
  margin: 0;
}
.addProductsSec .addProductInner .card .form-group .customSelect {
  position: relative;
}
.addProductsSec .addProductInner .card .form-group .customSelect::before {
  content: "";
  pointer-events: none;
  width: 13px;
  height: 10px;
  display: block;
  position: absolute;
  right: 15px;
  top: 0;
  margin: auto;
  bottom: 0;
  background-image: url(../../img/Polygon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.addProductsSec .addProductInner .card .form-group .customSelect select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #BFCBD7;
  font: 400 16px/24px "Inter", sans-serif;
  color: #191818;
  min-width: 120px;
}
@media (max-width: 1450px) {
  .addProductsSec .addProductInner .card .form-group .customSelect select {
    height: 36px;
    font: 400 14px/20px "Inter", sans-serif;
  }
}
.addProductsSec .addProductInner .card .form-group .customSelect select:focus, .addProductsSec .addProductInner .card .form-group .customSelect select:hover, .addProductsSec .addProductInner .card .form-group .customSelect select:active {
  outline: none;
  box-shadow: none;
}
.addProductsSec .addProductInner .card .form-group .control-group {
  position: relative;
}
.addProductsSec .addProductInner .card .form-group .control-group i {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 12px;
  color: #000000;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
}
.addProductsSec .addProductInner .card .form-group .control-group input {
  padding-left: 32px;
}
.addProductsSec .addProductInner .card .form-group .checkBox {
  padding-top: 40px;
}
.addProductsSec .addProductInner .card.textEditor .form-group {
  height: 100%;
}
.addProductsSec .addProductInner .card.textEditor .form-group .inputWrap {
  height: 100%;
}
.addProductsSec .addProductInner .shippingSec {
  padding: 20px 0;
}
@media (max-width: 991px) {
  .addProductsSec .addProductInner .shippingSec {
    padding: 15px 0;
  }
}
.addProductsSec .addProductInner .shippingSec .shippingHead {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.addProductsSec .addProductInner .shippingSec .shippingHead h3 {
  margin-right: 20px;
}
.addProductsSec .addProductInner .shippingSec .card .form-group label {
  font: 400 16px/20px "Inter", sans-serif;
}
@media (max-width: 1450px) {
  .addProductsSec .addProductInner .shippingSec .card .form-group label {
    font: 400 14px/18px "Inter", sans-serif;
  }
}
.addProductsSec .addProductInner .shippingSec .card .form-group input {
  font: 400 16px/20px "Inter", sans-serif;
  color: #BFCBD7;
}
@media (max-width: 1450px) {
  .addProductsSec .addProductInner .shippingSec .card .form-group input {
    font: 400 14px/18px "Inter", sans-serif;
  }
}
.addProductsSec .addProductInner .shippingSec .card .weightSec {
  position: relative;
}
.addProductsSec .addProductInner .shippingSec .card .weightSec .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.addProductsSec .addProductInner .shippingSec .card .weightSec .customSelect select {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #BFCBD7;
  font: 400 14px/20px "Inter", sans-serif;
  color: #BFCBD7;
  min-width: 80px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  margin-left: -1px;
}
@media (max-width: 1450px) {
  .addProductsSec .addProductInner .shippingSec .card .weightSec .customSelect select {
    height: 36px;
  }
}
.addProductsSec .addProductInner .shippingSec .card .weightSec small {
  position: absolute;
  right: 30px;
  top: 12px;
  font: 400 14px/20px "Inter", sans-serif;
  color: #BFCBD7;
}
.addProductsSec .addProductInner .shippingSec .card .shippingSearch {
  position: relative;
}
.addProductsSec .addProductInner .shippingSec .card .shippingSearch input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 50px 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
}
@media (max-width: 1450px) {
  .addProductsSec .addProductInner .shippingSec .card .shippingSearch input#search-bar {
    height: 36px;
    font: 400 14px/20px "Inter", sans-serif;
  }
}
.addProductsSec .addProductInner .shippingSec .card .shippingSearch input#search-bar:focus {
  border: 1px solid #BFCBD7;
  transition: 0.35s ease;
  color: #BFCBD7;
}
.addProductsSec .addProductInner .shippingSec .card .shippingSearch input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.addProductsSec .addProductInner .shippingSec .card .shippingSearch input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.addProductsSec .addProductInner .shippingSec .card .shippingSearch input#search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.addProductsSec .addProductInner .shippingSec .card .shippingSearch a {
  color: #BFCBD7;
}
.addProductsSec .addProductInner .shippingSec .card .shippingSearch a .search-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 15px;
  right: 10px;
}
.addProductsSec .addProductInner .variantsSec {
  padding: 3px 0 20px;
}
@media (max-width: 991px) {
  .addProductsSec .addProductInner .variantsSec {
    padding: 15px 0;
  }
}
.addProductsSec .addProductInner .variantsSec .shippingHead {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.addProductsSec .addProductInner .variantsSec .shippingHead h3 {
  margin-right: 20px;
}
.addProductsSec .addProductInner .variantsSec .card .weightSec {
  position: relative;
}
.addProductsSec .addProductInner .variantsSec .card .weightSec small {
  position: absolute;
  right: 30px;
  top: 12px;
  font: 400 14px/20px "Inter", sans-serif;
  color: #BFCBD7;
}
.addProductsSec .addProductInner .variantsSec .card .shippingSearch {
  position: relative;
}
.addProductsSec .addProductInner .variantsSec .card .shippingSearch input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 50px 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
}
.addProductsSec .addProductInner .variantsSec .card .shippingSearch input#search-bar:focus {
  border: 1px solid #BFCBD7;
  transition: 0.35s ease;
  color: #BFCBD7;
}
.addProductsSec .addProductInner .variantsSec .card .shippingSearch input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.addProductsSec .addProductInner .variantsSec .card .shippingSearch input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.addProductsSec .addProductInner .variantsSec .card .shippingSearch input#search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.addProductsSec .addProductInner .variantsSec .card .shippingSearch a {
  color: #BFCBD7;
}
.addProductsSec .addProductInner .variantsSec .card .shippingSearch a .search-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 15px;
  right: 10px;
}
.addProductsSec .addProductInner .variantTable .table-responsive {
  padding: 10px 10px 0;
  overflow-x: auto;
  min-height: 110px;
  max-height: 400px;
}
@media screen and (max-width: 767px) {
  .addProductsSec .addProductInner .variantTable .table-responsive {
    width: 100%;
    margin-bottom: 0;
    overflow-y: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
.addProductsSec .addProductInner .variantTable .table-responsive::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.addProductsSec .addProductInner .variantTable .table-responsive::-webkit-scrollbar-track {
  background: #E6ECF2;
}
.addProductsSec .addProductInner .variantTable .table-responsive::-webkit-scrollbar-thumb {
  background: #ADBAC7;
}
.addProductsSec .addProductInner .variantTable .table-responsive::-webkit-scrollbar-thumb:hover {
  background: #ADBAC7;
}
.addProductsSec .addProductInner .variantTable .table-responsive table {
  margin: 0;
}
@media screen and (max-width: 767px) {
  .addProductsSec .addProductInner .variantTable .table-responsive table {
    table-layout: auto;
  }
}
.addProductsSec .addProductInner .variantTable .table-responsive table thead {
  background: #F6F9FB;
}
.addProductsSec .addProductInner .variantTable .table-responsive table thead tr th {
  color: #8E9FAA;
  margin-bottom: 0px;
  font: 400 16px/24px "Inter", sans-serif;
  border-top: none;
  border-bottom: none;
  border-color: #eef3f7;
  padding: 20px 15px;
}
@media screen and (max-width: 1450px) {
  .addProductsSec .addProductInner .variantTable .table-responsive table thead tr th {
    font: 400 14px/20px "Inter", sans-serif !important;
    padding: 10px !important;
  }
}
@media screen and (max-width: 767px) {
  .addProductsSec .addProductInner .variantTable .table-responsive table thead tr th {
    white-space: nowrap;
    font: 400 14px/24px "Inter", sans-serif;
  }
}
.addProductsSec .addProductInner .variantTable .table-responsive table thead tr th:first-child {
  border-left: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.addProductsSec .addProductInner .variantTable .table-responsive table thead tr th:last-child {
  border-right: none;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.addProductsSec .addProductInner .variantTable .table-responsive table tbody tr td {
  color: #191818;
  margin-bottom: 0px;
  font: 400 15px/20px "Inter", sans-serif;
  border-color: #eef3f7;
  border-bottom: none;
  padding: 20px 15px;
}
@media screen and (max-width: 1450px) {
  .addProductsSec .addProductInner .variantTable .table-responsive table tbody tr td {
    font: 400 14px/18px "Inter", sans-serif !important;
    padding: 10px !important;
  }
}
@media screen and (max-width: 767px) {
  .addProductsSec .addProductInner .variantTable .table-responsive table tbody tr td {
    white-space: nowrap;
    font: 400 14px/24px "Inter", sans-serif;
  }
}
.addProductsSec .addProductInner .variantTable .table-responsive table tbody tr td:first-child {
  border-left: none;
}
.addProductsSec .addProductInner .variantTable .table-responsive table tbody tr td:last-child {
  border-right: none;
}
.addProductsSec .addProductInner .variantTable .table-responsive table tbody tr td.active .resendBtn {
  background: #00A464;
  border-color: #00A464;
}
.addProductsSec .addProductInner .variantTable .table-responsive table tbody tr td.active .resendBtn svg {
  fill: #fff;
}
.addProductsSec .addProductInner .variantTable .table-responsive table tbody tr td span.divider {
  width: 2px;
  background: #464646;
  height: 13px;
  display: inline-block;
  margin: 0 5px;
}
.addProductsSec .addProductInner .variantTable .table-responsive table tbody tr td input {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #BFCBD7;
  font: 400 16px/24px "Inter", sans-serif;
  color: #191818;
  min-width: 120px;
}
@media (max-width: 1450px) {
  .addProductsSec .addProductInner .variantTable .table-responsive table tbody tr td input {
    height: 36px;
    font: 400 14px/20px "Inter", sans-serif;
  }
}
.addProductsSec .addProductInner .variantTable .table-responsive table tbody tr td input:hover, .addProductsSec .addProductInner .variantTable .table-responsive table tbody tr td input:active, .addProductsSec .addProductInner .variantTable .table-responsive table tbody tr td input:focus {
  outline: none;
  box-shadow: none;
}
.addProductsSec .addProductInner .variantTable .table-responsive table .resendBtn {
  border: 1px solid #BFCBD7;
  font: 400 15px/20px "Inter", sans-serif;
  background: transparent;
  min-width: 20px;
  height: 30px;
  outline: none;
  box-shadow: none;
  border-radius: 6px;
  text-transform: uppercase;
  padding: 0px 5px;
}
.addProductsSec .addProductInner .variantTable .table-responsive table .resendBtn svg {
  width: 14px;
  height: 13px;
  fill: #BFCBD7;
}
@media screen and (max-width: 1450px) {
  .addProductsSec .addProductInner .variantTable .table-responsive table .resendBtn {
    font: 300 13px/15px "Inter", sans-serif;
    height: 30px;
  }
}
.addProductsSec .addProductInner .variantTable .table-responsive table .resendBtn:hover {
  border: 1px solid #00A464;
  background: #00A464;
}
.addProductsSec .addProductInner .variantTable .table-responsive table .resendBtn:hover svg {
  fill: #fff;
}

.checkBox {
  position: relative;
}
.checkBox .styled-checkbox {
  position: absolute;
  opacity: 0;
}
.checkBox .styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  font: 400 14px/20px "Inter", sans-serif;
}
@media (max-width: 1450px) {
  .checkBox .styled-checkbox + label {
    font: 400 12px/18px "Inter", sans-serif;
  }
}
.checkBox .styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 17px;
  height: 17px;
  border: 1px solid #191818;
  border-radius: 5px;
}
.checkBox .styled-checkbox:hover + label:before {
  background: #191818;
}
.checkBox .styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.checkBox .styled-checkbox:checked + label:before {
  background: #191818;
}
.checkBox .styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.checkBox .styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.checkBox .styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.rounded {
  border-radius: 8px !important;
}

.button-switch {
  position: relative;
  max-width: 250px;
}
.button-switch .lbl-off,
.button-switch .lbl-on {
  cursor: pointer;
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1em;
  position: absolute;
  top: 0.5em;
  transition: opacity 0.25s ease-out 0.1s;
  text-transform: uppercase;
}
.button-switch .lbl-off {
  right: 0.4375em;
}
.button-switch .lbl-on {
  color: #fff;
  opacity: 0;
  left: 0.4375em;
}
.button-switch .switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 0;
  font-size: 1em;
  line-height: 0;
  outline: none;
  position: absolute;
  top: 0;
  width: 0;
}
.button-switch .switch:before, .button-switch .switch:after {
  content: "";
  font-size: 1em;
  position: absolute;
  cursor: pointer;
}
.button-switch .switch:before {
  border-radius: 1.25em;
  background: #b2bec5;
  height: 22px;
  left: 5px;
  top: 6px;
  width: 38px;
  height: 10px;
}
.button-switch .switch:after {
  box-shadow: 0 0.0625em 0.375em 0 #666;
  border-radius: 50%;
  background: #22BCAC;
  transition: transform 0.25s ease-out 0.1s;
  width: 22px;
  height: 22px;
  transform: translate(0em, 0);
}
.button-switch .switch:checked:after {
  transform: translate(1.6em, 0);
  background: #00A464;
}
.button-switch .switch:checked ~ .lbl-off {
  opacity: 0;
}
.button-switch .switch:checked ~ .lbl-on {
  opacity: 1;
}
.button-switch .switch#switch-orange:checked:before {
  background: #b2bec5;
}
.button-switch .switch#switch-blue:checked:before {
  background: #b2bec5;
}

/*upload style*/
.img-upload {
  position: relative;
}
.img-upload button {
  position: absolute;
  right: 20px;
  top: 40px;
  z-index: 8;
  background-color: #fff;
  padding: 5px 12px;
  border-radius: 10px;
  color: #191818;
  font: 600 14px/21px "Inter", sans-serif;
  outline: none;
}
.img-upload button img {
  padding-right: 12px;
}
.img-upload .upl-box {
  overflow-y: auto;
  min-height: 100px;
  max-height: 270px;
}
.img-upload .upl-box .img-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 10px;
}
.img-upload .upl-box .img-list .img-name p {
  margin-bottom: 0;
  font: 400 14px/19px "Inter", sans-serif;
  color: #191818;
  max-width: 170px;
  min-width: 170px;
  margin-right: 10px;
}
.img-upload .upl-box .img-list .pre-img {
  margin-right: 10px;
}
.img-upload .upl-box .img-list .pre-img img {
  object-fit: cover;
  object-position: center;
  max-height: 40px;
  max-width: 50px;
  min-width: 50px;
  min-height: 40px;
}
.img-upload .upl-box .img-list .img-close i {
  font-size: 12px;
}

.inputDnD {
  background-color: #F6F9FB;
}
.inputDnD .form-control-file {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 6em;
  outline: none;
  visibility: hidden;
  cursor: pointer;
  box-shadow: 0 0 5px solid currentColor;
}
.inputDnD .form-control-file:before {
  content: attr(data-title);
  position: absolute;
  top: 0.5em;
  left: 5px;
  color: #c0ccd89e;
  font: 400 14px/25px "Inter", sans-serif;
  width: 100%;
  min-height: 6em;
  padding-top: 1.5em;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}
ul.filter-select {
  list-style: none;
}
ul.filter-select li.filter-select-list {
  display: flex;
  justify-content: flex-start;
  padding: 8px 12px;
  align-items: center;
  cursor: pointer;
}
ul.filter-select li.filter-select-list img {
  height: 45px;
  object-fit: cover;
  object-position: center;
}
ul.filter-select li.filter-select-list p.artist-name {
  padding-left: 12px;
  margin: 0;
  font: 400 14px/20px "Inter", sans-serif;
}

/*# sourceMappingURL=add-product.css.map */
