.addsalesetupSec {
  padding: 20px 35px 0 45px;
  flex: 1 1 auto;
  height: 100%;
  background: #F8F9FB;
}
@media screen and (max-width: 1450px) {
  .addsalesetupSec {
    padding: 5px 20px 0 0px;
  }
}
@media (max-width: 991px) {
  .addsalesetupSec {
    padding: 10px 15px;
  }
}
.addsalesetupSec .table-top-menu .outer-sec-menu {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.addsalesetupSec .table-top-menu .outer-sec-menu .outer-sec-Head h3 {
  margin-bottom: 10px;
  font: 400 20px/24px "Inter", sans-serif;
}
@media (max-width: 1450px) {
  .addsalesetupSec .table-top-menu .outer-sec-menu .outer-sec-Head h3 {
    font: 400 18px/20px "Inter", sans-serif;
  }
}
@media (max-width: 991px) {
  .addsalesetupSec .table-top-menu .outer-sec-menu .outer-sec-Head h3 {
    font: 400 16px/20px "Inter", sans-serif;
  }
}
.addsalesetupSec .table-top-menu .outer-sec-menu .right-list .stepList {
  display: flex;
  margin-bottom: 10px;
}
.addsalesetupSec .table-top-menu .outer-sec-menu .right-list .stepList li {
  list-style: none;
}
.addsalesetupSec .table-top-menu .outer-sec-menu .right-list .stepList li a {
  font: 400 16px/22px "Inter", sans-serif;
  color: #BFCBD7;
  text-decoration: none;
  padding: 0 15px;
  border-right: 1px solid #BFCBD7;
}
@media (max-width: 1450px) {
  .addsalesetupSec .table-top-menu .outer-sec-menu .right-list .stepList li a {
    font: 400 14px/20px "Inter", sans-serif;
  }
}
@media (max-width: 991px) {
  .addsalesetupSec .table-top-menu .outer-sec-menu .right-list .stepList li a {
    font: 400 13px/18px "Inter", sans-serif;
  }
}
.addsalesetupSec .table-top-menu .outer-sec-menu .right-list .stepList li.active a {
  color: #00A464;
}
.addsalesetupSec .table-top-menu .outer-sec-menu .right-list .stepList li:first-child a {
  padding-left: 0;
}
.addsalesetupSec .table-top-menu .outer-sec-menu .right-list .stepList li:last-child a {
  border-right: 0;
}
.addsalesetupSec .addsalesetupInner h3 {
  font: 700 14px/19px "Inter", sans-serif;
  color: #00A464;
}
@media (max-width: 1450px) {
  .addsalesetupSec .addsalesetupInner h3 {
    font: 700 12px/17px "Inter", sans-serif;
  }
}
.addsalesetupSec .addsalesetupInner .evenTitle {
  color: #8E9FAA;
  background-color: #EDF2F5;
  font: 400 18px/24px "Inter", sans-serif;
  padding: 15px 30px;
  margin: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.addsalesetupSec .addsalesetupInner .logoUpload {
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card {
  border: none;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card.bg-none {
  background: none;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .form-group {
  margin-bottom: 10px;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .inputWrap {
  background: #fff;
  padding: 10px;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .inputWrap .plusicon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  background-color: #c0ccd84a;
  border-radius: 10px;
  margin: 0px 14px;
  max-width: 60px;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .inputWrap input {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #BFCBD7;
  font: 400 14px/19px "Inter", sans-serif;
  color: #191818;
  width: 100%;
}
@media (max-width: 1450px) {
  .addsalesetupSec .addsalesetupInner .logoUpload .card .inputWrap input {
    height: 36px;
    font: 400 14px/20px "Inter", sans-serif;
  }
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .inputWrap input:focus, .addsalesetupSec .addsalesetupInner .logoUpload .card .inputWrap input:hover, .addsalesetupSec .addsalesetupInner .logoUpload .card .inputWrap input:active {
  outline: none;
  box-shadow: none;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .inputWrap .logoTextstyle {
  padding: 10px 15px 0 15px;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .inputWrap .logoTextstyle .clrpick {
  border: none;
  height: 42px;
  margin-top: -3px;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .inputWrap .logoTextstyle .logotextdemo {
  border-top: 1px solid #DCE2E8;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .inputWrap .logoTextstyle .logotextdemo .demoText {
  border: none;
  padding: 45px 0px !important;
  color: #00A464;
  font: 400 25px/32px "Inter", sans-serif;
  text-transform: capitalize;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .inputWrap .logoTextstyle .logotextdemo ::-webkit-input-placeholder {
  /* Edge */
  color: #00A464;
  font: 400 25px/32px "Inter", sans-serif;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .inputWrap .logoTextstyle .logotextdemo :-ms-input-placeholder {
  /* Internet Explorer */
  color: #00A464;
  font: 400 25px/32px "Inter", sans-serif;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .inputWrap .logoTextstyle .logotextdemo ::placeholder {
  color: #00A464;
  font: 400 25px/32px "Inter", sans-serif;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .inputWrap .addsaleimgup {
  padding: 0 0px 0 15px;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .form-group label {
  font: 400 14px/20px "Inter", sans-serif;
  color: #00A464;
}
@media (max-width: 1450px) {
  .addsalesetupSec .addsalesetupInner .logoUpload .card .form-group label {
    font: 400 12px/18px "Inter", sans-serif;
  }
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .form-group .blkclr {
  color: #191818;
  margin: 0;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .form-group .customSelect {
  position: relative;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .form-group .customSelect::before {
  content: "";
  pointer-events: none;
  width: 13px;
  height: 10px;
  display: block;
  position: absolute;
  right: 15px;
  top: 0;
  margin: auto;
  bottom: 0;
  background-image: url(../../img/Polygon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .form-group .customSelect select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #BFCBD7;
  font: 400 16px/24px "Inter", sans-serif;
  color: #191818;
}
@media (max-width: 1450px) {
  .addsalesetupSec .addsalesetupInner .logoUpload .card .form-group .customSelect select {
    height: 36px;
    font: 400 14px/20px "Inter", sans-serif;
  }
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .form-group .customSelect select:focus, .addsalesetupSec .addsalesetupInner .logoUpload .card .form-group .customSelect select:hover, .addsalesetupSec .addsalesetupInner .logoUpload .card .form-group .customSelect select:active {
  outline: none;
  box-shadow: none;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .form-group .control-group {
  position: relative;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .form-group .control-group i {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 12px;
  z-index: 1;
  color: #BFCBD7;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  cursor: pointer;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .form-group .control-group img {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 12px;
  z-index: 1;
  color: #BFCBD7;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  cursor: pointer;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .form-group .addsaleCheckbox {
  display: flex;
  align-items: center;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .form-group .addsaleCheckbox .checkBox {
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card .form-group .addsaleCheckbox .checkBox p {
  font: 400 10px/14px "Inter", sans-serif;
  margin-bottom: 0;
  padding-left: 27px;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card.textEditor .form-group {
  height: 100%;
}
.addsalesetupSec .addsalesetupInner .logoUpload .card.textEditor .form-group .inputWrap {
  height: 100%;
}
.addsalesetupSec .addsalesetupInner .shippingSec {
  padding: 20px 0;
}
@media (max-width: 991px) {
  .addsalesetupSec .addsalesetupInner .shippingSec {
    padding: 15px 0;
  }
}
.addsalesetupSec .addsalesetupInner .shippingSec .shippingHead {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.addsalesetupSec .addsalesetupInner .shippingSec .shippingHead h3 {
  margin-right: 20px;
}
.addsalesetupSec .addsalesetupInner .shippingSec .card .form-group label {
  font: 400 16px/20px "Inter", sans-serif;
}
@media (max-width: 1450px) {
  .addsalesetupSec .addsalesetupInner .shippingSec .card .form-group label {
    font: 400 14px/18px "Inter", sans-serif;
  }
}
.addsalesetupSec .addsalesetupInner .shippingSec .card .form-group input {
  font: 400 16px/20px "Inter", sans-serif;
  color: #BFCBD7;
}
@media (max-width: 1450px) {
  .addsalesetupSec .addsalesetupInner .shippingSec .card .form-group input {
    font: 400 14px/18px "Inter", sans-serif;
  }
}
.addsalesetupSec .addsalesetupInner .shippingSec .card .weightSec {
  position: relative;
}
.addsalesetupSec .addsalesetupInner .shippingSec .card .weightSec .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.addsalesetupSec .addsalesetupInner .shippingSec .card .weightSec .customSelect::before {
  border-top: 2px solid #BFCBD7;
  border-left: 2px solid #BFCBD7;
}
.addsalesetupSec .addsalesetupInner .shippingSec .card .weightSec .customSelect select {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #BFCBD7;
  font: 400 16px/24px "Inter", sans-serif;
  color: #BFCBD7;
  min-width: 80px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  margin-left: -1px;
}
@media (max-width: 1450px) {
  .addsalesetupSec .addsalesetupInner .shippingSec .card .weightSec .customSelect select {
    height: 36px;
  }
}
.addsalesetupSec .addsalesetupInner .shippingSec .card .weightSec small {
  position: absolute;
  right: 30px;
  top: 12px;
  font: 400 14px/20px "Inter", sans-serif;
  color: #BFCBD7;
}
.addsalesetupSec .addsalesetupInner .shippingSec .card .shippingSearch {
  position: relative;
}
.addsalesetupSec .addsalesetupInner .shippingSec .card .shippingSearch input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 50px 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
}
@media (max-width: 1450px) {
  .addsalesetupSec .addsalesetupInner .shippingSec .card .shippingSearch input#search-bar {
    height: 36px;
    font: 400 14px/20px "Inter", sans-serif;
  }
}
.addsalesetupSec .addsalesetupInner .shippingSec .card .shippingSearch input#search-bar:focus {
  border: 1px solid #BFCBD7;
  transition: 0.35s ease;
  color: #BFCBD7;
}
.addsalesetupSec .addsalesetupInner .shippingSec .card .shippingSearch input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.addsalesetupSec .addsalesetupInner .shippingSec .card .shippingSearch input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.addsalesetupSec .addsalesetupInner .shippingSec .card .shippingSearch input#search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.addsalesetupSec .addsalesetupInner .shippingSec .card .shippingSearch a {
  color: #BFCBD7;
}
.addsalesetupSec .addsalesetupInner .shippingSec .card .shippingSearch a .search-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 15px;
  right: 10px;
}
.addsalesetupSec .addsalesetupInner .variantsSec {
  padding: 30px 0;
}
@media (max-width: 991px) {
  .addsalesetupSec .addsalesetupInner .variantsSec {
    padding: 15px 0;
  }
}
.addsalesetupSec .addsalesetupInner .variantsSec .shippingHead {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.addsalesetupSec .addsalesetupInner .variantsSec .shippingHead h3 {
  margin-right: 20px;
}
.addsalesetupSec .addsalesetupInner .variantsSec .card .weightSec {
  position: relative;
}
.addsalesetupSec .addsalesetupInner .variantsSec .card .weightSec small {
  position: absolute;
  right: 30px;
  top: 12px;
  font: 400 14px/20px "Inter", sans-serif;
  color: #BFCBD7;
}
.addsalesetupSec .addsalesetupInner .variantsSec .card .shippingSearch {
  position: relative;
}
.addsalesetupSec .addsalesetupInner .variantsSec .card .shippingSearch input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 50px 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
}
.addsalesetupSec .addsalesetupInner .variantsSec .card .shippingSearch input#search-bar:focus {
  border: 1px solid #BFCBD7;
  transition: 0.35s ease;
  color: #BFCBD7;
}
.addsalesetupSec .addsalesetupInner .variantsSec .card .shippingSearch input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.addsalesetupSec .addsalesetupInner .variantsSec .card .shippingSearch input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.addsalesetupSec .addsalesetupInner .variantsSec .card .shippingSearch input#search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.addsalesetupSec .addsalesetupInner .variantsSec .card .shippingSearch a {
  color: #BFCBD7;
}
.addsalesetupSec .addsalesetupInner .variantsSec .card .shippingSearch a .search-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 15px;
  right: 10px;
}
.addsalesetupSec .addsalesetupInner .variantTable .table-responsive {
  padding: 10px 10px 0;
  overflow-x: auto;
  min-height: 110px;
  max-height: 400px;
}
@media screen and (max-width: 767px) {
  .addsalesetupSec .addsalesetupInner .variantTable .table-responsive {
    width: 100%;
    margin-bottom: 0;
    overflow-y: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
.addsalesetupSec .addsalesetupInner .variantTable .table-responsive::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.addsalesetupSec .addsalesetupInner .variantTable .table-responsive::-webkit-scrollbar-track {
  background: #E6ECF2;
}
.addsalesetupSec .addsalesetupInner .variantTable .table-responsive::-webkit-scrollbar-thumb {
  background: #ADBAC7;
}
.addsalesetupSec .addsalesetupInner .variantTable .table-responsive::-webkit-scrollbar-thumb:hover {
  background: #ADBAC7;
}

.checkBox {
  position: relative;
}
.checkBox .styled-checkbox {
  position: absolute;
  opacity: 0;
}
.checkBox .styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  font: 400 14px/20px "Inter", sans-serif;
}
@media (max-width: 1450px) {
  .checkBox .styled-checkbox + label {
    font: 400 12px/18px "Inter", sans-serif;
  }
}
.checkBox .styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 17px;
  height: 17px;
  border: 1px solid #00A464;
  border-radius: 5px;
}
.checkBox .styled-checkbox:hover + label:before {
  background: #00A464;
}
.checkBox .styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.checkBox .styled-checkbox:checked + label:before {
  background: #00A464;
}
.checkBox .styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.checkBox .styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.checkBox .styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.addProductBtn {
  padding: 30px 15px 30px;
  text-align: right;
}
@media (max-width: 1450px) {
  .addProductBtn {
    padding: 30px 10px 15px;
  }
}
@media (max-width: 991px) {
  .addProductBtn {
    padding: 0px 10px 10px;
  }
}
.addProductBtn button {
  font: 500 14px/20px "Inter", sans-serif;
  text-transform: uppercase;
  min-width: 138px;
  height: 45px;
  border: none;
  border-radius: 8px;
}
@media (max-width: 1450px) {
  .addProductBtn button {
    min-width: 150px;
    font: 400 15px/20px "Inter", sans-serif;
    height: 40px;
  }
}
@media (max-width: 575px) {
  .addProductBtn button {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
  }
}
.addProductBtn button:disabled {
  opacity: 0.6;
}
.addProductBtn button:focus {
  box-shadow: none;
}
.addProductBtn button:hover {
  opacity: 0.8;
}
.addProductBtn button.btn-primary {
  color: #fff;
  background: #41de85;
  border: 1px solid #41de85;
  background: linear-gradient(90deg, #41de85 0%, #3bcca3 50%, #37c1b8 100%);
}
.addProductBtn button.btn-outline {
  color: #191818;
  background: transparent;
  border: 1px solid #BFCBD7;
  margin-right: 10px;
}

.rounded {
  border-radius: 8px !important;
}

.button-switch {
  position: relative;
  max-width: 250px;
}
.button-switch .lbl-off,
.button-switch .lbl-on {
  cursor: pointer;
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1em;
  position: absolute;
  top: 0.5em;
  transition: opacity 0.25s ease-out 0.1s;
  text-transform: uppercase;
}
.button-switch .lbl-off {
  right: 0.4375em;
}
.button-switch .lbl-on {
  color: #fff;
  opacity: 0;
  left: 0.4375em;
}
.button-switch .switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 0;
  font-size: 1em;
  line-height: 0;
  outline: none;
  position: absolute;
  top: 0;
  width: 0;
}
.button-switch .switch:before, .button-switch .switch:after {
  content: "";
  font-size: 1em;
  position: absolute;
  cursor: pointer;
}
.button-switch .switch:before {
  border-radius: 1.25em;
  background: #b2bec5;
  height: 22px;
  left: 5px;
  top: 6px;
  width: 38px;
  height: 10px;
}
.button-switch .switch:after {
  box-shadow: 0 0.0625em 0.375em 0 #666;
  border-radius: 50%;
  background: #22BCAC;
  transition: transform 0.25s ease-out 0.1s;
  width: 22px;
  height: 22px;
  transform: translate(0em, 0);
}
.button-switch .switch:checked:after {
  transform: translate(1.6em, 0);
  background: #00A464;
}
.button-switch .switch:checked ~ .lbl-off {
  opacity: 0;
}
.button-switch .switch:checked ~ .lbl-on {
  opacity: 1;
}
.button-switch .switch#switch-orange:checked:before {
  background: #b2bec5;
}
.button-switch .switch#switch-blue:checked:before {
  background: #b2bec5;
}

/*upload style*/
.img-upload {
  position: relative;
}
.img-upload button {
  position: absolute;
  right: 20px;
  top: 40px;
  z-index: 9;
  background-color: #fff;
  padding: 5px 12px;
  border-radius: 10px;
  color: #191818;
  font: 600 14px/21px "Inter", sans-serif;
  outline: none;
}
.img-upload button img {
  padding-right: 12px;
}
.img-upload .upl-box {
  overflow-y: auto;
  min-height: 100px;
  max-height: 270px;
}
.img-upload .upl-box .img-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 10px;
}
.img-upload .upl-box .img-list .img-name p {
  margin-bottom: 0;
  font: 400 14px/19px "Inter", sans-serif;
  color: #191818;
}
.img-upload .upl-box .img-list .pre-img img {
  object-fit: cover;
  object-position: center;
  max-height: 50px;
  max-width: 50px;
}
.img-upload .upl-box .img-list .img-close i {
  font-size: 12px;
}

.inputDnD {
  background-color: #F6F9FB;
}
.inputDnD .form-control-file {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 6em;
  outline: none;
  visibility: hidden;
  cursor: pointer;
  box-shadow: 0 0 5px solid currentColor;
}
.inputDnD .form-control-file:before {
  content: attr(data-title);
  position: absolute;
  top: 0.5em;
  left: 5px;
  color: #c0ccd89e;
  font: 400 14px/25px "Inter", sans-serif;
  width: 100%;
  min-height: 6em;
  padding-top: 1.5em;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}
/*img loaded style*/
.upload-area {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border: 2px dashed #bfcbd7;
  height: 200px;
}

.loading-area {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 200px;
}

.upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100% !important;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.upload-text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.upload-text span {
  text-align: center;
  width: 100%;
  font: 400 14px/18px "Inter", sans-serif;
  color: #0000005c;
}

.loading-img {
  display: flex;
  align-self: center;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin: auto;
}

.loaded-area {
  position: relative;
  /* background-color: rgba($color: #b3afaf, $alpha: 0.3); */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
}

.loaded-img {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  height: 195px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.loaded-area span {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  color: white;
  font-size: 14px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.loaded-area:hover {
  background-color: #000;
}

.loaded-area:hover img {
  opacity: 0.2;
}

.loaded-area:hover span {
  opacity: 1;
}

.loaded-area .loaded-button {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  color: white;
  font-size: 14px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.loaded-area:hover .loaded-button {
  opacity: 1;
}

.custom-radios {
  padding: 15px 2px;
  display: flex;
}
.custom-radios div {
  padding-right: 15px;
}
.custom-radios input[type=radio] {
  display: none;
}
.custom-radios input[type=radio] + label {
  color: #00A464 !important;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom-radios input[type=radio] + label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin-right: 10px;
  background-color: #fff;
  border: 1px solid;
  border-radius: 6px;
}
.custom-radios input[type=radio] + label span img {
  opacity: 0;
  transition: all 0.3s ease;
  max-width: 14px;
}
.custom-radios input[type=radio].checked + label span {
  background-color: #00A464;
}
.custom-radios input[type=radio]:checked + label span img {
  opacity: 1;
}

/*# sourceMappingURL=add-sale-setup.css.map */
