.bannerMngtsSec {
  padding: 20px 35px 0 45px;
  flex: 1 1 auto;
  height: 100%;
  background: #F8F9FB;
}
@media screen and (max-width: 1450px) {
  .bannerMngtsSec {
    padding: 10px 20px 0 30px;
  }
}
@media (max-width: 991px) {
  .bannerMngtsSec {
    padding: 10px 15px;
  }
}
.bannerMngtsSec .bannerMngtInner h3 {
  font: 400 18px/24px "Inter", sans-serif;
  color: #191818;
}
@media (max-width: 1450px) {
  .bannerMngtsSec .bannerMngtInner h3 {
    font: 400 16px/20px "Inter", sans-serif;
  }
}
.bannerMngtsSec .bannerMngtInner .card {
  border: none;
}
.bannerMngtsSec .bannerMngtInner .card.bg-none {
  background: none;
}
.bannerMngtsSec .bannerMngtInner .card .inputWrap {
  background: #fff;
  padding: 15px;
}
.bannerMngtsSec .bannerMngtInner .card .inputWrap input {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #BFCBD7;
  font: 400 14px/24px "Inter", sans-serif;
  color: #191818;
}
@media (max-width: 1450px) {
  .bannerMngtsSec .bannerMngtInner .card .inputWrap input {
    height: 36px;
    font: 400 14px/20px "Inter", sans-serif;
  }
}
.bannerMngtsSec .bannerMngtInner .card .inputWrap input:focus, .bannerMngtsSec .bannerMngtInner .card .inputWrap input:hover, .bannerMngtsSec .bannerMngtInner .card .inputWrap input:active {
  outline: none;
  box-shadow: none;
}
.bannerMngtsSec .bannerMngtInner .card .inputWrap textarea {
  resize: none;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #BFCBD7;
  font: 400 14px/24px "Inter", sans-serif;
  color: #191818;
  min-height: 115px;
}
.bannerMngtsSec .bannerMngtInner .card .inputWrap textarea:focus, .bannerMngtsSec .bannerMngtInner .card .inputWrap textarea:hover, .bannerMngtsSec .bannerMngtInner .card .inputWrap textarea:active {
  outline: none;
  box-shadow: none;
}
.bannerMngtsSec .bannerMngtInner .card .form-group {
  margin-bottom: 15px;
}
.bannerMngtsSec .bannerMngtInner .card .form-group label {
  font: 300 14px/20px "Inter", sans-serif;
  color: #00A464;
}
@media (max-width: 1450px) {
  .bannerMngtsSec .bannerMngtInner .card .form-group label {
    font: 400 13px/18px "Inter", sans-serif;
  }
}
.bannerMngtsSec .bannerMngtInner .card .form-group .customSelect {
  position: relative;
}
.bannerMngtsSec .bannerMngtInner .card .form-group .customSelect::before {
  content: "";
  pointer-events: none;
  width: 13px;
  height: 10px;
  display: block;
  position: absolute;
  right: 15px;
  top: 0;
  margin: auto;
  bottom: 0;
  background-image: url(../../img/Polygon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.bannerMngtsSec .bannerMngtInner .card .form-group .customSelect select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #BFCBD7;
  font: 400 15px/24px "Inter", sans-serif;
  color: #191818;
  min-width: 120px;
}
@media (max-width: 1450px) {
  .bannerMngtsSec .bannerMngtInner .card .form-group .customSelect select {
    height: 36px;
    font: 400 14px/20px "Inter", sans-serif;
  }
}
.bannerMngtsSec .bannerMngtInner .card .form-group .customSelect select:focus, .bannerMngtsSec .bannerMngtInner .card .form-group .customSelect select:hover, .bannerMngtsSec .bannerMngtInner .card .form-group .customSelect select:active {
  outline: none;
  box-shadow: none;
}
.bannerMngtsSec .bannerMngtInner .card .form-group .control-group {
  position: relative;
}
.bannerMngtsSec .bannerMngtInner .card .form-group .control-group i {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 12px;
  z-index: 1;
  color: #BFCBD7;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  cursor: pointer;
}
.bannerMngtsSec .bannerMngtInner .card .form-group .checkBox {
  padding-top: 40px;
}
.bannerMngtsSec .bannerMngtInner .card.textEditor .form-group {
  height: 100%;
}
.bannerMngtsSec .bannerMngtInner .card.textEditor .form-group .inputWrap {
  height: 100%;
}
.bannerMngtsSec .bannerMngtInner .shippingSec {
  padding: 50px 0;
}
@media (max-width: 991px) {
  .bannerMngtsSec .bannerMngtInner .shippingSec {
    padding: 15px 0;
  }
}
.bannerMngtsSec .bannerMngtInner .shippingSec .shippingHead {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 25px;
  flex-wrap: wrap;
}
.bannerMngtsSec .bannerMngtInner .shippingSec .shippingHead h3 {
  margin-right: 20px;
}
.bannerMngtsSec .bannerMngtInner .shippingSec .card .form-group label {
  font: 400 14px/20px "Inter", sans-serif;
  color: #BFCBD7;
}
@media (max-width: 1450px) {
  .bannerMngtsSec .bannerMngtInner .shippingSec .card .form-group label {
    font: 400 13px/18px "Inter", sans-serif;
  }
}
.bannerMngtsSec .bannerMngtInner .shippingSec .card .form-group input {
  font: 400 14px/20px "Inter", sans-serif;
  color: #BFCBD7;
}
@media (max-width: 1450px) {
  .bannerMngtsSec .bannerMngtInner .shippingSec .card .form-group input {
    font: 400 13px/18px "Inter", sans-serif;
  }
}
.bannerMngtsSec .bannerMngtInner .shippingSec .card .form-group input::-webkit-input-placeholder {
  color: #BFCBD7;
  opacity: 1;
}
.bannerMngtsSec .bannerMngtInner .shippingSec .card .form-group input::-moz-placeholder {
  color: #BFCBD7;
  opacity: 1;
}
.bannerMngtsSec .bannerMngtInner .shippingSec .card .form-group input:-ms-placeholder {
  color: #BFCBD7;
  opacity: 1;
}
.bannerMngtsSec .bannerMngtInner .shippingSec .card .weightSec {
  position: relative;
}
.bannerMngtsSec .bannerMngtInner .shippingSec .card .weightSec .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.bannerMngtsSec .bannerMngtInner .shippingSec .card .weightSec .customSelect select {
  height: 46px;
  border-radius: 8px;
  border: 1px solid #BFCBD7;
  font: 400 16px/24px "Inter", sans-serif;
  color: #BFCBD7;
  min-width: 80px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  margin-left: -1px;
}
@media (max-width: 1450px) {
  .bannerMngtsSec .bannerMngtInner .shippingSec .card .weightSec .customSelect select {
    height: 36px;
  }
}
.bannerMngtsSec .bannerMngtInner .shippingSec .card .weightSec small {
  position: absolute;
  right: 30px;
  top: 12px;
  font: 400 14px/20px "Inter", sans-serif;
  color: #BFCBD7;
}
.bannerMngtsSec .bannerMngtInner .shippingSec .card .shippingSearch {
  position: relative;
}
.bannerMngtsSec .bannerMngtInner .shippingSec .card .shippingSearch input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 50px 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
}
@media (max-width: 1450px) {
  .bannerMngtsSec .bannerMngtInner .shippingSec .card .shippingSearch input#search-bar {
    height: 36px;
    font: 400 14px/20px "Inter", sans-serif;
  }
}
.bannerMngtsSec .bannerMngtInner .shippingSec .card .shippingSearch input#search-bar:focus {
  border: 1px solid #BFCBD7;
  transition: 0.35s ease;
  color: #BFCBD7;
}
.bannerMngtsSec .bannerMngtInner .shippingSec .card .shippingSearch input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.bannerMngtsSec .bannerMngtInner .shippingSec .card .shippingSearch input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.bannerMngtsSec .bannerMngtInner .shippingSec .card .shippingSearch input#search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.bannerMngtsSec .bannerMngtInner .shippingSec .card .shippingSearch a {
  color: #BFCBD7;
}
.bannerMngtsSec .bannerMngtInner .shippingSec .card .shippingSearch a .search-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 15px;
  right: 10px;
}
.bannerMngtsSec .bannerMngtInner .variantsSec {
  padding: 50px 0;
}
@media (max-width: 991px) {
  .bannerMngtsSec .bannerMngtInner .variantsSec {
    padding: 15px 0;
  }
}
.bannerMngtsSec .bannerMngtInner .variantsSec .shippingHead {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 25px;
  flex-wrap: wrap;
}
.bannerMngtsSec .bannerMngtInner .variantsSec .shippingHead h3 {
  margin-right: 20px;
}
.bannerMngtsSec .bannerMngtInner .variantsSec .card .weightSec {
  position: relative;
}
.bannerMngtsSec .bannerMngtInner .variantsSec .card .weightSec small {
  position: absolute;
  right: 30px;
  top: 12px;
  font: 400 14px/20px "Inter", sans-serif;
  color: #BFCBD7;
}
.bannerMngtsSec .bannerMngtInner .variantsSec .card .shippingSearch {
  position: relative;
}
.bannerMngtsSec .bannerMngtInner .variantsSec .card .shippingSearch input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 50px 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
}
.bannerMngtsSec .bannerMngtInner .variantsSec .card .shippingSearch input#search-bar:focus {
  border: 1px solid #BFCBD7;
  transition: 0.35s ease;
  color: #BFCBD7;
}
.bannerMngtsSec .bannerMngtInner .variantsSec .card .shippingSearch input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.bannerMngtsSec .bannerMngtInner .variantsSec .card .shippingSearch input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.bannerMngtsSec .bannerMngtInner .variantsSec .card .shippingSearch input#search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.bannerMngtsSec .bannerMngtInner .variantsSec .card .shippingSearch a {
  color: #BFCBD7;
}
.bannerMngtsSec .bannerMngtInner .variantsSec .card .shippingSearch a .search-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 15px;
  right: 10px;
}
.bannerMngtsSec .bannerMngtInner .variantTable .table-responsive {
  padding: 10px 10px 0;
  overflow-x: auto;
  height: 400px;
}
@media screen and (max-width: 767px) {
  .bannerMngtsSec .bannerMngtInner .variantTable .table-responsive {
    width: 100%;
    margin-bottom: 0;
    overflow-y: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
.bannerMngtsSec .bannerMngtInner .variantTable .table-responsive::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.bannerMngtsSec .bannerMngtInner .variantTable .table-responsive::-webkit-scrollbar-track {
  background: #E6ECF2;
}
.bannerMngtsSec .bannerMngtInner .variantTable .table-responsive::-webkit-scrollbar-thumb {
  background: #ADBAC7;
}
.bannerMngtsSec .bannerMngtInner .variantTable .table-responsive::-webkit-scrollbar-thumb:hover {
  background: #ADBAC7;
}
.bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table {
  margin: 0;
}
@media screen and (max-width: 767px) {
  .bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table {
    table-layout: auto;
  }
}
.bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table thead {
  background: #F6F9FB;
}
.bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table thead tr th {
  color: #8E9FAA;
  margin-bottom: 0px;
  font: 400 16px/24px "Inter", sans-serif;
  border-top: none;
  border-bottom: none;
  border-color: #eef3f7;
  padding: 20px 15px;
}
@media screen and (max-width: 1450px) {
  .bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table thead tr th {
    font: 400 14px/20px "Inter", sans-serif !important;
    padding: 10px !important;
  }
}
@media screen and (max-width: 767px) {
  .bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table thead tr th {
    white-space: nowrap;
    font: 400 14px/24px "Inter", sans-serif;
  }
}
.bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table thead tr th:first-child {
  border-left: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table thead tr th:last-child {
  border-right: none;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table tbody tr td {
  color: #191818;
  margin-bottom: 0px;
  font: 400 16px/20px "Inter", sans-serif;
  border-color: #eef3f7;
  border-bottom: none;
  padding: 20px 15px;
}
@media screen and (max-width: 1450px) {
  .bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table tbody tr td {
    font: 400 14px/20px "Inter", sans-serif !important;
    padding: 10px !important;
  }
}
@media screen and (max-width: 767px) {
  .bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table tbody tr td {
    white-space: nowrap;
    font: 400 14px/24px "Inter", sans-serif;
  }
}
.bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table tbody tr td:first-child {
  border-left: none;
}
.bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table tbody tr td:last-child {
  border-right: none;
}
.bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table tbody tr td.active .resendBtn {
  background: #00A464;
  border-color: #00A464;
}
.bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table tbody tr td.active .resendBtn svg {
  fill: #fff;
}
.bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table tbody tr td span.divider {
  width: 2px;
  background: #464646;
  height: 13px;
  display: inline-block;
  margin: 0 5px;
}
.bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table tbody tr td input {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #BFCBD7;
  font: 400 14px/24px "Inter", sans-serif;
  color: #191818;
  min-width: 120px;
}
@media (max-width: 1450px) {
  .bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table tbody tr td input {
    height: 36px;
    font: 400 14px/20px "Inter", sans-serif;
  }
}
.bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table tbody tr td input:hover, .bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table tbody tr td input:active, .bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table tbody tr td input:focus {
  outline: none;
  box-shadow: none;
}
.bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table .resendBtn {
  border: 1px solid #BFCBD7;
  font: 400 15px/20px "Inter", sans-serif;
  background: transparent;
  min-width: 30px;
  height: 38px;
  outline: none;
  box-shadow: none;
  border-radius: 8px;
  text-transform: uppercase;
}
.bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table .resendBtn svg {
  width: 14px;
  height: 14px;
  fill: #BFCBD7;
}
@media screen and (max-width: 1450px) {
  .bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table .resendBtn {
    font: 300 13px/15px "Inter", sans-serif;
    height: 28px;
  }
}
.bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table .resendBtn:hover {
  border: 1px solid #00A464;
  background: #00A464;
}
.bannerMngtsSec .bannerMngtInner .variantTable .table-responsive table .resendBtn:hover svg {
  fill: #fff;
}

.checkBox {
  position: relative;
}
.checkBox .styled-checkbox {
  position: absolute;
  opacity: 0;
}
.checkBox .styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.checkBox .styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  border: 1px solid #191818;
  border-radius: 5px;
}
.checkBox .styled-checkbox:hover + label:before {
  background: #191818;
}
.checkBox .styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.checkBox .styled-checkbox:checked + label:before {
  background: #191818;
}
.checkBox .styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.checkBox .styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.checkBox .styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 10px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.rounded {
  border-radius: 8px !important;
}

.button-switch {
  position: relative;
  width: 75px;
  height: 20px;
}
.button-switch .lbl-off,
.button-switch .lbl-on {
  cursor: pointer;
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1em;
  position: absolute;
  top: 0.5em;
  transition: opacity 0.25s ease-out 0.1s;
  text-transform: uppercase;
}
.button-switch .lbl-off {
  right: 0.4375em;
}
.button-switch .lbl-on {
  color: #fff;
  opacity: 0;
  left: 0.4375em;
}
.button-switch .switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 0;
  font-size: 1em;
  line-height: 0;
  outline: none;
  position: absolute;
  top: 0;
  width: 0;
}
.button-switch .switch:before, .button-switch .switch:after {
  content: "";
  font-size: 1em;
  position: absolute;
  cursor: pointer;
}
.button-switch .switch:before {
  border-radius: 1.25em;
  background: #b2bec5;
  height: 22px;
  left: 5px;
  top: 6px;
  width: 38px;
  height: 10px;
}
.button-switch .switch:after {
  box-shadow: 0 0.0625em 0.375em 0 #666;
  border-radius: 50%;
  background: #22BCAC;
  transition: transform 0.25s ease-out 0.1s;
  width: 22px;
  height: 22px;
  transform: translate(0em, 0);
}
.button-switch .switch:checked:after {
  transform: translate(1.6em, 0);
  background: #00A464;
}
.button-switch .switch:checked ~ .lbl-off {
  opacity: 0;
}
.button-switch .switch:checked ~ .lbl-on {
  opacity: 1;
}
.button-switch .switch#switch-orange:checked:before {
  background: #b2bec5;
}
.button-switch .switch#switch-blue:checked:before {
  background: #b2bec5;
}

.form-control {
  border-radius: 8px !important;
}

.ng-select .ng-select-container {
  max-height: 20px !important;
  border-radius: 8px !important;
}

.demotxt {
  font: 400 12px/18px "Inter", sans-serif;
  color: #000;
}

/*img loaded style*/
.upload-area {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: 2px dashed #BFCBD7;
  height: 200px;
}

.loading-area {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 200px;
}

.upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100% !important;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.upload-text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.upload-text span {
  text-align: center;
  width: 100%;
}

.loading-img {
  display: flex;
  align-self: center;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin: auto;
}

.loaded-area {
  position: relative;
  /* background-color: rgba($color: #b3afaf, $alpha: 0.3); */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 200px;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
}

.loaded-img {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  height: 195px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.loaded-area span {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  color: white;
  font-size: 14px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.loaded-area:hover {
  background-color: #000;
}

.loaded-area:hover img {
  opacity: 0.2;
}

.loaded-area:hover span {
  opacity: 1;
}

.loaded-area .loaded-button {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  color: white;
  font-size: 14px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.loaded-area:hover .loaded-button {
  opacity: 1;
}

/*# sourceMappingURL=banner-management.css.map */
