@media screen and (max-width: 575px) {
  .categoryManagement .collectionInner .nav {
    flex-direction: column;
  }
}
.categoryManagement .collectionInner .nav li {
  margin-right: 15px;
}
@media screen and (max-width: 575px) {
  .categoryManagement .collectionInner .nav li {
    margin-right: 0;
  }
}
.categoryManagement .collectionInner .nav li a {
  text-decoration: none;
  padding: 15px 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #00A464;
  margin-bottom: 0px;
  font: 400 16px/20px "Inter", sans-serif;
  background: #fff;
}
@media screen and (max-width: 767px) {
  .categoryManagement .collectionInner .nav li a {
    padding: 10px 15px;
    font: 400 13px/8px "Inter", sans-serif;
  }
}
@media screen and (max-width: 575px) {
  .categoryManagement .collectionInner .nav li a {
    display: block;
    padding: 20px;
    width: 100%;
  }
}
.categoryManagement .collectionInner .nav li a.active {
  color: #191818;
  background: #EBF0F4;
}

/*# sourceMappingURL=Category-Management.css.map */
