.productList {
  padding: 20px 35px 0 45px;
  flex: 1 1 auto;
  height: 100%;
  background: #F8F9FB;
}
@media screen and (max-width: 1450px) {
  .productList {
    padding: 10px 20px 0 0px;
  }
}
@media (max-width: 991px) {
  .productList {
    padding: 10px 15px;
  }
}
.productList .table-top-menu .outer-sec-menu {
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (max-width: 1450px) {
  .productList .table-top-menu .outer-sec-menu {
    padding: 8px;
  }
}
@media (max-width: 767px) {
  .productList .table-top-menu .outer-sec-menu {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .productList .table-top-menu .outer-sec-menu .outer-sec-Head {
    width: 100%;
    margin-bottom: 15px;
  }
}
.productList .table-top-menu .outer-sec-menu .outer-sec-Head h3 {
  margin-bottom: 0px;
  font: 400 20px/24px "Inter", sans-serif;
}
@media (max-width: 1450px) {
  .productList .table-top-menu .outer-sec-menu .outer-sec-Head h3 {
    font: 400 18px/20px "Inter", sans-serif;
  }
}
@media (max-width: 991px) {
  .productList .table-top-menu .outer-sec-menu .outer-sec-Head h3 {
    font: 400 16px/20px "Inter", sans-serif;
  }
}
.productList .table-top-menu .outer-sec-menu .right-list {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .productList .table-top-menu .outer-sec-menu .right-list {
    width: 100%;
  }
}
.productList .table-top-menu .outer-sec-menu .right-list .rightMenu {
  display: flex;
}
@media (max-width: 767px) {
  .productList .table-top-menu .outer-sec-menu .right-list .rightMenu {
    width: 100%;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 575px) {
  .productList .table-top-menu .outer-sec-menu .right-list .rightMenu {
    justify-content: space-between;
    margin-bottom: 15px;
  }
}
.productList .table-top-menu .outer-sec-menu .right-list .search-box {
  max-width: 320px;
  position: relative;
  display: flex;
  border: 1px solid #DCE2E8;
  margin-right: 10px;
  border-radius: 8px;
  min-width: 310px;
  height: 40px;
  padding: 10px;
}
@media (max-width: 1450px) {
  .productList .table-top-menu .outer-sec-menu .right-list .search-box {
    min-width: 200px;
    height: 35px;
  }
}
@media screen and (max-width: 1199px) {
  .productList .table-top-menu .outer-sec-menu .right-list .search-box {
    margin-right: 15px;
    max-width: 150px;
  }
}
@media (max-width: 767px) {
  .productList .table-top-menu .outer-sec-menu .right-list .search-box {
    margin-bottom: 10px;
  }
}
.productList .table-top-menu .outer-sec-menu .right-list .search-box .search-input {
  width: 100%;
  padding: 0;
  border: none;
  border-radius: 0;
  border-right: none;
  outline: none;
  font-size: 14px;
  color: #ADBAC7;
  background: none;
  line-height: 20px;
}
.productList .table-top-menu .outer-sec-menu .right-list .search-box .search-button {
  text-align: center;
  color: #00A464;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 0;
  border-left: none;
  background: none;
  font-size: 12px;
}
.productList .table-top-menu .outer-sec-menu .right-list .FeaturedSec {
  position: relative;
  align-items: center;
  display: flex;
  margin-right: 10px;
  border: 1px solid #DCE2E8;
  border-radius: 10px;
  padding: 0 20px;
  height: 36px;
}
@media screen and (max-width: 1199px) {
  .productList .table-top-menu .outer-sec-menu .right-list .FeaturedSec {
    margin-right: 15px;
  }
}
@media (max-width: 767px) {
  .productList .table-top-menu .outer-sec-menu .right-list .FeaturedSec {
    margin-bottom: 10px;
    display: none;
  }
}
.productList .table-top-menu .outer-sec-menu .right-list .FeaturedSec a.filtterBtn {
  color: #000;
  text-decoration: none;
}
.productList .table-top-menu .outer-sec-menu .right-list .FeaturedSec a.filtterBtn span {
  font: 400 16px/20px "Inter", sans-serif;
}
@media (max-width: 1450px) {
  .productList .table-top-menu .outer-sec-menu .right-list .FeaturedSec a.filtterBtn span {
    font: 400 14px/18px "Inter", sans-serif;
  }
}
.productList .table-top-menu .outer-sec-menu .right-list .FeaturedSec a.filtterBtn span i {
  font-size: 12px;
  color: #191818;
}
.productList .table-top-menu .outer-sec-menu .right-list .sortdropdown {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 10px;
  border: 1px solid #DCE2E8;
  border-radius: 10px;
  padding: 0 20px;
  height: 36px;
}
@media screen and (max-width: 1199px) {
  .productList .table-top-menu .outer-sec-menu .right-list .sortdropdown {
    margin-right: 15px;
  }
}
@media (max-width: 767px) {
  .productList .table-top-menu .outer-sec-menu .right-list .sortdropdown {
    margin-bottom: 10px;
  }
}
.productList .table-top-menu .outer-sec-menu .right-list .sortdropdown a.sortropdownBtn {
  color: #000000;
  margin-bottom: 0px;
  font: 400 16px/20px "Inter", sans-serif;
  text-decoration: none;
}
@media (max-width: 1450px) {
  .productList .table-top-menu .outer-sec-menu .right-list .sortdropdown a.sortropdownBtn {
    font: 400 14px/18px "Inter", sans-serif;
  }
}
.productList .table-top-menu .outer-sec-menu .right-list .sortdropdown a.sortropdownBtn i {
  font-size: 12px;
}
.productList .table-top-menu .outer-sec-menu .right-list .sortdropdown ul.sortMenu {
  left: 0;
  right: 0;
  min-width: 190px;
  padding: 10px 10px;
}
.productList .table-top-menu .outer-sec-menu .right-list .sortdropdown ul.sortMenu li {
  color: #000;
  padding: 7px 2px;
  text-decoration: none;
}
.productList .table-top-menu .outer-sec-menu .right-list .sortdropdown ul.sortMenu li a {
  color: #000;
  padding: 7px 2px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.productList .table-top-menu .outer-sec-menu .right-list .sortdropdown ul.sortMenu li a .up {
  background-color: #32C671;
  border-radius: 50%;
  padding: 2px 6px;
}
.productList .table-top-menu .outer-sec-menu .right-list .sortdropdown ul.sortMenu li a .down {
  background-color: #32C671;
  border-radius: 50%;
  padding: 2px 6px;
  transform: rotate(180deg);
}
.productList .table-top-menu .outer-sec-menu .right-list .sortselect .inputWrap .customSelect .form-control {
  border: 1px solid #DCE2E8;
  border-radius: 10px;
  padding: 0 20px;
  height: 36px;
  outline: none;
}
.productList .table-top-menu .outer-sec-menu .right-list .button-add {
  margin-right: 10px;
}
.productList .table-top-menu .outer-sec-menu .right-list .button-add button {
  background: transparent;
  color: #00A464;
  border: none;
  border-radius: 5px;
  padding: 7px 12px;
  min-width: 160px;
  height: 40px;
  font: 400 14px/20px "Inter", sans-serif;
  border: 1px solid #ADBAC7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  border-radius: 8px;
  text-transform: uppercase;
}
@media screen and (max-width: 1450px) {
  .productList .table-top-menu .outer-sec-menu .right-list .button-add button {
    font: 400 12px/20px "Inter", sans-serif;
    height: 35px;
  }
}
.productList .table-top-menu .outer-sec-menu .right-list .button-add button:hover {
  background: transparent;
  color: #ADBAC7;
}
.productList .table-top-menu .outer-sec-menu .right-list .button-add button i {
  color: #fff;
  padding-right: 0;
  background: #00A464;
  width: 25px;
  height: 25px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}
.productList .collectionInner {
  background-color: #fff;
  margin-bottom: 30px;
}
@media screen and (max-width: 575px) {
  .productList .collectionInner .nav {
    flex-direction: column;
  }
}
.productList .collectionInner .nav li {
  margin-right: 15px;
}
@media screen and (max-width: 575px) {
  .productList .collectionInner .nav li {
    margin-right: 0;
  }
}
.productList .collectionInner .nav li a {
  text-decoration: none;
  padding: 15px 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #00A464;
  margin-bottom: 0px;
  font: 400 16px/20px "Inter", sans-serif;
  background: #fff;
}
@media screen and (max-width: 767px) {
  .productList .collectionInner .nav li a {
    padding: 10px 15px;
    font: 400 13px/8px "Inter", sans-serif;
  }
}
@media screen and (max-width: 575px) {
  .productList .collectionInner .nav li a {
    display: block;
    padding: 20px;
    width: 100%;
  }
}
.productList .collectionInner .nav li a.active {
  color: #191818;
  background: #EBF0F4;
}
.productList .collectionInner .tab-content .table-responsive table tbody tr td .productImg {
  width: 40px;
  height: 40px;
  /* background: red; */
  display: inline-block;
  align-items: center;
  vertical-align: middle;
  /* display: flex; */
  align-items: center;
  border: 1px solid #bfcbd7;
  border-radius: 8px;
  padding: 0;
  overflow: hidden;
  object-fit: cover;
  margin-right: 10px;
}
@media (max-width: 1450px) {
  .productList .collectionInner .tab-content .table-responsive table tbody tr td .productImg {
    width: 35px;
    height: 35px;
  }
}
@media screen and (max-width: 991px) {
  .productList .collectionInner .tab-content .table-responsive table tbody tr td .productImg {
    width: 30px;
    height: 30px;
  }
}
.productList .collectionInner .tab-content .table-responsive table tbody tr td .productImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.productList .collectionInner .tab-content .table-responsive table .editBtn {
  color: #8E9FAA;
  border: 1px solid #8E9FAA;
  font: 400 14px/20px "Inter", sans-serif;
  background: transparent;
  min-width: 70px;
  height: 30px;
  outline: none;
  box-shadow: none;
  border-radius: 6px;
  text-transform: uppercase;
  margin-right: 20px !important;
  margin: 5px;
}
.productList .collectionInner .tab-content .table-responsive table .editBtn:hover, .productList .collectionInner .tab-content .table-responsive table .editBtn:active {
  color: #fff;
  border: 1px solid #00A464;
  background: #00A464;
}
@media screen and (max-width: 1450px) {
  .productList .collectionInner .tab-content .table-responsive table .editBtn {
    font: 400 12px/15px "Inter", sans-serif;
    min-width: 65px;
  }
}
.productList .collectionInner .tab-content .table-responsive table .inactiveBtn {
  color: #8E9FAA;
  border: 1px solid #8E9FAA;
  font: 400 14px/20px "Inter", sans-serif;
  background: transparent;
  min-width: 70px;
  height: 30px;
  outline: none;
  box-shadow: none;
  border-radius: 6px;
  text-transform: uppercase;
  margin: 5px;
  margin-right: 20px !important;
}
.productList .collectionInner .tab-content .table-responsive table .inactiveBtn:hover, .productList .collectionInner .tab-content .table-responsive table .inactiveBtn:active {
  color: #fff;
  border: 1px solid #22BCAC;
  background: #22BCAC;
}
@media screen and (max-width: 1450px) {
  .productList .collectionInner .tab-content .table-responsive table .inactiveBtn {
    font: 300 13px/15px "Inter", sans-serif;
    min-width: 65px;
  }
}
.productList .collectionInner .tab-content .table-responsive table span i {
  color: #BFCBD7;
}
.productList .collectionInner .tab-content .table-responsive table span.greenStar i {
  color: #00A464;
}

.custom-radios {
  padding: 0;
  display: unset;
}
.custom-radios div {
  display: flex;
  justify-content: space-between;
}
.custom-radios input[type=radio] {
  display: none;
}
.custom-radios input[type=radio] + label {
  color: #333;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom-radios input[type=radio] + label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0px 0px 0 0px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
}
.custom-radios input[type=radio] + label span img {
  opacity: 0;
  transition: all 0.3s ease;
  max-width: 14px;
}
.custom-radios input[type=radio].checked + label span {
  background-color: #00A464;
}
.custom-radios input[type=radio]:checked + label span img {
  opacity: 1;
}

.action.sortdropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 10px;
  padding: 0 20px;
  height: 36px;
}
@media screen and (max-width: 1199px) {
  .action.sortdropdown {
    margin-right: 15px;
  }
}
@media (max-width: 767px) {
  .action.sortdropdown {
    margin-bottom: 10px;
  }
}
.action.sortdropdown a.dotsdownBtn {
  color: #000000;
  margin-bottom: 0px;
  font: 400 16px/20px "Inter", sans-serif;
  text-decoration: none;
}
@media (max-width: 1450px) {
  .action.sortdropdown a.dotsdownBtn {
    font: 400 14px/18px "Inter", sans-serif;
  }
}
.action.sortdropdown a.dotsdownBtn i {
  font-size: 12px;
}
.action.sortdropdown ul.actionMenu {
  left: 0;
  right: 0;
  min-width: 140px;
  padding: 0px 5px;
}
.action.sortdropdown ul.actionMenu li {
  color: #000;
  padding: 7px 2px;
  text-decoration: none;
}
.action.sortdropdown ul.actionMenu li a {
  color: #000;
  padding: 7px 2px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.action.sortdropdown ul.actionMenu li a.active {
  color: #00A464;
}
.action.sortdropdown ul.actionMenu li a .up {
  background-color: #32C671;
  border-radius: 50%;
  padding: 2px 6px;
}
.action.sortdropdown ul.actionMenu li a .up i {
  color: #fff;
}

/*# sourceMappingURL=customer.css.map */
