.headerMngtsSec {
  padding: 20px 35px 0 45px;
  flex: 1 1 auto;
  height: 100%;
  background: #F8F9FB;
}
@media screen and (max-width: 1450px) {
  .headerMngtsSec {
    padding: 10px 20px 0 0px;
  }
}
@media (max-width: 991px) {
  .headerMngtsSec {
    padding: 10px 15px;
  }
}
.headerMngtsSec .headerMngtInner .shippingHead {
  display: flex;
  justify-content: flex-end;
}
.headerMngtsSec .headerMngtInner .shippingHead h3 {
  font: 400 18px/24px "Inter", sans-serif;
  color: #191818;
}
@media (max-width: 1450px) {
  .headerMngtsSec .headerMngtInner .shippingHead h3 {
    font: 400 16px/20px "Inter", sans-serif;
  }
}
.headerMngtsSec .headerMngtInner .header-link {
  font: 400 14px/19px "Inter", sans-serif;
  color: #A6AEB7;
  padding: 0 10px;
}
.headerMngtsSec .headerMngtInner .card {
  border: none;
  background-color: transparent;
  margin-bottom: 0px;
}
.headerMngtsSec .headerMngtInner .card.bg-none {
  background: none;
}
.headerMngtsSec .headerMngtInner .card .inputWrap.headerSmallbox {
  background-color: #fff;
  padding: 10px 10px 0px 10px;
}
.headerMngtsSec .headerMngtInner .card .inputWrap.headerSmallbox input {
  height: 30px;
  border-radius: 8px;
  font: 400 16px/24px "Inter", sans-serif;
  color: #191818;
}
@media (max-width: 1450px) {
  .headerMngtsSec .headerMngtInner .card .inputWrap.headerSmallbox input {
    height: 36px;
    font: 400 14px/20px "Inter", sans-serif;
  }
}
.headerMngtsSec .headerMngtInner .card .inputWrap.headerSmallbox input:focus, .headerMngtsSec .headerMngtInner .card .inputWrap.headerSmallbox input:hover, .headerMngtsSec .headerMngtInner .card .inputWrap.headerSmallbox input:active {
  outline: none;
  box-shadow: none;
}
.headerMngtsSec .headerMngtInner .card .inputWrap.headerSmallbox textarea {
  resize: none;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #BFCBD7;
  font: 400 16px/24px "Inter", sans-serif;
  color: #191818;
  min-height: 130px;
}
.headerMngtsSec .headerMngtInner .card .inputWrap.headerSmallbox textarea:focus, .headerMngtsSec .headerMngtInner .card .inputWrap.headerSmallbox textarea:hover, .headerMngtsSec .headerMngtInner .card .inputWrap.headerSmallbox textarea:active {
  outline: none;
  box-shadow: none;
}
.headerMngtsSec .headerMngtInner .card .form-group label {
  font: 400 14px/19px "Inter", sans-serif;
  color: #00A464;
  padding-bottom: 2px;
}
@media (max-width: 1450px) {
  .headerMngtsSec .headerMngtInner .card .form-group label {
    font: 600 13px/18px "Inter", sans-serif;
  }
}
.headerMngtsSec .headerMngtInner .card .form-group .customSelect {
  position: relative;
}
.headerMngtsSec .headerMngtInner .card .form-group .customSelect::before {
  content: "";
  pointer-events: none;
  width: 13px;
  height: 10px;
  display: block;
  position: absolute;
  right: 15px;
  top: 0;
  margin: auto;
  bottom: 0;
  background-image: url(../../img/Polygon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.headerMngtsSec .headerMngtInner .card .form-group .customSelect select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #BFCBD7;
  font: 400 16px/24px "Inter", sans-serif;
  color: #191818;
  min-width: 120px;
}
@media (max-width: 1450px) {
  .headerMngtsSec .headerMngtInner .card .form-group .customSelect select {
    height: 36px;
    font: 400 14px/20px "Inter", sans-serif;
  }
}
.headerMngtsSec .headerMngtInner .card .form-group .customSelect select:focus, .headerMngtsSec .headerMngtInner .card .form-group .customSelect select:hover, .headerMngtsSec .headerMngtInner .card .form-group .customSelect select:active {
  outline: none;
  box-shadow: none;
}
.headerMngtsSec .headerMngtInner .card .form-group .control-group {
  position: relative;
  margin-bottom: 10px;
}
.headerMngtsSec .headerMngtInner .card .form-group .control-group i {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 12px;
  bottom: 0;
  right: 12px;
  z-index: 1;
  color: #BFCBD7;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  cursor: pointer;
}
.headerMngtsSec .headerMngtInner .card .form-group .control-group .footerImg {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 12px;
  bottom: 0;
  right: 12px;
  z-index: 1;
  color: #BFCBD7;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  cursor: pointer;
}
.headerMngtsSec .headerMngtInner .card .form-group .checkBox {
  padding-top: 40px;
}
.headerMngtsSec .headerMngtInner .card.textEditor .form-group {
  height: 100%;
}
.headerMngtsSec .headerMngtInner .card.textEditor .form-group .inputWrap {
  height: 100%;
}

.bigBoxwrapper {
  margin-bottom: 30px;
}
.bigBoxwrapper h4 {
  font: 400 14px/19px "Inter", sans-serif;
  margin-bottom: 20px;
}
.bigBoxwrapper .bigBoxInner {
  background-color: #fff;
  padding: 30px 30px 10px 30px;
  border-radius: 10px;
}

.checkBoxwrapper {
  padding-bottom: 25px;
  padding-top: 25px;
}
.checkBoxwrapper .chkboxOuter {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.checkBoxwrapper .chkboxOuter .checkBox {
  display: flex;
  align-items: center;
  min-width: 200px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
@media (max-width: 1679px) {
  .checkBoxwrapper .chkboxOuter .checkBox {
    min-width: 160px;
  }
}
@media (max-width: 1450px) {
  .checkBoxwrapper .chkboxOuter .checkBox {
    min-width: 160px;
  }
}
.checkBoxwrapper .chkboxOuter .checkBox label {
  font: 400 13px/20px "Inter", sans-serif;
  margin-bottom: 0;
  margin-left: 10px;
}
.checkBoxwrapper .select-banner {
  margin-top: -47px;
}

/*edited for Image*/
.upload-area {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 2px dashed #b7b7b7e6;
  height: 120px;
  background-color: #c3c3c33b;
}

.loading-area {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 200px;
}

.upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100% !important;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.upload-text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.upload-text span {
  text-align: center;
  width: 100%;
  font: 400 14px/18px "Inter", sans-serif;
  color: #0000005c;
}

.loading-img {
  display: flex;
  align-self: center;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin: auto;
}

.loaded-area {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 115px;
  cursor: pointer;
  display: flex;
}

.loaded-img {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  height: 195px;
  object-fit: cover;
  object-position: center;
}

.loaded-area span {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  color: white;
  font-size: 14px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.loaded-area:hover {
  background-color: #000;
}

.loaded-area:hover img {
  opacity: 0.2;
}

.loaded-area:hover span {
  opacity: 1;
}

.loaded-area .loaded-button {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  color: white;
  font-size: 14px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.loaded-area:hover .loaded-button {
  opacity: 1;
}

.loaded-area img {
  width: 100% !important;
  height: 100% !important;
}

input::placeholder {
  font-size: 13px;
}

/*# sourceMappingURL=header-management.css.map */
