.right-nav.expandnavbarr1 {
  margin-left: 62px;
  width: calc(100% - 62px);
}
.right-nav.expandnavbarr1 .navmenuIcon {
  display: block !important;
}

.right-nav {
  width: calc(100% - 315px);
  margin-left: 315px;
  position: relative;
  flex-grow: 1;
  background: #fff;
}
@media (min-width: 902px) {
  .right-nav {
    position: fixed;
    top: 0;
    z-index: 99;
  }
}
@media (max-width: 1450px) {
  .right-nav {
    width: calc(100% - 250px);
    margin-left: 250px;
  }
}
@media (max-width: 901px) {
  .right-nav {
    width: 100%;
    margin-left: 0;
  }
}
.right-nav.expandRightNav {
  width: calc(100% - 100px);
  margin-left: 100px;
}
.right-nav .navbarOtr {
  position: sticky;
  top: 0;
  background: #F6F9FB;
  padding: 0;
  box-shadow: 0 3px 15px #0000000d;
}
.right-nav .navbarOtr .navbar-expand-lg {
  padding: 15px 25px 5px;
}
@media (max-width: 991px) {
  .right-nav .navbarOtr .navbar-expand-lg {
    padding-top: 0;
  }
}
.right-nav .navbarOtr .navbar-expand-lg .smallLogo {
  display: none;
}
.right-nav .navbarOtr .navbar-expand-lg .smallLogo img {
  max-height: 38px;
  margin-right: 50px;
  margin-left: -3px;
  margin-top: 0;
}
@media (max-width: 575px) {
  .right-nav .navbarOtr .navbar-expand-lg .smallLogo {
    display: block;
  }
}
@media (max-width: 575px) {
  .right-nav .navbarOtr .navbar-expand-lg .logo-expand {
    display: none;
  }
}
.right-nav .navbarOtr .navbar-expand-lg .navbar-collapse {
  padding-bottom: 10px;
}
.right-nav .navbarOtr .navmenuIcon {
  display: none;
  cursor: pointer;
}
@media (max-width: 901px) {
  .right-nav .navbarOtr .navmenuIcon {
    display: block;
  }
}
.right-nav .navbarOtr .navmenuIcon i {
  font-size: 20px;
  color: #c1c1c1;
}
.right-nav .navbarOtr .left-hed {
  margin-left: 21px;
}
@media (max-width: 1450px) {
  .right-nav .navbarOtr .left-hed {
    margin-left: 0px;
  }
}
.right-nav .navbarOtr .left-hed h3 {
  margin-bottom: 5px;
  color: #191818;
  font: 400 24px/32px "Inter", sans-serif;
}
@media (max-width: 1450px) {
  .right-nav .navbarOtr .left-hed h3 {
    margin-bottom: 0px;
    font: 400 20px/24px "Inter", sans-serif;
  }
}
.right-nav .navbarOtr .left-hed h3 .red-txt {
  color: red;
  font-weight: 600;
}
.right-nav .navbarOtr .left-hed h4 {
  font: 400 16px/20px "Inter", sans-serif;
  color: #BFCBD7;
  margin-bottom: 0;
}
@media (max-width: 1679px) {
  .right-nav .navbarOtr .left-hed h4 {
    font: 400 14px/20px "Inter", sans-serif;
  }
}
.right-nav .navbarOtr .right-hed .profileImg {
  margin-right: 25px;
}
.right-nav .navbarOtr .right-hed .profileImg .profileDropdown {
  position: relative;
}
.right-nav .navbarOtr .right-hed .profileImg .profileDropdown a.dropdown-toggle {
  color: #191818 !important;
}
.right-nav .navbarOtr .right-hed .profileImg .profileDropdown a.dropdown-toggle::after {
  display: none;
}
.right-nav .navbarOtr .right-hed .profileImg .profileDropdown a.dropdown-toggle::before {
  content: "";
  width: 20px;
  height: 8px;
  background: url(../img/downArrow.svg) no-repeat;
  position: absolute;
  right: -20px;
  background-size: 70%;
}
.right-nav .navbarOtr .right-hed .profileImg .dropdown-menu {
  min-width: 130px;
  top: 54px;
  left: 24px;
  padding: 0;
  box-shadow: 0 0 10px #15141417;
  left: inherit;
  right: 0;
  border: none;
  border-radius: 6px;
}
.right-nav .navbarOtr .right-hed .profileImg .dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
  padding: 10px 12px !important;
  font: 500 12px/18px "Inter", sans-serif;
  padding: 5px 15px;
}
.right-nav .navbarOtr .right-hed .profileImg .dropdown-item:hover {
  background: #fff;
}
.right-nav .navbarOtr .right-hed .profileImg .dropdown-item:last-child {
  border: none !important;
}
.right-nav .navbarOtr .right-hed .profileImg .nav-link {
  color: #191818 !important;
  font: 400 18px/24px "Inter", sans-serif;
}
@media (max-width: 1679px) {
  .right-nav .navbarOtr .right-hed .profileImg .nav-link {
    font: 400 16px/24px "Inter", sans-serif;
  }
}
.right-nav .navbarOtr .right-hed .profileImg .profName {
  margin: 0 10px;
}
@media (max-width: 575px) {
  .right-nav .navbarOtr .right-hed .profileImg .profName {
    display: none;
  }
}
.right-nav .navbarOtr .right-hed .profileImg .profileImgSec {
  width: 50px;
  height: 50px;
  background: #fff;
  padding: 2px;
  border-radius: 50px;
}
@media (max-width: 575px) {
  .right-nav .navbarOtr .right-hed .profileImg .profileImgSec {
    margin-right: 10px;
  }
}
.right-nav .navbarOtr .right-hed .profileImg .profileImgSec img {
  border-radius: 100px;
  width: 100%;
  height: 100%;
}
.right-nav .navbarOtr .right-hed .imgNoti {
  position: relative;
  margin-right: 25px;
}
.right-nav .navbarOtr .right-hed .imgNoti:last-child {
  margin-right: 0;
}
.right-nav .navbarOtr .right-hed .imgNoti a {
  position: relative;
  cursor: pointer;
}
.right-nav .navbarOtr .right-hed .imgNoti img {
  height: 25px;
}
.right-nav .navbarOtr .right-hed .imgNoti span.notifyTxt {
  background: #00A464;
  color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
  font: 400 13px/18px "Inter", sans-serif;
  position: absolute;
  right: 0px;
  top: 6px;
}
@media (max-width: 991px) {
  .right-nav .navbarOtr .right-hed .imgNoti span.notifyTxt {
    width: 14px;
    height: 14px;
    font: 400 11px/14px "Inter", sans-serif;
    position: absolute;
    right: -2px;
  }
}

/*# sourceMappingURL=header.css.map */
