@media screen and (max-width: 575px) {
  .inventory .collectionInner .nav {
    flex-direction: column;
  }
}
.inventory .collectionInner .nav li {
  margin-right: 15px;
}
@media screen and (max-width: 575px) {
  .inventory .collectionInner .nav li {
    margin-right: 0;
  }
}
.inventory .collectionInner .nav li a {
  text-decoration: none;
  padding: 15px 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #00A464;
  margin-bottom: 0px;
  font: 400 16px/20px "Inter", sans-serif;
  background: #fff;
}
@media screen and (max-width: 767px) {
  .inventory .collectionInner .nav li a {
    padding: 10px 15px;
    font: 400 13px/8px "Inter", sans-serif;
  }
}
@media screen and (max-width: 575px) {
  .inventory .collectionInner .nav li a {
    display: block;
    padding: 20px;
    width: 100%;
  }
}
.inventory .collectionInner .nav li a.active {
  color: #191818;
  background: #EBF0F4;
}
.inventory .collectionInner .tab-content .table-responsive table tbody tr td .productImg {
  width: 40px;
  height: 40px;
  /* background: red; */
  display: inline-block;
  align-items: center;
  vertical-align: middle;
  /* display: flex; */
  align-items: center;
  border: 1px solid #bfcbd7;
  border-radius: 8px;
  padding: 0;
  overflow: hidden;
  object-fit: cover;
  margin-right: 10px;
}
@media (max-width: 1450px) {
  .inventory .collectionInner .tab-content .table-responsive table tbody tr td .productImg {
    width: 35px;
    height: 35px;
  }
}
@media screen and (max-width: 991px) {
  .inventory .collectionInner .tab-content .table-responsive table tbody tr td .productImg {
    width: 30px;
    height: 30px;
  }
}
.inventory .collectionInner .tab-content .table-responsive table tbody tr td .productImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.inventory .collectionInner .tab-content .table-responsive table tbody tr td .number-spinner {
  position: relative;
  min-width: 150px;
}
.inventory .collectionInner .tab-content .table-responsive table tbody tr td .number-spinner .ns-btn a {
  font-size: 22px;
  position: absolute;
  background: #EAEEF2;
  width: 35px;
  height: 100%;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
}
.inventory .collectionInner .tab-content .table-responsive table tbody tr td .number-spinner .ns-btn a.plus {
  left: 0;
  top: 0;
}
.inventory .collectionInner .tab-content .table-responsive table tbody tr td .number-spinner .ns-btn a.minus {
  top: 0;
  right: 0;
}
.inventory .collectionInner .tab-content .table-responsive table tbody tr td .number-spinner input {
  text-align: center;
  width: 100%;
  font: 400 14px/20px "Inter", sans-serif;
  color: #000000;
  border: 1px solid #EAEEF2;
  height: 35px;
  border-radius: 8px;
}
.inventory .collectionInner .tab-content .table-responsive table tbody tr .prdctnameOuter {
  display: flex;
  align-items: center;
}
.inventory .collectionInner .tab-content .table-responsive table tbody tr .prdctnameOuter .productName p {
  margin-bottom: 0;
  color: #A1AFB8;
  font: 400 12px/16px "Inter", sans-serif;
}
.inventory .collectionInner .tab-content .table-responsive table span i {
  color: #BFCBD7;
}
.inventory .collectionInner .tab-content .table-responsive table span.greenStar i {
  color: #00A464;
}

/*# sourceMappingURL=inventory-list.css.map */
