.invitationsSec {
  padding: 0px 35px 0 45px;
  flex: 1 1 auto;
  height: 100%;
  background: #F8F9FB;
}
@media screen and (max-width: 1450px) {
  .invitationsSec {
    padding: 0px 20px 0 0px;
  }
}
@media (max-width: 991px) {
  .invitationsSec {
    padding: 10px 15px;
  }
}
.invitationsSec .table-top-menu .outer-sec-menu {
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (max-width: 1450px) {
  .invitationsSec .table-top-menu .outer-sec-menu {
    padding: 8px;
  }
}
@media (max-width: 767px) {
  .invitationsSec .table-top-menu .outer-sec-menu .outer-sec-Head {
    width: 100%;
    margin-bottom: 15px;
  }
}
.invitationsSec .table-top-menu .outer-sec-menu .outer-sec-Head h3 {
  margin-bottom: 0px;
  font: 400 20px/24px "Inter", sans-serif;
}
@media (max-width: 1450px) {
  .invitationsSec .table-top-menu .outer-sec-menu .outer-sec-Head h3 {
    font: 400 18px/20px "Inter", sans-serif;
  }
}
@media (max-width: 991px) {
  .invitationsSec .table-top-menu .outer-sec-menu .outer-sec-Head h3 {
    font: 400 16px/20px "Inter", sans-serif;
  }
}
.invitationsSec .table-top-menu .outer-sec-menu .right-list {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .invitationsSec .table-top-menu .outer-sec-menu .right-list {
    width: 100%;
  }
}
.invitationsSec .table-top-menu .outer-sec-menu .right-list .rightMenu {
  display: flex;
}
@media (max-width: 767px) {
  .invitationsSec .table-top-menu .outer-sec-menu .right-list .rightMenu {
    width: 100%;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 575px) {
  .invitationsSec .table-top-menu .outer-sec-menu .right-list .rightMenu {
    justify-content: space-between;
    margin-bottom: 15px;
  }
}
.invitationsSec .table-top-menu .outer-sec-menu .right-list .button-add {
  margin-right: 10px;
}
.invitationsSec .table-top-menu .outer-sec-menu .right-list .button-add button {
  background: transparent;
  color: #00A464;
  border: none;
  border-radius: 5px;
  padding: 7px 12px;
  min-width: 160px;
  height: 40px;
  font: 400 14px/20px "Inter", sans-serif;
  border: 1px solid #ADBAC7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  border-radius: 8px;
  text-transform: uppercase;
}
@media screen and (max-width: 1450px) {
  .invitationsSec .table-top-menu .outer-sec-menu .right-list .button-add button {
    font: 400 12px/20px "Inter", sans-serif;
    height: 35px;
  }
}
.invitationsSec .table-top-menu .outer-sec-menu .right-list .button-add button:hover {
  background: transparent;
  color: #ADBAC7;
}
.invitationsSec .table-top-menu .outer-sec-menu .right-list .button-add button i {
  color: #fff;
  padding-right: 0;
  background: #00A464;
  width: 25px;
  height: 25px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}
.invitationsSec .tagTab {
  margin-bottom: 30px;
  border-bottom: 1px solid #c0ccd852;
}
@media screen and (max-width: 575px) {
  .invitationsSec .tagTab .nav {
    flex-direction: column;
  }
}
.invitationsSec .tagTab .nav li {
  margin-right: 15px;
}
@media screen and (max-width: 575px) {
  .invitationsSec .tagTab .nav li {
    margin-right: 0;
  }
}
.invitationsSec .tagTab .nav li a {
  text-decoration: none;
  padding: 10px 0px;
  color: #191818;
  margin-bottom: 0px;
  margin-right: 25px;
  background-color: transparent;
  font: 400 16px/38px "Inter", sans-serif;
}
@media screen and (max-width: 767px) {
  .invitationsSec .tagTab .nav li a {
    padding: 10px 15px;
    font: 400 14px/8px "Inter", sans-serif;
  }
}
@media screen and (max-width: 575px) {
  .invitationsSec .tagTab .nav li a {
    display: block;
    padding: 20px;
    width: 100%;
  }
}
.invitationsSec .tagTab .nav li a.active {
  border-bottom: 2px solid #00A464;
  color: #00A464;
  background-color: transparent;
}
.invitationsSec .invitationInner {
  background-color: #fff;
  margin-bottom: 30px;
}
@media screen and (max-width: 575px) {
  .invitationsSec .invitationInner .nav {
    flex-direction: column;
  }
}
.invitationsSec .invitationInner .nav li {
  margin-right: 15px;
}
@media screen and (max-width: 575px) {
  .invitationsSec .invitationInner .nav li {
    margin-right: 0;
  }
}
.invitationsSec .invitationInner .nav li a {
  text-decoration: none;
  padding: 15px 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #00A464;
  margin-bottom: 0px;
  font: 400 16px/20px "Inter", sans-serif;
  background: #fff;
}
@media screen and (max-width: 767px) {
  .invitationsSec .invitationInner .nav li a {
    padding: 10px 15px;
    font: 400 13px/8px "Inter", sans-serif;
  }
}
@media screen and (max-width: 575px) {
  .invitationsSec .invitationInner .nav li a {
    display: block;
    padding: 20px;
    width: 100%;
  }
}
.invitationsSec .invitationInner .nav li a.active {
  color: #191818;
  background: #EBF0F4;
}
.invitationsSec .invitationInner .tab-content .table-responsive table tbody tr td:first-child {
  border-left: none;
}
.invitationsSec .invitationInner .tab-content .table-responsive table tbody tr td:last-child {
  border-right: none;
}
.invitationsSec .invitationInner .tab-content .table-responsive table tbody tr td.active {
  color: #00A464;
}
.invitationsSec .invitationInner .tab-content .table-responsive table tbody tr td.pending {
  color: #22BCAC;
}
.invitationsSec .invitationInner .tab-content .table-responsive table .resendBtn {
  color: #8E9FAA;
  border: 1px solid #8E9FAA;
  font: 400 15px/20px "Inter", sans-serif;
  background: transparent;
  min-width: 70px;
  height: 30px;
  outline: none;
  box-shadow: none;
  border-radius: 6px;
  text-transform: uppercase;
}
.invitationsSec .invitationInner .tab-content .table-responsive table .resendBtn:hover, .invitationsSec .invitationInner .tab-content .table-responsive table .resendBtn:active {
  color: #fff;
  border: 1px solid #00A464;
  background: #00A464;
}
@media screen and (max-width: 1450px) {
  .invitationsSec .invitationInner .tab-content .table-responsive table .resendBtn {
    font: 300 13px/15px "Inter", sans-serif;
    height: 30px;
    min-width: 65px;
  }
}

/*# sourceMappingURL=Invitations.css.map */
