.inviteMemberSec {
  background: #F6F9FB;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inviteMemberSec .inviteMemberInner {
  background: #fff;
  border-radius: 10px;
  padding: 25px 30px;
  width: 700px;
}
@media (max-width: 767px) {
  .inviteMemberSec .inviteMemberInner {
    width: 100%;
  }
}
.inviteMemberSec .inviteMemberInner .inviteMemberHead {
  background: #F6F9FB;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  padding: 0 20px;
}
.inviteMemberSec .inviteMemberInner .inviteMemberHead h5 {
  color: #22BC52;
  font: 400 20px/30px "Inter", sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
}
.inviteMemberSec .inviteMemberInner .inviteMemberHead .close {
  color: #00A464;
  opacity: 1;
}
.inviteMemberSec .inviteMemberInner .inviteMemberContent {
  padding: 30px;
}
.inviteMemberSec .inviteMemberInner .inviteMemberContent form .form-group label {
  font: 400 16px/24px "Inter", sans-serif;
  color: #BFCBD7;
}
.inviteMemberSec .inviteMemberInner .inviteMemberContent form .form-group .form-control {
  height: 50px;
  border: 1px solid #e5e9ed;
  border-radius: 8px;
  color: #191818;
  font: 400 16px/24px "Inter", sans-serif;
}
.inviteMemberSec .inviteMemberInner .inviteMemberContent form .form-group .form-control:focus {
  box-shadow: none;
}
.inviteMemberSec .inviteMemberInner .inviteMemberContent form .form-group .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #191818;
  opacity: 1;
  /* Firefox */
}
.inviteMemberSec .inviteMemberInner .inviteMemberContent form .form-group .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #191818;
}
.inviteMemberSec .inviteMemberInner .inviteMemberContent form .form-group .form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #191818;
}
.inviteMemberSec .inviteMemberInner .inviteMemberFooter {
  border: none;
  text-align: revert;
  padding: 10px 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.inviteMemberSec .inviteMemberInner .inviteMemberFooter button {
  font: 400 16px/24px "Inter", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background: #41de85;
  background: linear-gradient(90deg, #41de85 0%, #3bcca3 50%, #37c1b8 100%);
  min-width: 200px;
  height: 60px;
  border: none;
  border-radius: 8px;
}
.inviteMemberSec .inviteMemberInner .inviteMemberFooter button:focus {
  box-shadow: none;
}

/*# sourceMappingURL=invite-member.css.map */
