.loaderWrapper {
  position: fixed;
  background: #095d3ca6;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 901px) {
  .loaderWrapper {
    top: 0;
  }
}

.loader {
  display: inline-block;
  font-size: 0px;
  padding: 0px;
}
@media (min-width: 902px) {
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-180%, -50%);
  }
}

.loader span {
  vertical-align: middle;
  border-radius: 100%;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 3px 2px;
  -webkit-animation: loader 0.8s linear infinite alternate;
  animation: loader 0.8s linear infinite alternate;
}

.loader span:nth-child(1) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background: rgba(255, 255, 255, 0.6);
}

.loader span:nth-child(2) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background: rgba(255, 255, 255, 0.8);
}

.loader span:nth-child(3) {
  -webkit-animation-delay: -0.26666s;
  animation-delay: -0.26666s;
  background: white;
}

.loader span:nth-child(4) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background: rgba(255, 255, 255, 0.8);
}

.loader span:nth-child(5) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background: rgba(255, 255, 255, 0.4);
}

@keyframes loader {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes loader {
  from {
    -webkit-transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
  }
}
@media (min-width: 902px) {
  .loaderWrapper.login-loader .loader {
    transform: translate(-50%, -50%);
  }
}

/*# sourceMappingURL=loader.css.map */
