/*** all Mobile Screen (iphone 6,7,8) ***/
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
/* how to use this variabile*/
/* .forms{
   @include placeholder{
    opacity: 1;color: #a5aeb7;
  } */
/* @include transition (.2s ease-out all); */
/*    @include flexbox();
    @include justify-content (center);*/
/*    @include flexbox();
@include justify-content (center);*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  font: 16px/1.4 Arial, Helvetica, sans-serif;
}
input:hover, input:focus, input:active,
select:hover,
select:focus,
select:active,
textarea:hover,
textarea:focus,
textarea:active,
button:hover,
button:focus,
button:active {
  outline: 0;
}

body {
  font: 16px/1.4 Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #fff;
}

hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}
hr:before {
  display: table;
  content: "";
}
hr:after {
  display: table;
  clear: both;
  content: "";
}

.cf:before {
  display: table;
  content: "";
}
.cf:after {
  display: table;
  clear: both;
  content: "";
}

iframe[name=google_conversion_frame] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

figure {
  margin: 0;
  padding: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0 0 0.7em;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 30px;
}

h2, .h2 {
  font-size: 21px;
}

h3, .h3 {
  font-size: 16px;
}

h4, .h4 {
  font-size: 14px;
}

h5, .h5 {
  font-size: 12px;
}

h6, .h6 {
  font-size: 11px;
}

a {
  color: #4078c0;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  outline: 0;
}
a:focus {
  text-decoration: none;
}

a[href^=tel] {
  cursor: default;
}

p {
  margin: 0 0 0.7em;
}

small {
  font-size: 90%;
}

blockquote {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}

dd {
  margin-left: 0;
}

tt,
code {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  margin: 0.7em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 2px solid #ddd;
  font-weight: 600;
  padding: 0.7em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #ddd;
  padding: 0.7em 0;
}

tr,
td,
th {
  vertical-align: middle;
}

body {
  background: #F6F9FB;
}

.right-panel-section {
  position: relative;
  margin-left: 300px;
  width: calc(100% - 300px);
  flex-grow: 1;
}
@media (min-width: 902px) {
  .right-panel-section {
    margin-top: 85px;
  }
}
@media (max-width: 1450px) {
  .right-panel-section {
    margin-left: 275px;
    width: calc(100% - 275px);
  }
}
@media (max-width: 901px) {
  .right-panel-section {
    width: 100%;
    margin-left: 0;
    margin-top: 0 !important;
  }
}
@media (max-width: 991px) {
  .right-panel-section {
    margin-top: 80px;
  }
}
.right-panel-section.expandRightPanel {
  margin-left: 100px;
  width: calc(100% - 100px);
}
.right-panel-section .listingOutersec {
  padding: 20px 35px 0 45px;
  flex: 1 1 auto;
  height: 100%;
  background: #F8F9FB;
}
@media screen and (max-width: 1450px) {
  .right-panel-section .listingOutersec {
    padding: 10px 20px 0 0px;
  }
}
@media (max-width: 991px) {
  .right-panel-section .listingOutersec {
    padding: 10px 15px;
  }
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu {
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (max-width: 1450px) {
  .right-panel-section .listingOutersec .table-top-menu .outer-sec-menu {
    padding: 8px;
  }
}
@media (max-width: 767px) {
  .right-panel-section .listingOutersec .table-top-menu .outer-sec-menu {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .outer-sec-Head {
    width: 100%;
    margin-bottom: 15px;
  }
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .outer-sec-Head h3 {
  margin-bottom: 0px;
  font: 400 20px/24px "Inter", sans-serif;
}
@media (max-width: 1450px) {
  .right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .outer-sec-Head h3 {
    font: 400 18px/20px "Inter", sans-serif;
  }
}
@media (max-width: 991px) {
  .right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .outer-sec-Head h3 {
    font: 400 16px/20px "Inter", sans-serif;
  }
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list {
    width: 100%;
  }
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .rightMenu {
  display: flex;
}
@media (max-width: 767px) {
  .right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .rightMenu {
    width: 100%;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 575px) {
  .right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .rightMenu {
    justify-content: space-between;
    margin-bottom: 15px;
  }
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .search-box {
  max-width: 320px;
  position: relative;
  display: flex;
  border: 1px solid #DCE2E8;
  margin-right: 10px;
  border-radius: 8px;
  min-width: 310px;
  height: 40px;
  padding: 10px;
}
@media (max-width: 1450px) {
  .right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .search-box {
    min-width: 200px;
    height: 35px;
  }
}
@media screen and (max-width: 1199px) {
  .right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .search-box {
    margin-right: 15px;
    max-width: 150px;
  }
}
@media (max-width: 767px) {
  .right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .search-box {
    margin-bottom: 10px;
  }
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .search-box .search-input {
  width: 100%;
  padding: 0;
  border: none;
  border-radius: 0;
  border-right: none;
  outline: none;
  font-size: 14px;
  color: #ADBAC7;
  background: none;
  line-height: 20px;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .search-box .search-button {
  text-align: center;
  color: #00A464;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 0;
  border-left: none;
  background: none;
  font-size: 12px;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .FeaturedSec {
  align-items: center;
  display: flex;
  margin-right: 10px;
  border: 1px solid #DCE2E8;
  border-radius: 10px;
  padding: 0 20px;
  cursor: pointer;
}
@media screen and (max-width: 1199px) {
  .right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .FeaturedSec {
    margin-right: 15px;
  }
}
@media (max-width: 767px) {
  .right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .FeaturedSec {
    margin-bottom: 10px;
    display: none;
  }
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .FeaturedSec:hover {
  background-color: #00A464;
  color: #fff;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .FeaturedSec:hover span {
  color: #fff;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .FeaturedSec:hover span i {
  color: #fff;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .FeaturedSec:active {
  background-color: #00A464;
  color: #fff;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .FeaturedSec:active span {
  color: #fff;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .FeaturedSec:active span i {
  color: #fff;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .FeaturedSec span {
  font: 400 16px/20px "Inter", sans-serif;
}
@media (max-width: 1450px) {
  .right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .FeaturedSec span {
    font: 400 14px/18px "Inter", sans-serif;
  }
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .FeaturedSec span i {
  font-size: 12px;
  color: #191818;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .sortdropdown {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 10px;
  border: 1px solid #DCE2E8;
  border-radius: 10px;
  padding: 0 20px;
}
@media screen and (max-width: 1199px) {
  .right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .sortdropdown {
    margin-right: 15px;
  }
}
@media (max-width: 767px) {
  .right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .sortdropdown {
    margin-bottom: 10px;
  }
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .sortdropdown a.sortropdownBtn {
  color: #000000;
  margin-bottom: 0px;
  font: 400 16px/20px "Inter", sans-serif;
  text-decoration: none;
}
@media (max-width: 1450px) {
  .right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .sortdropdown a.sortropdownBtn {
    font: 400 14px/18px "Inter", sans-serif;
  }
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .sortdropdown a.sortropdownBtn i {
  font-size: 12px;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .sortdropdown ul.sortMenu {
  left: 0;
  right: 0;
  min-width: 180px;
  padding: 10px 0px;
  z-index: 9 !important;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .sortdropdown ul.sortMenu li {
  color: #000;
  padding: 7px 10px;
  text-decoration: none;
  font-size: 12px;
  border-bottom: 1px solid #eceeef;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .sortdropdown ul.sortMenu li:last-child {
  border-bottom: none;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .sortdropdown ul.sortMenu li:hover {
  color: #00A464;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .sortdropdown ul.sortMenu li:active {
  color: #00A464;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .sortdropdown ul.sortMenu li a {
  color: #000;
  padding: 7px 5px;
  text-decoration: none;
  font-size: 14px;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .sortdropdown ul.sortMenu li a:hover {
  color: #00A464;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .sortdropdown ul.sortMenu li a:active {
  color: #00A464;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .refrshBtn {
  margin-right: 10px;
  border: 1px solid #DCE2E8;
  border-radius: 10px;
  padding: 0 15px;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .refrshBtn:hover {
  background-color: #00A464;
  color: #fff;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .refrshBtn:hover div {
  color: #fff;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .refrshBtn:hover div i {
  color: #fff;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .refrshBtn:active {
  background-color: #00A464;
  color: #fff;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .refrshBtn:active div {
  color: #fff;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .refrshBtn:active div i {
  color: #fff;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .button-add {
  margin-right: 10px;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .button-add button {
  background: transparent;
  color: #00A464;
  border: none;
  border-radius: 5px;
  padding: 7px 12px;
  min-width: 160px;
  height: 40px;
  font: 400 14px/20px "Inter", sans-serif;
  border: 1px solid #ADBAC7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  border-radius: 8px;
  text-transform: uppercase;
}
@media screen and (max-width: 1450px) {
  .right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .button-add button {
    font: 400 12px/20px "Inter", sans-serif;
    height: 35px;
  }
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .button-add button:hover {
  background: transparent;
  color: #ADBAC7;
}
.right-panel-section .listingOutersec .table-top-menu .outer-sec-menu .right-list .button-add button i {
  color: #fff;
  padding-right: 0;
  background: #00A464;
  width: 25px;
  height: 25px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}
.right-panel-section .listingOutersec .listingInnersec {
  background-color: #fff;
  margin-bottom: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.right-panel-section .listingOutersec .tagTab {
  margin-bottom: 30px;
  border-bottom: 1px solid #c0ccd852;
}
@media screen and (max-width: 575px) {
  .right-panel-section .listingOutersec .tagTab .nav {
    flex-direction: column;
  }
}
.right-panel-section .listingOutersec .tagTab .nav li {
  margin-right: 15px;
}
@media screen and (max-width: 575px) {
  .right-panel-section .listingOutersec .tagTab .nav li {
    margin-right: 0;
  }
}
.right-panel-section .listingOutersec .tagTab .nav li a {
  text-decoration: none;
  padding: 10px 0px;
  color: #191818;
  margin-bottom: 0px;
  margin-right: 25px;
  background-color: transparent;
  font: 400 14px/38px "Inter", sans-serif;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .right-panel-section .listingOutersec .tagTab .nav li a {
    padding: 10px 15px;
    font: 400 14px/8px "Inter", sans-serif;
  }
}
@media screen and (max-width: 575px) {
  .right-panel-section .listingOutersec .tagTab .nav li a {
    display: block;
    padding: 20px;
    width: 100%;
  }
}
.right-panel-section .listingOutersec .tagTab .nav li a.active {
  border-bottom: 2px solid #00A464;
  color: #00A464;
  background-color: transparent;
  border-radius: unset;
}

.logo-expand {
  display: none;
}

.navmenuIcon-mob {
  display: block;
  position: absolute;
  right: 12px;
  top: 3px;
  cursor: pointer;
  color: #696666;
}
@media (min-width: 901px) {
  .navmenuIcon-mob {
    display: none;
  }
}
.navmenuIcon-mob i {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.close-nav {
  color: #696666;
}

.side-nav.expandnavbar .navList li .dropdown-menu .dropdown-item {
  padding-left: 29px;
}

.menu-icon .fas.fa-chevron-up {
  display: inline-block !important;
}
.menu-icon i.fas.fa-chevron-down {
  display: none !important;
}

.nav-drp i.fas.fa-chevron-down {
  font-size: 14px;
  margin-left: 7px;
}
.nav-drp .open-menu {
  display: flex !important;
  align-items: center;
}
.nav-drp .open-menu svg {
  flex: 0 0 auto;
}
.nav-drp .open-menu .menu {
  flex: 1 1 auto;
}
.nav-drp .open-menu .fas.fa-chevron-up {
  display: none;
}

.spinner-border-sm {
  margin-top: 2.5px;
}

.table-top-menu {
  /*padding: 0 0 10px;*/
}

h3.mainHead {
  font: 600 20px/30px "Inter", sans-serif;
  padding: 15px 0px 20px;
  color: #231F20;
  margin-bottom: 0;
}

.ft-footer span {
  text-align: center;
  padding: 10px 0px;
  background: #f8f9fb;
  border-top: 1px solid #e4e4e6;
  height: 40px;
  font: 400 15px/20px "Inter", sans-serif;
  color: #9f9f9f;
  display: block;
}
@media (max-width: 1679px) {
  .ft-footer span {
    font: 400 13px/20px "Inter", sans-serif;
  }
}

.error-msg {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.error-msg h2 {
  font: 400 40px/20px "Inter", sans-serif;
  margin-bottom: 0px;
}
@media (max-width: 767px) {
  .error-msg h2 {
    font: 400 27px/20px "Inter", sans-serif;
  }
}
.error-msg h3 {
  font: 600 30px/20px "Inter", sans-serif;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .error-msg h3 {
    font: 600 20px/20px "Inter", sans-serif;
    margin-bottom: 5px;
  }
}
.error-msg h4 {
  font: 500 15px/18px "Inter", sans-serif;
}
@media (max-width: 767px) {
  .error-msg h4 {
    font: 500 14px/18px "Inter", sans-serif;
  }
}
.error-msg .img-section {
  padding: 30px 0px 21px;
}
.error-msg .img-section img {
  height: 198px;
}
@media (max-width: 1679px) {
  .error-msg .img-section img {
    height: 160px;
  }
}
@media (max-width: 767px) {
  .error-msg .img-section img {
    height: 130px;
  }
}
@media (max-width: 500px) {
  .error-msg .img-section img {
    height: 100px;
  }
}

.switchToggle input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}

.switchToggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: 70px;
  max-width: 70px;
  height: 28px;
  background: #e5dddd;
  display: block;
  border-radius: 100px;
  position: relative;
}

.switchToggle label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 2px;
  width: 21px;
  height: 21px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.switchToggle input:checked + label, .switchToggle input:checked + input + label {
  background: #ed1e23;
}

.switchToggle input + label:before, .switchToggle input + input + label:before {
  content: "No";
  position: absolute;
  top: 5px;
  left: 35px;
  width: 21px;
  height: 21px;
  border-radius: 90px;
  transition: 0.3s;
  text-indent: 0;
  color: #fff;
  font-size: 14px;
}

.switchToggle input:checked + label:before, .switchToggle input:checked + input + label:before {
  content: "Yes";
  position: absolute;
  top: 5px;
  left: 10px;
  width: 21px;
  height: 21px;
  border-radius: 90px;
  transition: 0.3s;
  text-indent: 0;
  color: #fff;
  font-size: 14px;
}

.switchToggle input:checked + label:after, .switchToggle input:checked + input + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.switchToggle label:active:after {
  width: 60px;
}

.toggle-switchArea {
  margin: 10px 0 10px 0;
}

.side-nav.expandnavbar .navList li.active::before {
  display: none;
}

.fade:not(.show) {
  opacity: 1 !important;
}

.modal-backdrop.fade {
  background: #095D3C !important;
}

.tab-content {
  background: #fff;
  z-index: 1;
  position: relative;
  border-bottom: 1px solid #eef3f7;
}
.tab-content .table-responsive {
  overflow-x: auto;
}
@media screen and (max-width: 767px) {
  .tab-content .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
.tab-content .table-responsive table {
  margin: 0;
}
@media screen and (max-width: 767px) {
  .tab-content .table-responsive table {
    table-layout: auto;
  }
}
.tab-content .table-responsive table thead {
  background-color: #e3e7e8;
}
.tab-content .table-responsive table thead tr th {
  color: #8E9FAA;
  margin-bottom: 0px;
  font: 400 16px/24px "Inter", sans-serif;
  border-top: none;
  border-bottom: none;
  border-color: #eef3f7;
  padding: 18px 18px !important;
  vertical-align: middle;
  text-align: center;
}
@media screen and (max-width: 1450px) {
  .tab-content .table-responsive table thead tr th {
    font: 400 14px/20px "Inter", sans-serif !important;
    padding: 15px 10px !important;
  }
}
@media screen and (max-width: 767px) {
  .tab-content .table-responsive table thead tr th {
    white-space: nowrap;
    font: 400 14px/24px "Inter", sans-serif;
  }
}
.tab-content .table-responsive table thead tr th:first-child {
  text-align: left;
}
.tab-content .table-responsive table tbody tr td {
  color: #000000;
  margin-bottom: 0px;
  font: 400 14px/20px "Inter", sans-serif;
  border-color: #eef3f7;
  border-bottom: none;
  padding: 8px 20px;
  vertical-align: middle;
  text-align: center;
  min-height: 50px;
}
@media screen and (max-width: 1450px) {
  .tab-content .table-responsive table tbody tr td {
    font: 400 12px/18px "Inter", sans-serif !important;
    padding: 3px 10px !important;
  }
}
@media screen and (max-width: 767px) {
  .tab-content .table-responsive table tbody tr td {
    white-space: nowrap;
    font: 400 14px/24px "Inter", sans-serif;
  }
}
.tab-content .table-responsive table tbody tr td:first-child {
  border-left: none;
  text-align: left;
}
.tab-content .table-responsive table tbody tr td:last-child {
  border-right: none;
}
.tab-content .table-responsive table tbody tr td span.permissionLabel {
  display: inline-block;
  border: 1px solid #E5E9ED;
  /* background: red; */
  border-radius: 6px;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 3px;
  margin-top: 3px;
  color: #191818;
  min-height: 30px;
  font: 400 10px/18px "Inter", sans-serif;
}
.tab-content .table-responsive table tbody tr td span.permissionLabel.active {
  border: 1px solid #00A464;
  background: #00A464;
  color: #fff;
}
.tab-content .table-responsive table .editBtn {
  color: #8E9FAA;
  border: 1px solid #8E9FAA;
  font: 400 14px/17px "Inter", sans-serif;
  background: transparent;
  min-width: 70px;
  height: 30px;
  outline: none;
  box-shadow: none;
  border-radius: 6px;
  text-transform: uppercase;
  margin: 5px;
}
.tab-content .table-responsive table .editBtn:hover, .tab-content .table-responsive table .editBtn:active {
  color: #fff;
  border: 1px solid #00A464;
  background: #00A464;
}
@media screen and (max-width: 1450px) {
  .tab-content .table-responsive table .editBtn {
    font: 400 12px/15px "Inter", sans-serif;
    min-width: 65px;
  }
}
.tab-content .table-responsive table .editBtn:disabled {
  background: #ff4d4d;
  opacity: 1;
  color: #fff;
  border: 1px solid #ff4d4d;
}
.tab-content .table-responsive table .inactiveBtn {
  color: #8E9FAA;
  border: 1px solid #8E9FAA;
  font: 400 14px/17px "Inter", sans-serif;
  background: transparent;
  min-width: 70px;
  height: 30px;
  outline: none;
  box-shadow: none;
  border-radius: 6px;
  text-transform: uppercase;
  margin: 5px;
  margin-right: 20px !important;
}
.tab-content .table-responsive table .inactiveBtn:hover, .tab-content .table-responsive table .inactiveBtn:active {
  color: #fff;
  border: 1px solid #cccccc;
  background: #cccccc;
}
@media screen and (max-width: 1450px) {
  .tab-content .table-responsive table .inactiveBtn {
    font: 300 12px/15px "Inter", sans-serif;
    min-width: 65px;
  }
}
.tab-content .table-responsive table .activeBtn {
  color: #8E9FAA;
  border: 1px solid #8E9FAA;
  background-color: transparent;
  font: 400 14px/17px "Inter", sans-serif;
  min-width: 110px;
  height: 30px;
  outline: none;
  box-shadow: none;
  border-radius: 6px;
  text-transform: uppercase;
  margin: 5px;
  margin-right: 20px !important;
}
.tab-content .table-responsive table .activeBtn:hover, .tab-content .table-responsive table .activeBtn:active {
  color: #fff;
  border: 1px solid #00A464;
  background: #00A464;
}
@media screen and (max-width: 1450px) {
  .tab-content .table-responsive table .activeBtn {
    font: 300 12px/15px "Inter", sans-serif;
    min-width: 97px;
  }
}
.tab-content .table-responsive table .trending {
  border: 1px solid #8E9FAA;
  border-radius: 6px;
  padding: 3px 5px;
  margin-left: 10px;
}
.tab-content .table-responsive table .trending i {
  color: #000 !important;
}
.tab-content .table-responsive table .trending:hover i, .tab-content .table-responsive table .trending.active i {
  color: #00A464 !important;
}

.button-switch {
  position: relative;
  width: 195px;
  height: 20px;
}
.button-switch .lbl-off,
.button-switch .lbl-on {
  cursor: pointer;
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1em;
  position: absolute;
  top: 0.5em;
  transition: opacity 0.25s ease-out 0.1s;
  text-transform: uppercase;
}
.button-switch .lbl-off {
  right: 0.4375em;
}
.button-switch .lbl-on {
  color: #fff;
  opacity: 0;
  left: 0.4375em;
}
.button-switch .switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 0;
  font-size: 1em;
  line-height: 0;
  outline: none;
  position: absolute;
  top: 0;
  width: 0;
}
.button-switch .switch:before, .button-switch .switch:after {
  content: "";
  font-size: 1em;
  position: absolute;
  cursor: pointer;
}
.button-switch .switch:before {
  border-radius: 1.25em;
  background: #b2bec5;
  height: 22px;
  left: 5px;
  top: 6px;
  width: 38px;
  height: 10px;
}
.button-switch .switch:after {
  box-shadow: 0 0.0625em 0.375em 0 #666;
  border-radius: 50%;
  background: #22BCAC;
  transition: transform 0.25s ease-out 0.1s;
  width: 22px;
  height: 22px;
  transform: translate(0em, 0);
}
.button-switch .switch:checked:after {
  transform: translate(1.6em, 0);
  background: #00A464;
}
.button-switch .switch:checked ~ .lbl-off {
  opacity: 0;
}
.button-switch .switch:checked ~ .lbl-on {
  opacity: 1;
}
.button-switch .switch#switch-orange:checked:before {
  background: #b2bec5;
}
.button-switch .switch#switch-blue:checked:before {
  background: #b2bec5;
}

.modal {
  display: block;
  background: #095d3c91 !important;
}
@media (min-width: 1200px) {
  .modal .modal-dialog {
    max-width: 900px;
  }
}
@media (max-width: 1199px) {
  .modal .modal-dialog {
    max-width: 700px;
  }
}
.modal .modal-dialog .modal-content {
  padding: 20px 10px;
  border-radius: 10px;
  border: none;
}
@media (max-width: 1450px) {
  .modal .modal-dialog .modal-content {
    padding: 10px;
  }
}
.modal .modal-dialog .modal-content .modal-header {
  background: #F6F9FB;
  border-bottom: none;
}
@media (max-width: 1450px) {
  .modal .modal-dialog .modal-content .modal-header {
    padding: 10px;
  }
}
.modal .modal-dialog .modal-content .modal-header h5 {
  color: #00A464;
  font: 400 20px/30px "Inter", sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
}
@media (max-width: 1450px) {
  .modal .modal-dialog .modal-content .modal-header h5 {
    font: 400 16px/24px "Inter", sans-serif;
  }
}
.modal .modal-dialog .modal-content .modal-header .close {
  color: #00A464;
  opacity: 1;
}
.modal .modal-dialog .modal-content .modal-body {
  padding: 30px;
}
@media (max-width: 1450px) {
  .modal .modal-dialog .modal-content .modal-body {
    padding: 15px;
  }
}
.modal .modal-dialog .modal-content .modal-body .form-group label {
  font: 400 14px/22px "Inter", sans-serif;
  color: #00a464;
}
.modal .modal-dialog .modal-content .modal-body .form-group .form-control {
  height: 40px;
  border: 1px solid #e5e9ed;
  border-radius: 8px;
  color: #191818;
  font: 400 14px/22px "Inter", sans-serif;
}
.modal .modal-dialog .modal-content .modal-body .form-group .form-control:focus {
  box-shadow: none;
}
.modal .modal-dialog .modal-content .modal-body .form-group .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #191818;
  opacity: 1;
  /* Firefox */
  font-size: 13px;
}
.modal .modal-dialog .modal-content .modal-body .form-group .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #191818;
  font-size: 13px;
}
.modal .modal-dialog .modal-content .modal-body .form-group .form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #191818;
  font-size: 13px;
}
.modal .modal-dialog .modal-content .modal-body .form-group .selectWrapper {
  position: relative;
}
.modal .modal-dialog .modal-content .modal-body .form-group .selectWrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal .modal-dialog .modal-content .modal-body .form-group .selectWrapper::after {
  content: "";
  pointer-events: none;
  border-top: 8px solid #BFCBD7;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  border-radius: 0;
  top: 20px;
  right: 10px;
}
.modal .modal-dialog .modal-content .modal-footer {
  border: none;
  padding: 0 25px;
}
@media (max-width: 1450px) {
  .modal .modal-dialog .modal-content .modal-footer {
    padding: 0 10px;
  }
}
.modal .modal-dialog .modal-content .modal-footer button {
  font: 400 14px/24px "Inter", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background: #41de85;
  background: linear-gradient(90deg, #41de85 0%, #3bcca3 50%, #37c1b8 100%);
  min-width: 135px;
  height: 42px;
  border: none;
  border-radius: 8px;
}
@media (max-width: 1450px) {
  .modal .modal-dialog .modal-content .modal-footer button {
    min-width: 115px;
    font: 400 12px/22px "Inter", sans-serif;
    height: 38px;
  }
}
.modal .modal-dialog .modal-content .modal-footer button:disabled {
  opacity: 0.6;
}
.modal .modal-dialog .modal-content .modal-footer button:focus {
  box-shadow: none;
}
.modal .modal-dialog .modal-content .modal-footer .btn-outline {
  color: #191818;
  background: transparent;
  border: 1px solid #bfcbd7;
  margin-right: 10px;
}
.modal.modal-center {
  display: flex;
  align-items: center;
}
.modal.modal-center .modal-dialog {
  flex-grow: 1;
}

.SelectPermission {
  border: 1px solid #e5e9ed;
  border-radius: 8px;
  padding: 20px 30px;
}
.SelectPermission span.permissionLabel {
  display: inline-block;
  border: 1px solid #E5E9ED;
  /* background: red; */
  border-radius: 8px;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  min-height: 30px;
  color: #191818;
  font: 400 10px/18px "Inter", sans-serif;
}
.SelectPermission span.permissionLabel.active {
  border: 1px solid #00A464;
  background: #00A464;
  color: #fff;
}

.permissionInner .badge {
  display: inline-block;
  /* background: red; */
  border-radius: 6px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #fff;
  min-height: 30px;
  font: 400 12px/20px "Inter", sans-serif;
  cursor: pointer;
}

.paginationSec {
  padding: 12px 8px;
}
.paginationSec .pagination {
  justify-content: flex-end;
}
.paginationSec .pagination li:last-child a {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.paginationSec .pagination li:first-child a {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.paginationSec .pagination li a {
  font: 400 14px/18px "Inter", sans-serif;
  color: #ADBAC7 !important;
  padding: 8px 8px !important;
  text-decoration: none;
  border: 1px solid #ADBAC7 !important;
  min-height: 35px;
  min-width: 35px;
  text-align: center;
  margin-right: 0;
  height: 30px;
}
.paginationSec .pagination li a:hover {
  color: #00A464;
}
.paginationSec .pagination li a svg {
  width: 12px;
  height: 12px;
  fill: #ADBAC7;
}
.paginationSec .pagination li a:hover svg {
  fill: #00A464;
}
.paginationSec .pagination li a span {
  font-size: 22px;
  color: #ADBAC7;
  font-weight: 400;
}
.paginationSec .pagination li.active a {
  font: 400 14px/18px "Inter", sans-serif;
  color: #00A464 !important;
  background: none;
  border-color: #dee2e6;
  padding: 8px 8px;
}
.paginationSec .pagination li.active a:hover, .paginationSec .pagination li.active a:focus, .paginationSec .pagination li.active a:active {
  box-shadow: none;
}
.paginationSec .pagination li.rightArrow svg {
  transform: rotate(175deg);
}

.top-pagination {
  padding: 0;
}

.modal-backdrop.fade {
  background: none !important;
}

.modal-open .modal {
  display: flex !important;
  align-items: center;
}

.modal .modal-dialog {
  width: 100%;
}

@media (min-width: 992px) {
  .modal .modal-dialog .modal-content {
    min-width: 750px;
  }
}
.noData .noDataInner {
  text-align: center;
}
.noData .noDataInner h3 {
  font: 400 14px/25px "Inter", sans-serif;
  color: #00A464;
  text-transform: capitalize;
  display: inline-block;
  padding: 5px 20px;
  margin-bottom: 0;
  min-width: 300px;
  border-radius: 50px;
  margin: 5px 0;
}

.table-top-menu .button-add button:hover {
  background-color: #00a464 !important;
  color: #fff !important;
  border: 1px solid #00a464 !important;
}

.ErrMsg {
  color: #ff7272;
  font: 400 12px/18px "Inter", sans-serif;
}

.reQuired {
  color: #f12727;
}

.addProductBtn {
  padding: 30px 15px 30px;
  text-align: right;
}
@media (max-width: 1450px) {
  .addProductBtn {
    padding: 30px 10px 15px;
  }
}
@media (max-width: 991px) {
  .addProductBtn {
    padding: 0px 10px 10px;
  }
}
.addProductBtn button {
  font: 500 14px/20px "Inter", sans-serif;
  text-transform: uppercase;
  min-width: 130px;
  height: 45px;
  border: none;
  border-radius: 8px;
}
@media (max-width: 1450px) {
  .addProductBtn button {
    min-width: 110px;
    font: 400 12px/18px "Inter", sans-serif;
    height: 40px;
  }
}
@media (max-width: 575px) {
  .addProductBtn button {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
  }
}
.addProductBtn button:disabled {
  opacity: 0.6;
}
.addProductBtn button:focus {
  box-shadow: none;
}
.addProductBtn button:hover {
  opacity: 0.8;
}
.addProductBtn button.btn-primary {
  color: #fff;
  background: #41de85;
  border: 1px solid #41de85;
  background: linear-gradient(90deg, #41de85 0%, #3bcca3 50%, #37c1b8 100%);
}
.addProductBtn button.btn-outline {
  color: #191818;
  background: transparent;
  border: 1px solid #BFCBD7;
  margin-right: 10px;
}

.btn-preview {
  color: #fff;
  background: #41de85;
  border: 1px solid #41de85;
  background: linear-gradient(90deg, #41de85 0%, #3bcca3 50%, #37c1b8 100%);
  font: 500 14px/24px "Inter", sans-serif;
  text-transform: uppercase;
  min-width: 135px;
  height: 42px;
  border: none;
  border-radius: 8px;
}
@media (max-width: 1450px) {
  .btn-preview {
    font: 500 12px/22px "Inter", sans-serif;
    min-width: 115px;
    height: 38px;
  }
}
.btn-preview img {
  padding-right: 12px;
  max-width: 34px;
}

textarea, select {
  font: 400 14px/20px "Inter", sans-serif !important;
}
@media (max-width: 1450px) {
  textarea, select {
    font: 400 12px/18px "Inter", sans-serif !important;
  }
}

input {
  font: 400 14px/20px "Inter", sans-serif;
}
@media (max-width: 1450px) {
  input {
    font: 400 12px/18px "Inter", sans-serif;
  }
}

span.imgNotes {
  font: 400 12px/18px "Inter", sans-serif !important;
  color: #b7b7b7;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  top: 8px !important;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label {
  font-size: 12px !important;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input input {
  font-size: 14px !important;
  height: 32px !important;
}
@media (max-width: 1450px) {
  .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input input {
    height: 26px !important;
    font-size: 12px !important;
  }
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: -16px;
  left: 87px;
  margin-bottom: 5px;
  margin-left: -65px;
  padding: 7px;
  width: 250px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #00A464;
  background-color: #00a365;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 12px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 6px;
  left: 20px;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #00a365;
  border-top: 5px solid #00A464;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
  transform: rotate(90deg);
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

.placeholderTooltip {
  height: 17px;
  position: absolute;
  top: 9px;
  bottom: 0;
  right: -5px;
  z-index: 1;
  color: #50a464;
  -webkit-text-stroke-color: #fff;
  cursor: pointer;
}
.placeholderTooltip::before {
  bottom: 17px;
  left: -190px;
}
.placeholderTooltip::after {
  bottom: 17px;
  left: -20px;
  transform: none;
}
.placeholderTooltip i {
  color: #50a464 !important;
  -webkit-text-stroke-width: unset !important;
}

@media (max-width: 1679px) {
  .right-panel-section .navbarOtr .right-hed .imgNoti img {
    height: 21px;
  }

  .side-nav.expandnavbar .navList li .dropdown-menu .dropdown-item {
    padding-left: 16px;
  }

  .nav-drp i.fas.fa-chevron-down {
    font-size: 12px;
    margin-left: 8px;
  }

  .side-nav .navList li .dropdown-menu .dropdown-item {
    padding-left: 40px;
  }

  h3.mainHead {
    font: 600 17px/30px "inter", sans-serif;
  }

  .right-nav .navbarOtr .right-hed .imgNoti img {
    height: 23px;
  }

  .right-panel-section .navbarOtr .right-hed .profileImg .dropdown-menu {
    min-width: 130px;
    top: 45px;
  }

  .right-panel-section .navbarOtr .right-hed .profileImg .dropdown-item {
    font: 500 13px/20px "inter", sans-serif;
    padding: 3px 17px;
  }

  .right-panel-section .navbarOtr .right-hed .imgNoti span.notifyTxt {
    width: 14px;
    height: 14px;
    font: 400 11px/14px "inter", sans-serif;
  }

  .right-panel-section .navbarOtr .right-hed .profileImg .nav-link {
    font: 500 12px/18px "inter", sans-serif;
  }

  .right-panel-section .navbarOtr .right-hed .profileImg .profileImgSec {
    width: 35px;
    height: 35px;
  }

  .side-nav.expandnavbar {
    width: 60px !important;
  }

  .right-panel-section.expandnavbarr {
    margin-left: 60px !important;
  }

  .side-nav .navbar-brand {
    padding: 0px 0px 0px 25px;
    height: 54px;
  }

  .right-panel-section .navbarOtr .navmenuIcon i {
    font-size: 18px;
  }

  .side-nav .navbar-brand .navclose {
    top: 5px;
  }

  .right-nav .navbarOtr .navmenuIcon i {
    font-size: 20px;
  }

  .side-nav footer span {
    font: 400 12px/16px "inter", sans-serif;
  }

  .side-nav .navList {
    margin-top: 18px;
  }

  .right-panel-section .navbarOtr .navbar-expand-lg {
    padding: 5px 5px;
  }

  .right-panel-section .CollectionManagement .table-top-menu .outer-sec-menu .otr-listing .bread-crumb li .main-entity {
    margin-right: 5px;
    font: 500 13px/20px "inter", sans-serif;
  }

  .right-panel-section .CollectionManagement .table-top-menu .outer-sec-menu .right-list .search input {
    font: 400 13px/17px "inter", sans-serif;
    height: 31px;
  }
  .right-panel-section .CollectionManagement .table-top-menu .outer-sec-menu .right-list .search input i {
    font-size: 13px;
  }

  .right-panel-section .CollectionManagement .table-top-menu .outer-sec-menu .right-list .button-add button {
    padding: 5px 12px;
    font-size: 13px;
  }
}
@media (max-width: 1440px) {
  ul.navbar-nav.ml-auto.right-hed {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 1199px) {
  .navbarOtr .navbar-collapse {
    display: flex;
  }

  .navbar-nav .dropdown-menu {
    position: absolute !important;
  }
}
@media (max-width: 1000px) {
  .right-nav .navbarOtr .right-hed .profileImg .dropdown-menu {
    min-width: 147px;
    top: 54px;
    left: 9px;
  }

  .right-nav .navbarOtr .navbar-expand-lg {
    flex-wrap: nowrap;
  }
}
@media (max-width: 991px) {
  .right-nav .navbarOtr .right-hed .imgNoti {
    margin-right: 15px;
  }
}
@media (max-width: 900px) {
  .right-nav .navbarOtr .navbar-expand-lg .navbar-collapse {
    border-bottom: none !important;
  }

  .right-nav .navbarOtr .left-hed {
    display: none !important;
  }

  .right-panel-section .CollectionManagement {
    padding: 10px 15px !important;
  }

  .right-nav .navbarOtr {
    border-top-left-radius: 0;
  }

  .right-nav .navbarOtr .navbar-expand-lg {
    padding: 0 25px 0;
    border-bottom: 1px solid #e5e5e5;
  }

  .side-nav .navbar-brand .navclose {
    display: none !important;
  }

  .navmenuIcon.close-nav {
    display: none !important;
  }

  .right-panel-section .CollectionManagement .table-top-menu .outer-sec-menu {
    flex-wrap: wrap;
  }

  h3.mainHead {
    font: 600 15px/26px "inter", sans-serif;
  }

  .right-nav .navbarOtr .right-hed .profileImg .nav-link {
    font-size: 12px;
  }

  .right-nav .navbarOtr .right-hed .profileImg .dropdown-item {
    font: 500 12px/20px "inter", sans-serif;
  }

  .right-nav .navbarOtr .right-hed .profileImg .dropdown-menu {
    min-width: 132px;
    top: 44px;
  }

  .navmenuIcon-mob.close-nav {
    display: block;
    position: absolute;
    right: 12px;
    top: 3px;
    cursor: pointer;
  }
  .navmenuIcon-mob.close-nav i {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
  }

  .right-nav .navbarOtr .navmenuIcon i, .navmenuIcon-mob i {
    font-size: 18px;
  }

  .side-nav {
    border-top: 1px solid #fbfafa;
    box-shadow: 3px 4px 4px -2px #cccccc9c;
    padding: 16px 0px 0px 0px;
  }

  .side-nav footer {
    margin-top: auto;
    padding: 16px 15px 18px;
  }

  .right-nav {
    margin-left: 0px;
    width: 100%;
  }

  .logo-expand img {
    height: 50px;
  }

  .right-nav .logo-expand, .right-nav .navbarOtr .navmenuIcon {
    display: block;
  }

  .right-panel-section {
    margin-left: 0px !important;
  }

  .side-nav.nav-hover {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .side-nav .navList {
    margin-top: -14px;
  }
}
@media (max-width: 680px) {
  ul.navbar-nav.mr-auto.left-hed {
    display: none;
  }

  h3.mainHead {
    font: 600 16px/24px "inter", sans-serif !important;
    padding: 10px 0px !important;
  }

  .right-nav .navbarOtr .right-hed .profileImg .profileImgSec {
    width: 35px;
    height: 35px;
  }

  .right-nav .navbarOtr .right-hed .profileImg .nav-link {
    font: 500 12px/20px "inter", sans-serif;
  }

  .right-nav .navbarOtr .right-hed .imgNoti img {
    height: 20px;
  }

  .right-nav .navbarOtr .navbar-expand-lg .smallLogo img {
    max-height: 31px;
    margin-right: 48px;
    margin-left: -3px;
    margin-top: -2px;
  }
}
@media (max-width: 600px) {
  .right-panel-section .CollectionManagement .table-top-menu .outer-sec-menu .right-list .search {
    width: 100%;
    margin-right: 0;
    height: 28px;
  }

  .right-panel-section .CollectionManagement .table-top-menu .outer-sec-menu .right-list .search input {
    width: 95%;
  }

  h3.mainHead {
    padding: 6px 0 !important;
  }

  .right-list.d-flex {
    flex-wrap: wrap;
  }
  .right-list.d-flex .button-add {
    width: 100%;
    text-align: right;
    margin-top: 13px;
  }

  .categoryManagement .table-top-menu .outer-sec-menu,
.CollectionManagement .table-top-menu .outer-sec-menu,
.invitationsSec .table-top-menu .outer-sec-menu,
.roleManagementSec .table-top-menu .outer-sec-menu,
.StaffManagementSec .table-top-menu .outer-sec-menu,
.CollectionManagement .table-top-menu .outer-sec-menu,
.UserManagementSec .table-top-menu .outer-sec-menu {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .right-panel-section .CollectionManagement .table-top-menu .outer-sec-menu .right-list .search input {
    width: 90%;
  }
}

/*# sourceMappingURL=main.css.map */
