.modal-backdrop.fade {
  background: #095D3C !important;
}

.modal {
  display: block;
  background: #095d3c91 !important;
}
@media (min-width: 1200px) {
  .modal .modal-dialog {
    max-width: 900px;
  }
}
@media (max-width: 1199px) {
  .modal .modal-dialog {
    max-width: 700px;
  }
}
.modal .modal-dialog .modal-content {
  padding: 20px 10px;
  border-radius: 10px;
  border: none;
}
.modal .modal-dialog .modal-content .modal-header {
  background: #F6F9FB;
  border-bottom: none;
}
.modal .modal-dialog .modal-content .modal-header h5 {
  color: #00A464;
  font: 400 20px/30px "Inter", sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
}
.modal .modal-dialog .modal-content .modal-header .close {
  color: #00A464;
  opacity: 1;
}
.modal .modal-dialog .modal-content .modal-body {
  padding: 30px;
}
.modal .modal-dialog .modal-content .modal-body form .form-group label {
  font: 400 16px/24px "Inter", sans-serif;
  color: #BFCBD7;
}
.modal .modal-dialog .modal-content .modal-body form .form-group .form-control {
  height: 50px;
  border: 1px solid #e5e9ed;
  border-radius: 8px;
  color: #191818;
  font: 400 16px/24px "Inter", sans-serif;
}
.modal .modal-dialog .modal-content .modal-body form .form-group .form-control:focus {
  box-shadow: none;
}
.modal .modal-dialog .modal-content .modal-body form .form-group .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #191818;
  opacity: 1;
  /* Firefox */
}
.modal .modal-dialog .modal-content .modal-body form .form-group .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #191818;
}
.modal .modal-dialog .modal-content .modal-body form .form-group .form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #191818;
}
.modal .modal-dialog .modal-content .modal-body form .form-group .selectWrapper {
  position: relative;
}
.modal .modal-dialog .modal-content .modal-body form .form-group .selectWrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal .modal-dialog .modal-content .modal-body form .form-group .selectWrapper::after {
  content: "";
  pointer-events: none;
  border-top: 8px solid #BFCBD7;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  border-radius: 0;
  top: 20px;
  right: 10px;
}
.modal .modal-dialog .modal-content .modal-footer {
  border: none;
  padding: 0 25px;
}
.modal .modal-dialog .modal-content .modal-footer button {
  font: 400 16px/24px "Inter", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background: #41de85;
  background: linear-gradient(90deg, #41de85 0%, #3bcca3 50%, #37c1b8 100%);
  min-width: 200px;
  height: 60px;
  border: none;
  border-radius: 8px;
}
@media (max-width: 1450px) {
  .modal .modal-dialog .modal-content .modal-footer button {
    min-width: 150px;
    font: 400 15px/20px "Inter", sans-serif;
    height: 50px;
  }
}
.modal .modal-dialog .modal-content .modal-footer button:disabled {
  opacity: 0.6;
}
.modal .modal-dialog .modal-content .modal-footer button:focus {
  box-shadow: none;
}
.modal.modal-center {
  display: flex;
  align-items: center;
}
.modal.modal-center .modal-dialog {
  flex-grow: 1;
}

/*# sourceMappingURL=modal.css.map */
