.order-view {
  padding: 0px 35px 0 45px !important;
  flex: 1 1 auto;
  height: 100%;
  background: #F8F9FB;
}
@media screen and (max-width: 1450px) {
  .order-view {
    padding: 0px 20px 0 0px !important;
  }
}
@media (max-width: 991px) {
  .order-view {
    padding: 10px 15px;
  }
}
@media screen and (max-width: 575px) {
  .order-view .collectionInner .nav {
    flex-direction: column;
  }
}
.order-view .collectionInner .nav li {
  margin-right: 15px;
}
@media screen and (max-width: 575px) {
  .order-view .collectionInner .nav li {
    margin-right: 0;
  }
}
.order-view .collectionInner .nav li a {
  text-decoration: none;
  padding: 15px 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #00A464;
  margin-bottom: 0px;
  font: 400 16px/20px "Inter", sans-serif;
  background: #fff;
}
@media screen and (max-width: 767px) {
  .order-view .collectionInner .nav li a {
    padding: 10px 15px;
    font: 400 14px/8px "Inter", sans-serif;
  }
}
@media screen and (max-width: 575px) {
  .order-view .collectionInner .nav li a {
    display: block;
    padding: 20px;
    width: 100%;
  }
}
.order-view .collectionInner .nav li a.active {
  color: #191818;
  background: #EBF0F4;
}
.order-view .collectionInner .tab-content {
  background: #fff;
  border-radius: 15px;
  z-index: 1;
  position: relative;
}
.order-view .collectionInner .tab-content .table-responsive {
  overflow-x: auto;
}
@media screen and (max-width: 767px) {
  .order-view .collectionInner .tab-content .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
.order-view .collectionInner .tab-content .table-responsive .mailclr {
  color: #00A464;
  line-height: 22px;
}

/*# sourceMappingURL=order-view.css.map */
