.pagination {
  justify-content: flex-end;
}
.pagination li:last-child a {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.pagination li:first-child a {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.pagination li a {
  font: 400 14px/24px "Inter", sans-serif;
  color: #868b8f;
  padding: 6px 12px;
  text-decoration: none;
  border: 1px solid #ADBAC7 !important;
  min-height: 42px;
  min-width: 42px;
  text-align: center;
  margin-right: 0;
}
.pagination li a:hover {
  color: #00A464;
}
.pagination li a svg {
  width: 12px;
  height: 12px;
  fill: #ADBAC7;
}
.pagination li a:hover svg {
  fill: #00A464;
}
.pagination li a span {
  font-size: 26px;
  color: #ADBAC7;
  font-weight: 400;
}
.pagination li.active a {
  font: 400 15px/26px "Inter", sans-serif;
  color: #00A464;
  background: none;
  border-color: #dee2e6;
  padding: 6px 12px;
}
.pagination li.active a:hover, .pagination li.active a:focus, .pagination li.active a:active {
  box-shadow: none;
}
.pagination li.rightArrow svg {
  transform: rotate(175deg);
}

/*# sourceMappingURL=pagination.css.map */
