@media screen and (max-width: 575px) {
  .productList .collectionInner .nav {
    flex-direction: column;
  }
}
.productList .collectionInner .nav li {
  margin-right: 15px;
}
@media screen and (max-width: 575px) {
  .productList .collectionInner .nav li {
    margin-right: 0;
  }
}
.productList .collectionInner .nav li a {
  text-decoration: none;
  padding: 15px 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #00A464;
  margin-bottom: 0px;
  font: 400 16px/20px "Inter", sans-serif;
  background: #fff;
}
@media screen and (max-width: 767px) {
  .productList .collectionInner .nav li a {
    padding: 10px 15px;
    font: 400 13px/8px "Inter", sans-serif;
  }
}
@media screen and (max-width: 575px) {
  .productList .collectionInner .nav li a {
    display: block;
    padding: 20px;
    width: 100%;
  }
}
.productList .collectionInner .nav li a.active {
  color: #191818;
  background: #EBF0F4;
}
.productList .collectionInner .tab-content .table-responsive table tbody tr td .productImg {
  width: 40px;
  height: 40px;
  /* background: red; */
  display: inline-block;
  align-items: center;
  vertical-align: middle;
  /* display: flex; */
  align-items: center;
  border: 1px solid #bfcbd7;
  border-radius: 8px;
  padding: 0;
  overflow: hidden;
  object-fit: cover;
  margin-right: 10px;
}
@media (max-width: 1450px) {
  .productList .collectionInner .tab-content .table-responsive table tbody tr td .productImg {
    width: 35px;
    height: 35px;
  }
}
@media screen and (max-width: 991px) {
  .productList .collectionInner .tab-content .table-responsive table tbody tr td .productImg {
    width: 30px;
    height: 30px;
  }
}
.productList .collectionInner .tab-content .table-responsive table tbody tr td .productImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.productList .collectionInner .tab-content .table-responsive table span i {
  color: #BFCBD7;
}
.productList .collectionInner .tab-content .table-responsive table span.greenStar i {
  color: #00A464;
}

/*# sourceMappingURL=product-list.css.map */
