.promotionList {
  padding: 0px 35px 0 45px !important;
  flex: 1 1 auto;
  height: 100%;
  background: #F8F9FB;
}
@media screen and (max-width: 1450px) {
  .promotionList {
    padding: 0px 20px 0 0px !important;
  }
}
@media (max-width: 991px) {
  .promotionList {
    padding: 10px 15px;
  }
}
.promotionList .invitationInner .tab-content .table-responsive table td:last-child {
  vertical-align: baseline;
}

.button-switch {
  width: 65px;
}

.usgLmt {
  color: #00a364;
  font-size: 12px;
}

.FeaturedSec {
  align-items: center;
  display: flex;
  flex: auto;
  position: relative;
}
.FeaturedSec:hover {
  background-color: #fff !important;
}
.FeaturedSec:hover span i {
  color: unset !important;
}
.FeaturedSec a {
  text-decoration: none;
}
.FeaturedSec a span {
  font: 400 15px/20px "Inter", sans-serif;
  color: #858585;
}
.FeaturedSec a span i {
  font-size: 14px;
  color: #858585;
}

.sale-setup .form-group {
  position: relative;
}
.sale-setup .form-group i {
  width: 16px;
  height: 0px;
  position: absolute;
  top: 17px;
  bottom: 0px;
  margin: auto;
  right: 12px;
  z-index: 1;
  color: #bfcbd7;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  cursor: pointer;
}
.sale-setup .form-group img {
  width: 20px;
  position: absolute;
  top: 33px;
  bottom: 0px;
  margin: auto;
  right: 12px;
  z-index: 1;
  color: #bfcbd7;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  cursor: pointer;
}

.modal-footer .btn-outline {
  color: #191818 !important;
  background: transparent !important;
  border: 1px solid #bfcbd7 !important;
  margin-right: 10px !important;
}

.custom-radios {
  padding: 0 12px;
}
.custom-radios div {
  display: flex;
  justify-content: space-between;
}
.custom-radios input[type=radio] {
  display: none;
}
.custom-radios input[type=radio] + label {
  color: #333;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom-radios input[type=radio] + label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -1px 4px 0 30px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
}
.custom-radios input[type=radio] + label span img {
  opacity: 0;
  transition: all 0.3s ease;
  max-width: 14px;
}
.custom-radios input[type=radio].radiobtn + label span {
  background-color: #48a737;
}
.custom-radios input[type=radio]:checked + label span img {
  opacity: 1;
}

/*# sourceMappingURL=promotion-list.css.map */
