.promoShippingSec {
  padding: 20px 35px 0 45px;
  flex: 1 1 auto;
  height: 100%;
  background: #F8F9FB;
}
@media screen and (max-width: 1450px) {
  .promoShippingSec {
    padding: 10px 20px 0 0px;
  }
}
@media (max-width: 991px) {
  .promoShippingSec {
    padding: 10px 15px;
  }
}
.promoShippingSec .promoShippingInner h3 {
  font: 400 18px/24px "Inter", sans-serif;
  color: #191818;
}
@media (max-width: 1450px) {
  .promoShippingSec .promoShippingInner h3 {
    font: 400 16px/20px "Inter", sans-serif;
  }
}
.promoShippingSec .promoShippingInner .card {
  border: none;
}
.promoShippingSec .promoShippingInner .card.bg-none {
  background: none;
}
.promoShippingSec .promoShippingInner .card .inputWrap {
  background: #fff;
  padding: 15px;
}
.promoShippingSec .promoShippingInner .card .inputWrap input {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #BFCBD7;
  font: 400 16px/24px "Inter", sans-serif;
  color: #191818;
}
@media (max-width: 1450px) {
  .promoShippingSec .promoShippingInner .card .inputWrap input {
    height: 36px;
    font: 400 14px/20px "Inter", sans-serif;
  }
}
.promoShippingSec .promoShippingInner .card .inputWrap input:focus, .promoShippingSec .promoShippingInner .card .inputWrap input:hover, .promoShippingSec .promoShippingInner .card .inputWrap input:active {
  outline: none;
  box-shadow: none;
}
.promoShippingSec .promoShippingInner .card .inputWrap textarea {
  resize: none;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #BFCBD7;
  font: 400 16px/24px "Inter", sans-serif;
  color: #191818;
  min-height: 115px;
}
.promoShippingSec .promoShippingInner .card .inputWrap textarea:focus, .promoShippingSec .promoShippingInner .card .inputWrap textarea:hover, .promoShippingSec .promoShippingInner .card .inputWrap textarea:active {
  outline: none;
  box-shadow: none;
}
.promoShippingSec .promoShippingInner .card .form-group {
  margin-bottom: 15px;
}
.promoShippingSec .promoShippingInner .card .form-group label {
  font: 300 14px/20px "Inter", sans-serif;
  color: #00A464;
}
@media (max-width: 1450px) {
  .promoShippingSec .promoShippingInner .card .form-group label {
    font: 400 13px/18px "Inter", sans-serif;
  }
}
.promoShippingSec .promoShippingInner .card .form-group .clrblk {
  color: #000;
}
.promoShippingSec .promoShippingInner .card .form-group .customSelect {
  position: relative;
}
.promoShippingSec .promoShippingInner .card .form-group .customSelect::before {
  content: "";
  pointer-events: none;
  width: 13px;
  height: 10px;
  display: block;
  position: absolute;
  right: 15px;
  top: 0;
  margin: auto;
  bottom: 0;
  background-image: url(../../img/Polygon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.promoShippingSec .promoShippingInner .card .form-group .customSelect select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #BFCBD7;
  font: 400 16px/24px "Inter", sans-serif;
  color: #191818;
}
@media (max-width: 1450px) {
  .promoShippingSec .promoShippingInner .card .form-group .customSelect select {
    height: 36px;
    font: 400 14px/20px "Inter", sans-serif;
  }
}
.promoShippingSec .promoShippingInner .card .form-group .customSelect select:focus, .promoShippingSec .promoShippingInner .card .form-group .customSelect select:hover, .promoShippingSec .promoShippingInner .card .form-group .customSelect select:active {
  outline: none;
  box-shadow: none;
}
.promoShippingSec .promoShippingInner .card .form-group .control-group {
  position: relative;
}
.promoShippingSec .promoShippingInner .card .form-group .control-group i {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 12px;
  z-index: 1;
  color: #BFCBD7;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  cursor: pointer;
}
.promoShippingSec .promoShippingInner .card .form-group .checkBox {
  padding-top: 40px;
}
.promoShippingSec .promoShippingInner .card.textEditor .form-group {
  height: 100%;
}
.promoShippingSec .promoShippingInner .card.textEditor .form-group .inputWrap {
  height: 100%;
}

.checkBox {
  position: relative;
}
.checkBox .styled-checkbox {
  position: absolute;
  opacity: 0;
}
.checkBox .styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.checkBox .styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  border: 1px solid #00a464;
  border-radius: 5px;
}
.checkBox .styled-checkbox:hover + label:before {
  background: #00a464;
}
.checkBox .styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.checkBox .styled-checkbox:checked + label:before {
  background: #00a464;
}
.checkBox .styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.checkBox .styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.checkBox .styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 10px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.rounded {
  border-radius: 8px !important;
}

.button-switch {
  position: relative;
  width: 75px;
  height: 20px;
}
.button-switch .lbl-off,
.button-switch .lbl-on {
  cursor: pointer;
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1em;
  position: absolute;
  top: 0.5em;
  transition: opacity 0.25s ease-out 0.1s;
  text-transform: uppercase;
}
.button-switch .lbl-off {
  right: 0.4375em;
}
.button-switch .lbl-on {
  color: #fff;
  opacity: 0;
  left: 0.4375em;
}
.button-switch .switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 0;
  font-size: 1em;
  line-height: 0;
  outline: none;
  position: absolute;
  top: 0;
  width: 0;
}
.button-switch .switch:before, .button-switch .switch:after {
  content: "";
  font-size: 1em;
  position: absolute;
  cursor: pointer;
}
.button-switch .switch:before {
  border-radius: 1.25em;
  background: #b2bec5;
  height: 22px;
  left: 5px;
  top: 6px;
  width: 38px;
  height: 10px;
}
.button-switch .switch:after {
  box-shadow: 0 0.0625em 0.375em 0 #666;
  border-radius: 50%;
  background: #22BCAC;
  transition: transform 0.25s ease-out 0.1s;
  width: 22px;
  height: 22px;
  transform: translate(0em, 0);
}
.button-switch .switch:checked:after {
  transform: translate(1.6em, 0);
  background: #00A464;
}
.button-switch .switch:checked ~ .lbl-off {
  opacity: 0;
}
.button-switch .switch:checked ~ .lbl-on {
  opacity: 1;
}
.button-switch .switch#switch-orange:checked:before {
  background: #b2bec5;
}
.button-switch .switch#switch-blue:checked:before {
  background: #b2bec5;
}

.form-control {
  border-radius: 8px !important;
}

.ng-select .ng-select-container {
  max-height: 20px !important;
  border-radius: 8px !important;
}

.shwpercntg {
  display: flex;
  justify-content: center;
  background-color: #F1F7FB;
  margin-top: 27px;
  border-radius: 8px;
  padding: 10px;
  font-size: 12px;
}

/*# sourceMappingURL=promotion-shipping-discount.css.map */
