.rulesMngtsSec {
  padding: 20px 35px 0 45px;
  flex: 1 1 auto;
  height: 100%;
  background: #F8F9FB;
}
@media screen and (max-width: 1450px) {
  .rulesMngtsSec {
    padding: 5px 20px 0 30px;
  }
}
@media (max-width: 991px) {
  .rulesMngtsSec {
    padding: 10px 15px;
  }
}
.rulesMngtsSec .rulesMngtInner .shippingHead {
  display: flex;
  justify-content: flex-end;
}
.rulesMngtsSec .rulesMngtInner .shippingHead h3 {
  font: 400 18px/24px "Inter", sans-serif;
  color: #191818;
}
@media (max-width: 1450px) {
  .rulesMngtsSec .rulesMngtInner .shippingHead h3 {
    font: 400 16px/20px "Inter", sans-serif;
  }
}
.rulesMngtsSec .rulesMngtInner .card {
  border: none;
  background-color: transparent;
}
.rulesMngtsSec .rulesMngtInner .card.bg-none {
  background: none;
}
.rulesMngtsSec .rulesMngtInner .card .inputWrap input {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #BFCBD7;
  font: 400 16px/24px "Inter", sans-serif;
  color: #191818;
}
@media (max-width: 1450px) {
  .rulesMngtsSec .rulesMngtInner .card .inputWrap input {
    height: 36px;
    font: 400 14px/20px "Inter", sans-serif;
  }
}
.rulesMngtsSec .rulesMngtInner .card .inputWrap input:focus, .rulesMngtsSec .rulesMngtInner .card .inputWrap input:hover, .rulesMngtsSec .rulesMngtInner .card .inputWrap input:active {
  outline: none;
  box-shadow: none;
}
.rulesMngtsSec .rulesMngtInner .card .inputWrap textarea {
  resize: none;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #BFCBD7;
  font: 400 16px/24px "Inter", sans-serif;
  color: #191818;
  min-height: 130px;
}
.rulesMngtsSec .rulesMngtInner .card .inputWrap textarea:focus, .rulesMngtsSec .rulesMngtInner .card .inputWrap textarea:hover, .rulesMngtsSec .rulesMngtInner .card .inputWrap textarea:active {
  outline: none;
  box-shadow: none;
}
.rulesMngtsSec .rulesMngtInner .card .form-group {
  margin-bottom: 5px;
}
.rulesMngtsSec .rulesMngtInner .card .form-group label {
  font: 600 14px/20px "Inter", sans-serif;
  color: #00A464;
  padding-bottom: 10px;
}
@media (max-width: 1450px) {
  .rulesMngtsSec .rulesMngtInner .card .form-group label {
    font: 600 13px/18px "Inter", sans-serif;
  }
}
.rulesMngtsSec .rulesMngtInner .card .form-group .customSelect {
  position: relative;
}
.rulesMngtsSec .rulesMngtInner .card .form-group .customSelect::before {
  content: "";
  pointer-events: none;
  width: 13px;
  height: 10px;
  display: block;
  position: absolute;
  right: 15px;
  top: 0;
  margin: auto;
  bottom: 0;
  background-image: url(../../img/Polygon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.rulesMngtsSec .rulesMngtInner .card .form-group .customSelect select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #BFCBD7;
  font: 400 16px/24px "Inter", sans-serif;
  color: #191818;
  min-width: 120px;
}
@media (max-width: 1450px) {
  .rulesMngtsSec .rulesMngtInner .card .form-group .customSelect select {
    height: 36px;
    font: 400 14px/20px "Inter", sans-serif;
  }
}
.rulesMngtsSec .rulesMngtInner .card .form-group .customSelect select:focus, .rulesMngtsSec .rulesMngtInner .card .form-group .customSelect select:hover, .rulesMngtsSec .rulesMngtInner .card .form-group .customSelect select:active {
  outline: none;
  box-shadow: none;
}
.rulesMngtsSec .rulesMngtInner .card .form-group .control-group {
  position: relative;
  margin-bottom: 10px;
}
.rulesMngtsSec .rulesMngtInner .card .form-group .control-group i {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 12px;
  z-index: 1;
  color: #BFCBD7;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  cursor: pointer;
}
.rulesMngtsSec .rulesMngtInner .card .form-group .control-group img {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 12px;
  z-index: 1;
  color: #BFCBD7;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  cursor: pointer;
}
.rulesMngtsSec .rulesMngtInner .card .form-group .checkBox {
  padding-top: 40px;
}
.rulesMngtsSec .rulesMngtInner .card.textEditor .form-group {
  height: 100%;
}
.rulesMngtsSec .rulesMngtInner .card.textEditor .form-group .inputWrap {
  height: 100%;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper {
  margin-bottom: 30px;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper h4 {
  font: 600 15px/20px "Inter", sans-serif;
  margin-bottom: 20px;
}
@media (max-width: 1450px) {
  .rulesMngtsSec .rulesMngtInner .bigBoxwrapper h4 {
    font: 600 14px/19px "Inter", sans-serif;
  }
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .bigBoxInner {
  background-color: #fff;
  padding: 30px 30px 10px 30px;
  border-radius: 10px;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .bigBoxInner .bigBoxboxes {
  display: flex;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .bigBoxInner .bigBoxboxes .item.smallBox {
  width: 100%;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .bigBoxInner .bigBoxboxes .smallBox {
  background-color: #c0ccd82b;
  width: 25%;
  padding: 15px;
  border-radius: 10px;
  margin-right: 15px;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .bigBoxInner .bigBoxboxes .smallBox:last-child {
  margin-right: 0;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .bigBoxInner .bigBoxboxes .smallBox .boxTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .bigBoxInner .bigBoxboxes .smallBox .boxTitle h5 {
  font: 400 16px/18px "Inter", sans-serif;
  margin-bottom: 0;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .bigBoxInner .bigBoxboxes .smallBox .imgBox {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-top: 12px;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .bigBoxInner .bigBoxboxes .smallBox .imgBox img {
  height: 102px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  width: 50%;
  padding: 0 3px;
}
@media (max-width: 1440px) {
  .rulesMngtsSec .rulesMngtInner .bigBoxwrapper .bigBoxInner .bigBoxboxes .smallBox .imgBox img {
    height: 74px;
  }
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .bigBoxInner .bigBoxboxes .smallBox .boxList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .bigBoxInner .bigBoxboxes .smallBox .boxList ul {
  list-style: none;
  width: 100%;
  margin-right: 12px;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .bigBoxInner .bigBoxboxes .smallBox .boxList ul:last-child {
  margin-right: 0;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .bigBoxInner .bigBoxboxes .smallBox .boxList ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 400 13px/30px "Inter", sans-serif;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .bigBoxInner .owl-carousel.bigBoxboxes .owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  margin: 0;
  transition: all 0.3s ease-in-out;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.38) !important;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .bigBoxInner .owl-carousel.bigBoxboxes .owl-nav button:focus {
  outline: none;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .bigBoxInner .owl-carousel.bigBoxboxes .owl-nav .owl-prev {
  left: -20px;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .bigBoxInner .owl-carousel.bigBoxboxes .owl-nav .owl-prev span {
  background-image: url(../img/slider-left-ar.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
  font-size: 40px;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .bigBoxInner .owl-carousel.bigBoxboxes .owl-nav .owl-next {
  right: -20px;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .bigBoxInner .owl-carousel.bigBoxboxes .owl-nav .owl-next span {
  background-image: url(../img/slider-right-ar.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
  font-size: 40px;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .smallBoxInner .bigBoxboxes {
  background-color: #c0ccd82b;
  z-index: 9;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .smallBoxInner .bigBoxboxes .smallBoxboxes {
  background-color: transparent;
  padding: 10px;
  margin-right: 0;
  position: relative;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .smallBoxInner .bigBoxboxes .smallBoxboxes .imgBox {
  background-color: transparent;
  margin-top: 0;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .smallBoxInner .bigBoxboxes .smallBoxboxes .imgBox img {
  height: 175px;
  width: 100%;
  padding: 0;
  object-fit: cover;
  object-position: center;
}
.rulesMngtsSec .rulesMngtInner .bigBoxwrapper .smallBoxInner .bigBoxboxes .smallBoxboxes .boxTitle {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #f4f6f8;
  opacity: 62%;
  margin: 0px 20px 15px;
  color: #191818;
}
.bigBanner .upload-area {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 2px dashed rgba(51, 51, 51, 0.897);
  height: 200px;
  background-color: rgba(37, 36, 36, 0.233);
}
.bigBanner .loading-area {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 200px;
}
.bigBanner .upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100% !important;
  outline: none;
  opacity: 0;
  cursor: pointer;
}
.bigBanner .upload-text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.bigBanner .upload-text span {
  text-align: center;
  width: 100%;
}
.bigBanner .loading-img {
  display: flex;
  align-self: center;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin: auto;
}
.bigBanner .loaded-area {
  position: relative;
  background-color: rgba(179, 175, 175, 0.3);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  cursor: pointer;
  display: flex;
}
.bigBanner .loaded-img {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.bigBanner .loaded-area span {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  color: white;
  font-size: 14px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.bigBanner .loaded-area span h3 {
  font: 400 55px/79px "Inter", sans-serif;
  margin-bottom: 0;
}
.bigBanner .loaded-area span p {
  font: 400 12px/16px "Inter", sans-serif;
  margin-bottom: 15px;
}
.bigBanner .loaded-area span .btn-shopNow {
  color: #191818;
  font: 700 11px/15px "Inter", sans-serif;
  background-color: #fff;
  border: none;
  padding: 12px 35px;
}
.bigBanner .loaded-area:hover {
  background-color: #000;
}
.bigBanner .loaded-area:hover img {
  opacity: 0.2;
}
.bigBanner .loaded-area:hover span {
  opacity: 1;
}
.bigBanner .loaded-area .loaded-button {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  color: white;
  font-size: 14px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.bigBanner .loaded-area:hover .loaded-button {
  opacity: 1;
}

.bigBannerbox {
  background-color: transparent !important;
  flex: 0 0 33%;
  flex-wrap: wrap;
}
.bigBannerbox .bigBnr {
  width: 33% !important;
}
.bigBannerbox .bigBnr .imgBox img {
  height: 100% !important;
  border-radius: 10px;
}
.bigBannerbox .bigBnr .boxTitle {
  position: unset !important;
  background-color: transparent !important;
  opacity: 1 !important;
  justify-content: flex-start !important;
  margin: 0 !important;
}
.bigBannerbox .bigBnr .boxTitle h5 {
  padding-right: 50px;
}
.bigBannerbox .bigBnr .boxTitle span img {
  max-width: 18px;
}

.bigBox2 {
  background-color: transparent !important;
  flex: 0 0 50%;
  flex-wrap: wrap;
}
.bigBox2 .bigBx {
  width: 50% !important;
}
.bigBox2 .bigBx .imgBox img {
  height: 301px !important;
  border-radius: 10px;
  width: 100%;
}
.bigBox2 .bigBx .boxTitle {
  position: unset !important;
  background-color: transparent !important;
  opacity: 1 !important;
  justify-content: flex-start !important;
  margin: 0 !important;
}
.bigBox2 .bigBx .boxTitle h5 {
  padding-right: 50px;
}
.bigBox2 .bigBx .boxTitle span img {
  max-width: 18px;
}

#banner-carousel .owl-nav .owl-prev {
  left: 40px;
  background-color: transparent;
  background: transparent !important;
}
#banner-carousel .owl-nav .owl-prev span {
  background-image: url(../img/slider-left-wh.svg);
}
#banner-carousel .owl-nav .owl-next {
  right: 40px;
  background-color: transparent;
  background: transparent !important;
}
#banner-carousel .owl-nav .owl-next span {
  background-image: url(../img/slider-right-wh.svg);
}

/*# sourceMappingURL=rule-management.css.map */
