.side-nav.expandnavbar .navclose {
  display: none;
}
.side-nav.expandnavbar .logo-small {
  display: block;
}
.side-nav.expandnavbar .logo-small img {
  width: 30px;
  height: 30px;
}
.side-nav.expandnavbar .menu {
  display: none !important;
}
.side-nav.expandnavbar .logo-large {
  display: none !important;
}
.side-nav.expandnavbar footer {
  display: none !important;
}
.side-nav {
  padding: 20px 0px 0px 0px;
  position: fixed;
  background: #576067;
  z-index: 10;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 315px;
}
.side-nav .logo-small {
  display: none;
}
.side-nav .Toggle {
  display: none;
}
@media (min-width: 901px) {
  .side-nav .Toggle {
    display: block;
  }
}
.side-nav.expandSideNav {
  width: 100px;
}
.side-nav.expandSideNav .logoWrapper {
  padding-right: 0 !important;
}
.side-nav.expandSideNav .logo-large {
  display: none;
}
.side-nav.expandSideNav .logo-small {
  display: block;
}
.side-nav.expandSideNav .navList li.active::before {
  display: none;
}
.side-nav.expandSideNav .navList li a span.menu {
  display: none;
}
.side-nav.expandSideNav .navList li a:before {
  display: none;
}
.side-nav.expandSideNav .navList .list-unstyled {
  position: absolute;
  left: 100px;
  top: 0;
  padding: 0;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.2);
  min-width: 150px;
  padding: 10px;
}
.side-nav.expandSideNav .navList .list-unstyled li.active a::before {
  display: none;
}
@media (max-width: 1450px) {
  .side-nav {
    width: 250px;
  }
}
@media (max-width: 900px) {
  .side-nav {
    -webkit-transform: translate(-275px, 0);
    transform: translate(-275px, 0);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }
}
.side-nav .navbar-brand {
  display: block;
  position: relative;
  margin: 0;
  padding: 0px 0px 0px 30px;
  height: 65px;
}
@media (max-width: 1450px) {
  .side-nav .navbar-brand {
    padding: 0px 0px 0px 30px;
  }
}
.side-nav .navbar-brand .logoWrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}
.side-nav .navbar-brand .logoWrapper .Toggle {
  background: transparent;
  border: none;
  box-shadow: none;
  font-size: 22px;
  display: none;
}
@media (min-width: 901px) {
  .side-nav .navbar-brand .logoWrapper .Toggle {
    display: block;
  }
}
.side-nav .navbar-brand img {
  width: 155px;
}
@media (max-width: 1679px) {
  .side-nav .navbar-brand img {
    width: 150px;
  }
}
.side-nav .navbar-brand .navclose {
  position: absolute;
  right: 10px;
  top: 13px;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  color: #696666;
}
.side-nav .navbar-brand .navclose i {
  font-size: 23px;
}
@media (max-width: 1679px) {
  .side-nav .navbar-brand .navclose i {
    font-size: 20px;
  }
}
.side-nav .navList {
  flex: 1 1 auto;
  margin-top: 25px;
  min-height: 100%;
  padding-bottom: 60px;
}
.side-nav .navList::-webkit-scrollbar {
  width: 5px;
}
.side-nav .navList::-webkit-scrollbar-track {
  background: #f3f3f3;
}
.side-nav .navList::-webkit-scrollbar-thumb {
  background: #cdcdcd;
}
.side-nav .navList::-webkit-scrollbar-thumb:hover {
  background: #cdcdcd;
}
@media (max-width: 1450px) {
  .side-nav .navList {
    padding-right: 0px;
  }
}
@media (max-width: 991px) {
  .side-nav .navList {
    margin-top: 0;
  }
}
.side-nav .navList .storeName {
  background-color: #4c555b;
  padding: 7px 0px;
  margin-bottom: 25px;
}
.side-nav .navList li {
  margin-bottom: 9px;
  position: relative;
}
.side-nav .navList li .open-menu .nav-link {
  padding: 7px 10px 7px 30px;
  position: relative;
}
.side-nav .navList li .open-menu .nav-link i {
  width: 100%;
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
.side-nav .navList li ul.list-unstyled {
  padding-left: 50px;
  background: #4C555B;
  padding-top: 10px;
  padding-bottom: 10px;
}
.side-nav .navList li ul.list-unstyled li {
  margin-bottom: 0;
}
.side-nav .navList li ul.list-unstyled li a {
  color: #A1AFB8 !important;
  background: #4C555B;
  padding: 5px 10px;
}
.side-nav .navList li ul.list-unstyled li a:hover {
  color: #00A464 !important;
}
.side-nav .navList li ul.list-unstyled li a.active {
  color: #00A464 !important;
}
.side-nav .navList li ul.list-unstyled li.active {
  background: #4C555B;
}
.side-nav .navList li ul.list-unstyled li.active::before {
  display: none;
}
.side-nav .navList li.active {
  position: relative;
}
.side-nav .navList li.active a {
  position: relative;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  color: #00A464 !important;
}
.side-nav .navList li.active a:hover {
  color: #00A464 !important;
}
.side-nav .navList li.active a:hover span {
  color: #00A464;
}
.side-nav .navList li.active a:hover svg {
  fill: #00A464 !important;
}
.side-nav .navList li.active svg {
  fill: #00A464 !important;
}
.side-nav .navList li a:hover span {
  color: #00A464;
}
.side-nav .navList li a:hover svg {
  fill: #00A464 !important;
}
.side-nav .navList li .dropdown-toggle::after {
  content: none;
}
.side-nav .navList li .open-menu {
  display: block;
  width: 100%;
}
.side-nav .navList li .open-menu svg {
  height: 20px;
  width: 20px;
  fill: #A1AFB8;
  flex-shrink: 0;
}
@media (max-width: 1679px) {
  .side-nav .navList li .open-menu svg {
    height: 17px;
    width: 17px;
  }
}
.side-nav .navList li .open-menu .menu {
  padding-left: 11px;
  width: 100%;
}
.side-nav .navList li a {
  padding: 7px 10px 7px 30px;
  color: #A1AFB8;
  text-decoration: none;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 400 16px/21px "Inter", sans-serif;
}
@media (max-width: 1679px) {
  .side-nav .navList li a {
    font: 400 14px/20px "Inter", sans-serif;
  }
}
.side-nav .navList li span.sub-menu.open-sub-menu:last-child {
  border-bottom: 1px solid #eee;
  padding-bottom: 13px;
}
.side-nav .navList li .dropdown-menu {
  border: none !important;
  color: #7d7e9d !important;
  transform: none !important;
  position: static !important;
  padding: 0;
  min-width: auto !important;
  /* padding: 8px 20px; */
  background: #fff;
  width: 100%;
  border-radius: 0;
  margin-top: 11px;
}
.side-nav .navList li .dropdown-menu .dropdown-item {
  padding-left: 57px;
}
.side-nav .navList li .nav-drp.dropdown-toggle .open-menu:hover {
  color: #00A464 !important;
}
.side-nav .navList li .open-sub-menu {
  display: block;
}
.side-nav .navList li .open-sub-menu .open-menu {
  padding: 0px !important;
}
.side-nav .navList li .open-sub-menu a.dropdown-item.active {
  background: transparent;
  color: #00A464 !important;
}
.side-nav .navList li .open-sub-menu a.dropdown-item.active svg {
  fill: #00A464;
}
.side-nav .navList li .open-sub-menu a.dropdown-item:hover {
  color: #00A464 !important;
}
.side-nav .navList li .open-sub-menu a.dropdown-item i.fas.fa-circle {
  font-size: 6px;
  color: #00A464;
  margin-right: 7px;
}

/*# sourceMappingURL=side-nav.css.map */
