.wentWrongSec {
  background: #F6F9FB;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wentWrongSec .wentWronginner {
  width: 800px;
  height: 500px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
}
@media (max-width: 991px) {
  .wentWrongSec .wentWronginner {
    width: 650px;
    height: 450px;
  }
}
@media (max-width: 767px) {
  .wentWrongSec .wentWronginner {
    width: 100%;
  }
}
.wentWrongSec .wentWronginner img {
  max-width: 350px;
  margin-bottom: 50px;
}
@media (max-width: 991px) {
  .wentWrongSec .wentWronginner img {
    max-width: 300px;
  }
}
.wentWrongSec .wentWronginner h3 {
  font: 400 25px/30px "Inter", sans-serif;
  text-transform: uppercase;
  color: #00A464;
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  .wentWrongSec .wentWronginner h3 {
    font: 400 20px/25px "Inter", sans-serif;
    margin-bottom: 10px;
  }
}
.wentWrongSec .wentWronginner p {
  font: 400 15px/24px "Inter", sans-serif;
  text-transform: uppercase;
  color: #9E9E9E;
  margin-bottom: 0;
  text-align: center;
}
@media (max-width: 991px) {
  .wentWrongSec .wentWronginner p {
    font: 400 13px/18px "Inter", sans-serif;
  }
}

/*# sourceMappingURL=something-when-wrong.css.map */
