.StaffManagementSec {
  padding: 0px 35px 0 45px !important;
  flex: 1 1 auto;
  height: 100%;
  background: #F8F9FB;
}
@media screen and (max-width: 1450px) {
  .StaffManagementSec {
    padding: 0px 20px 0 0px !important;
  }
}
@media (max-width: 991px) {
  .StaffManagementSec {
    padding: 10px 15px;
  }
}
.StaffManagementSec .right-list {
  padding: 5px 0;
}
@media screen and (max-width: 575px) {
  .StaffManagementSec .invitationInner .nav {
    flex-direction: column;
  }
}
.StaffManagementSec .invitationInner .nav li {
  margin-right: 15px;
}
@media screen and (max-width: 575px) {
  .StaffManagementSec .invitationInner .nav li {
    margin-right: 0;
  }
}
.StaffManagementSec .invitationInner .nav li a {
  text-decoration: none;
  padding: 15px 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #00A464;
  margin-bottom: 0px;
  font: 400 16px/20px "Inter", sans-serif;
  background: #fff;
}
@media screen and (max-width: 767px) {
  .StaffManagementSec .invitationInner .nav li a {
    padding: 10px 15px;
    font: 400 13px/8px "Inter", sans-serif;
  }
}
@media screen and (max-width: 575px) {
  .StaffManagementSec .invitationInner .nav li a {
    display: block;
    padding: 20px;
    width: 100%;
  }
}
.StaffManagementSec .invitationInner .nav li a.active {
  color: #191818;
  background: #EBF0F4;
}
.StaffManagementSec .invitationInner .tab-content .table-responsive table tbody tr td.active {
  color: #00A464;
}
.StaffManagementSec .invitationInner .tab-content .table-responsive table tbody tr td.pending {
  color: #22BCAC;
}

.button-switch {
  width: 70px;
}

/*# sourceMappingURL=Staff-Management.css.map */
