.tab-content {
  background: #fff;
  border-radius: 15px;
  z-index: 1;
  position: relative;
  margin-top: 5px;
}
.tab-content .table-responsive {
  padding: 10px 10px 0;
  overflow-x: auto;
}
@media screen and (max-width: 767px) {
  .tab-content .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
.tab-content .table-responsive table {
  margin: 0;
}
@media screen and (max-width: 767px) {
  .tab-content .table-responsive table {
    table-layout: auto;
  }
}
.tab-content .table-responsive table thead {
  background: #F6F9FB;
}
.tab-content .table-responsive table thead tr th {
  color: #8E9FAA;
  margin-bottom: 0px;
  font: 400 16px/24px "Inter", sans-serif;
  border-top: none;
  border-bottom: none;
  border-color: #eef3f7;
  padding: 8px 20px;
  vertical-align: middle;
}
@media screen and (max-width: 1450px) {
  .tab-content .table-responsive table thead tr th {
    font: 400 14px/20px "Inter", sans-serif !important;
    padding: 8px 10px !important;
  }
}
@media screen and (max-width: 767px) {
  .tab-content .table-responsive table thead tr th {
    white-space: nowrap;
    font: 400 14px/24px "Inter", sans-serif;
  }
}
.tab-content .table-responsive table thead tr th:first-child {
  border-left: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.tab-content .table-responsive table thead tr th:last-child {
  border-right: none;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.tab-content .table-responsive table tbody tr td {
  color: #000000;
  margin-bottom: 0px;
  font: 400 16px/20px "Inter", sans-serif;
  border-color: #eef3f7;
  border-bottom: none;
  padding: 8px 20px;
  vertical-align: middle;
}
@media screen and (max-width: 1450px) {
  .tab-content .table-responsive table tbody tr td {
    font: 400 14px/20px "Inter", sans-serif !important;
    padding: 6px 10px !important;
  }
}
@media screen and (max-width: 767px) {
  .tab-content .table-responsive table tbody tr td {
    white-space: nowrap;
    font: 400 14px/24px "Inter", sans-serif;
  }
}
.tab-content .table-responsive table tbody tr td:first-child {
  border-left: none;
}
.tab-content .table-responsive table tbody tr td:last-child {
  border-right: none;
}
.tab-content .table-responsive table .editBtn {
  color: #8E9FAA;
  border: 1px solid #8E9FAA;
  font: 400 14px/20px "Inter", sans-serif;
  background: transparent;
  min-width: 80px;
  height: 33px;
  outline: none;
  box-shadow: none;
  border-radius: 8px;
  text-transform: uppercase;
}
.tab-content .table-responsive table .editBtn:hover, .tab-content .table-responsive table .editBtn:active {
  color: #fff;
  border: 1px solid #00A464;
  background: #00A464;
}
@media screen and (max-width: 1450px) {
  .tab-content .table-responsive table .editBtn {
    font: 300 13px/15px "Inter", sans-serif;
    height: 28px;
  }
}

/*# sourceMappingURL=tab-content.css.map */
