.UserManagementSec {
  padding: 20px 35px 0 45px;
  flex: 1 1 auto;
  height: 100%;
  background: #F8F9FB;
}
@media screen and (max-width: 1450px) {
  .UserManagementSec {
    padding: 10px 20px 0 30px;
  }
}
@media (max-width: 991px) {
  .UserManagementSec {
    padding: 10px 15px;
  }
}
.UserManagementSec .table-top-menu .outer-sec-menu {
  justify-content: space-between;
  align-items: center;
}
.UserManagementSec .table-top-menu .outer-sec-menu .outer-sec-Head h3 {
  margin-bottom: 0px;
  font: 400 20px/24px "Inter", sans-serif;
}
@media (max-width: 1450px) {
  .UserManagementSec .table-top-menu .outer-sec-menu .outer-sec-Head h3 {
    font: 400 18px/20px "Inter", sans-serif;
  }
}
@media (max-width: 991px) {
  .UserManagementSec .table-top-menu .outer-sec-menu .outer-sec-Head h3 {
    font: 400 16px/20px "Inter", sans-serif;
  }
}
.UserManagementSec .table-top-menu .outer-sec-menu .right-list .button-add button {
  background: transparent;
  color: #ADBAC7;
  border: none;
  border-radius: 5px;
  padding: 7px 17px;
  min-width: 150px;
  height: 40px;
  font: 400 14px/20px "Inter", sans-serif;
  border: 1px solid #ADBAC7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  border-radius: 8px;
  text-transform: uppercase;
}
.UserManagementSec .table-top-menu .outer-sec-menu .right-list .button-add button:hover {
  background: transparent;
  color: #ADBAC7;
}
.UserManagementSec .table-top-menu .outer-sec-menu .right-list .button-add button i {
  color: #22BCAC;
  padding-right: 0;
  background: #fff;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1450px) {
  .UserManagementSec .table-top-menu .outer-sec-menu .right-list .button-add button {
    font: 300 13px/15px "Inter", sans-serif;
  }
}
@media screen and (max-width: 575px) {
  .UserManagementSec .invitationInner .nav {
    flex-direction: column;
  }
}
.UserManagementSec .invitationInner .nav li {
  margin-right: 15px;
}
@media screen and (max-width: 575px) {
  .UserManagementSec .invitationInner .nav li {
    margin-right: 0;
  }
}
.UserManagementSec .invitationInner .nav li a {
  text-decoration: none;
  padding: 15px 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #00A464;
  margin-bottom: 0px;
  font: 400 16px/20px "Inter", sans-serif;
  background: #fff;
}
@media screen and (max-width: 767px) {
  .UserManagementSec .invitationInner .nav li a {
    padding: 10px 15px;
    font: 400 13px/8px "Inter", sans-serif;
  }
}
@media screen and (max-width: 575px) {
  .UserManagementSec .invitationInner .nav li a {
    display: block;
    padding: 20px;
    width: 100%;
  }
}
.UserManagementSec .invitationInner .nav li a.active {
  color: #191818;
  background: #EBF0F4;
}
.UserManagementSec .invitationInner .tab-content .table-responsive table .EditRoleBtn {
  color: #8E9FAA;
  border: 1px solid #8E9FAA;
  font: 400 14px/20px "Inter", sans-serif;
  background: transparent;
  min-width: 100px;
  height: 33px;
  outline: none;
  box-shadow: none;
  border-radius: 8px;
  text-transform: uppercase;
}
.UserManagementSec .invitationInner .tab-content .table-responsive table .EditRoleBtn:hover, .UserManagementSec .invitationInner .tab-content .table-responsive table .EditRoleBtn:active {
  color: #fff;
  border: 1px solid #00A464;
  background: #00A464;
}
@media screen and (max-width: 1450px) {
  .UserManagementSec .invitationInner .tab-content .table-responsive table .EditRoleBtn {
    font: 300 13px/15px "Inter", sans-serif;
    height: 28px;
  }
}

.button-switch {
  position: relative;
  width: 75px;
  height: 20px;
}
.button-switch .lbl-off,
.button-switch .lbl-on {
  cursor: pointer;
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1em;
  position: absolute;
  top: 0.5em;
  transition: opacity 0.25s ease-out 0.1s;
  text-transform: uppercase;
}
.button-switch .lbl-off {
  right: 0.4375em;
}
.button-switch .lbl-on {
  color: #fff;
  opacity: 0;
  left: 0.4375em;
}
.button-switch .switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 0;
  font-size: 1em;
  line-height: 0;
  outline: none;
  position: absolute;
  top: 0;
  width: 0;
}
.button-switch .switch:before, .button-switch .switch:after {
  content: "";
  font-size: 1em;
  position: absolute;
  cursor: pointer;
}
.button-switch .switch:before {
  border-radius: 1.25em;
  background: #b2bec5;
  height: 22px;
  left: 5px;
  top: 6px;
  width: 38px;
  height: 10px;
}
.button-switch .switch:after {
  box-shadow: 0 0.0625em 0.375em 0 #666;
  border-radius: 50%;
  background: #22BCAC;
  transition: transform 0.25s ease-out 0.1s;
  width: 22px;
  height: 22px;
  transform: translate(0em, 0);
}
.button-switch .switch:checked:after {
  transform: translate(1.6em, 0);
  background: #00A464;
}
.button-switch .switch:checked ~ .lbl-off {
  opacity: 0;
}
.button-switch .switch:checked ~ .lbl-on {
  opacity: 1;
}
.button-switch .switch#switch-orange:checked:before {
  background: #b2bec5;
}
.button-switch .switch#switch-blue:checked:before {
  background: #b2bec5;
}

/*# sourceMappingURL=User-Management%E2%80%931.css.map */
