/*$poppinslight: 'poppinslight';
$poppinsmedium: 'poppinsmedium';*/
/* placeholder mixin */
/* how to use this variabile*/
/* .forms{
   @include placeholder{
    opacity: 1;color: #a5aeb7;
  } */
/* @include transition (.2s ease-out all); */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  box-sizing: border-box; }

input,
select,
textarea,
button {
  font: 16px/1.4 "Poppins", sans-serif; }
  input:hover, input:focus, input:active,
  select:hover,
  select:focus,
  select:active,
  textarea:hover,
  textarea:focus,
  textarea:active,
  button:hover,
  button:focus,
  button:active {
    outline: 0; }

body {
  font: 16px/1.4 "Poppins", sans-serif;
  color: #333;
  background-color: #fff; }

hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd; }
  hr:before {
    display: table;
    content: ""; }
  hr:after {
    display: table;
    clear: both;
    content: ""; }

.browserupgrade {
  background: #f00;
  color: #fff;
  margin: 0;
  text-align: center;
  padding: 0.8em;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999; }
  .browserupgrade a {
    font-weight: bold;
    color: #ff0; }

.cf:before {
  display: table;
  content: ""; }
.cf:after {
  display: table;
  clear: both;
  content: ""; }

iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

figure {
  margin: 0;
  padding: 0; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0 0 0.7em;
  line-height: 1.2; }

h1, .h1 {
  font-size: 30px; }

h2, .h2 {
  font-size: 21px; }

h3, .h3 {
  font-size: 16px; }

h4, .h4 {
  font-size: 14px; }

h5, .h5 {
  font-size: 12px; }

h6, .h6 {
  font-size: 11px; }

a {
  color: #00a464;
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: 0; }
  a:focus {
    text-decoration: none; }

a[href^=tel] {
  cursor: default; }

p {
  margin: 0 0 0.7em; }

small {
  font-size: 90%; }

blockquote {
  margin: 0; }

ul,
ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0; }

ol ol,
ul ol {
  list-style-type: lower-roman; }

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha; }

dd {
  margin-left: 0; }

tt,
code {
  font-family: "Poppins", sans-serif;
  font-size: 12px; }

pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px "Poppins", sans-serif; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

label {
  font-size: 13px;
  font-weight: bold;
  outline: none; }
  label:focus {
    outline: none; }

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.form-control {
  height: 38px;
  padding: 7px 8px;
  font-size: 13px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right center;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  display: block;
  width: 100%;
  transition: all ease .1s; }
  .form-control.focus, .form-control:focus {
    border-color: #00a464;
    box-shadow: 0 0 5px rgba(81, 167, 232, 0.5); }

textarea {
  resize: none;
  height: auto; }

.form-group {
  margin-bottom: 15px; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.35em; }

input.input-contrast,
.input-contrast {
  background-color: #fafafa; }
  input.input-contrast:focus,
  .input-contrast:focus {
    background-color: #fff; }

::placeholder {
  color: #aaa; }

button:focus, button.focus, input[type="submit"]:focus, input[type="submit"].focus {
  outline: 0; }

.form-box input:-moz-placeholder {
  opacity: 1;
  /* Firefox 18- */
  color: #333 !important; }
.form-box input::-moz-placeholder {
  opacity: 1;
  /* Firefox 19+ */
  color: #333 !important; }
.form-box ::-webkit-input-placeholder {
  color: #333 !important;
  opacity: 1 !important;
  /* for chrome */ }
.form-box textarea:-moz-placeholder {
  opacity: 1;
  /* Firefox 18- */
  color: #333 !important; }
.form-box textarea::-moz-placeholder {
  opacity: 1;
  /* Firefox 19+ */
  color: #333 !important; }
.form-box ::-webkit-input-placeholder {
  opacity: 1 !important;
  /* for chrome */
  color: #333 !important; }

table {
  border-collapse: collapse;
  margin: 0.7em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 2px solid #ddd;
  font-weight: 600;
  padding: 0.7em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.7em 0; }

tr,
td,
th {
  vertical-align: middle; }

.btn {
  position: relative;
  display: inline-block;
  padding: 9px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border-radius: 3px;
  user-select: none;
  -webkit-appearance: none; }
  .btn:focus {
    text-decoration: none;
    border: 0;
    outline: none; }
  .btn:focus:hover {
    border-color: #51a7e8; }
  .btn:hover, .btn:active {
    text-decoration: none;
    background-color: #ddd;
    background-image: linear-gradient(#eee, #ddd);
    border-color: #ccc; }
  .btn:active {
    background-color: #dcdcdc;
    background-image: none;
    border-color: #b5b5b5;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15); }
  .btn:disabled, .btn:disabled:hover, .btn.disabled, .btn.disabled:hover {
    color: rgba(102, 102, 102, 0.5);
    cursor: default;
    background-color: rgba(229, 229, 229, 0.5);
    background-image: none;
    border-color: rgba(197, 197, 197, 0.5);
    box-shadow: none; }

.btn-primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  background: #00a464; }
  .btn-primary:hover {
    color: #fff;
    background: #008b54; }
  .btn-primary:active {
    background: #007145; }
  .btn-primary:disabled, .btn-primary:disabled:hover, .btn-primary.disabled, .btn-primary.disabled:hover {
    color: #fefefe;
    background: #add39f; }

.btn-outline {
  color: #00a464;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e5e5; }
  .btn-outline:focus {
    border: 1px solid #e5e5e5; }
  .btn-outline:hover, .btn-outline:active {
    color: #fff;
    background-color: #00a464;
    background-image: none;
    border-color: #00a464; }
  .btn-outline:disabled, .btn-outline:disabled:hover, .btn-outline.disabled, .btn-outline.disabled:hover {
    color: #767676;
    background-color: #fff;
    background-image: none;
    border-color: #e5e5e5; }

.btn-sm {
  padding: 2px 10px; }

.btn-block {
  display: block;
  width: 100%;
  text-align: center; }

.outer-wraper {
  width: 100%;
  height: 100%;
  position: relative; }

.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
  border: 0; }

/*common-styles*/
h2 {
  font-size: 46px;
  font-weight: 600; }

h3,
.h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 26px;
  color: #000;
  line-height: 32px; }

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px; }

.primary-btn-style {
  color: #fff;
  border-radius: 5px;
  background: #22bcb8;
  background: linear-gradient(90deg, #22bcb8 0%, #22bc54 100%);
  font-size: 16px;
  padding: 10px 38px;
  display: inline-block; }
  .primary-btn-style:hover {
    color: #fff;
    text-decoration: none;
    background: linear-gradient(90deg, #22bc54 0%, #22bcb8 100%);
    box-shadow: 0 0 5px #22bc5445; }

.primary-btn-style {
  border-radius: 5px;
  background: #22bcb8;
  background: linear-gradient(90deg, #22bcb8 0%, #22bc54 100%);
  display: inline-block;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 10; }

.primary-btn-style:hover {
  color: #fff !important;
  text-decoration: none; }

.primary-btn-style::before {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: linear-gradient(90deg, #22bcb8 0%, #22bc54 100%);
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6); }

.primary-btn-style::after {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #80ffd3;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6); }

.primary-btn-style:hover::before,
.primary-btn-style:hover::before {
  opacity: 1;
  width: 116%; }

.primary-btn-style:hover::after,
.primary-btn-style:hover::after {
  opacity: 1;
  width: 120%; }

.secondary-btn-style {
  color: #0c1f18;
  background: #fff !important;
  border-radius: 5px;
  background: #fff;
  font-size: 16px;
  padding: 10px 38px;
  display: inline-block;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 10; }

.secondary-btn-style:hover {
  color: #fff !important;
  text-decoration: none; }

.secondary-btn-style::before {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: linear-gradient(90deg, #22bcb8 0%, #22bc54 100%);
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6); }

.secondary-btn-style::after {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #80ffd3;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6); }

.secondary-btn-style:hover::before,
.secondary-btn-style:hover::before {
  opacity: 1;
  width: 116%; }

.secondary-btn-style:hover::after,
.secondary-btn-style:hover::after {
  opacity: 1;
  width: 120%; }

.sub-hd {
  position: relative; }
  .sub-hd:before {
    content: "";
    background: #22bc55;
    height: 5px;
    position: absolute;
    bottom: -25px;
    width: 125px; }

li {
  list-style: none; }

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 9px;
  border-radius: 55px; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 8px;
  bottom: 0;
  background-color: #989898;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  bottom: -3px;
  position: absolute;
  margin: auto;
  box-shadow: 0 0 5px #bebebe; }

input:checked + .slider:before {
  background-color: #00a464; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px); }

.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.ldr-otr {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 5;
  right: 0;
  top: 0; }
  .ldr-otr .ldr {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: auto;
    right: 0;
    left: 0;
    top: 250px;
    bottom: auto; }
@keyframes animation {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105; }
  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160; }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300; } }
  .ldr-otr #spinner {
    transform-origin: center;
    animation-name: animation;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier;
    animation-iteration-count: infinite; }

/*status css*/
.status-screen {
  text-align: center; }
  .status-screen.wht-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 450px; }

.status-screen p {
  font-size: 14px;
  margin: 5px 0 15px 0;
  color: #9d9d9d; }

.status-screen h4, .h4 {
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 26px;
  color: #000;
  line-height: 32px;
  text-align: center;
  margin: 15px 0 0 0 !important; }

.go-back {
  margin: 10px auto 0 auto;
  padding: 8px 20px;
  color: #00a464;
  display: inline-block;
  border-radius: 5px;
  font-size: 13px;
  display: inline-block;
  border: 1px solid #00a464;
  background: #fff;
  font-weight: 500; }
  .go-back:hover {
    color: #fff;
    text-decoration: none;
    background: #00a464; }

.wht-card {
  border-radius: 8px;
  background: #fff;
  margin: 15px 0;
  padding: 25px 25px 10px 25px;
  border: 1px solid #e2e2e2; }
  .wht-card h4,
  .wht-card .h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 14px;
    color: #242635;
    line-height: 32px;
    margin: 0 0 20px 0; }
  .wht-card label {
    font-size: 16px;
    font-weight: 500;
    outline: none;
    margin: 10px 0 0 0;
    color: #a6a6a6; }
  .wht-card .date {
    opacity: 0.5; }

.status {
  margin: 25px 0; }

.status-screen svg {
  width: 65px;
  display: block;
  margin: 0 auto 20px;
  background: #fff;
  border: 3px solid #eee;
  border-radius: 100%;
  padding: 4px; }

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0; }

.path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out; }

.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards; }

.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards; }

p {
  text-align: center;
  margin: 20px 0 60px;
  font-size: 1.25em; }

p.success {
  color: #00a464; }

p.error {
  color: #EE4A0C; }

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes dash {
  0% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100; }
  100% {
    stroke-dashoffset: 900; } }
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100; }
  100% {
    stroke-dashoffset: 900; } }
/*status-styles ends*/
/*common-styles ends*/
.btn-primary {
  border: 0;
  font-weight: 500; }

.modal-content {
  border: 0;
  border-radius: 0.3rem;
  border-radius: 1px;
  box-shadow: 0 0 55px #2321218a; }
  .modal-content .close {
    float: right;
    opacity: .5;
    font-weight: 500;
    font-size: 22px; }

textarea.form-control {
  height: auto;
  padding: 15px; }

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 25px 35px; }
  .modal-body label {
    font-size: 14px;
    font-weight: 600;
    outline: none; }

table {
  background: #fff; }
  table tr:nth-child(even) td {
    background: #f8f8f8; }
  table tr, table td, table th {
    vertical-align: middle;
    padding: 8px 20px;
    font-size: 12px;
    font-weight: 500; }
  table th {
    padding: 20px; }

td, th {
  border-bottom: 5px solid #eee;
  color: #605959; }

.btn-primary {
  border: 0;
  font-weight: 500;
  border-radius: 4px;
  padding: 8px 20px;
  display: inline-block;
  font-size: 10px; }
  .btn-primary:active, .btn-primary:focus {
    background: #00a464 !important;
    box-shadow: none !important; }

.btn-secondary {
  border: 0;
  font-weight: 500;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 10px;
  border: 1px solid #00a464;
  color: #00a464;
  background: #fff; }
  .btn-secondary:hover {
    background: #00a464;
    border: 1px solid #00a464; }

/* seller page starts */
.inner-cvr {
  background: #eee;
  float: left;
  width: 100%;
  height: 100%; }

.list-cover {
  padding: 35px;
  position: relative; }

/* main-hdg-cvr */
.main-hdg-cvr {
  padding: 0 0 5px 0;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #242635;
  border-bottom: 1px solid #DBDBDB; }
  .main-hdg-cvr span {
    font-weight: 500; }
  @media (max-width: 1480px) {
    .main-hdg-cvr {
      font-size: 14px; }
      .main-hdg-cvr i img {
        max-width: 15px; } }

/* main-hdg-cvr ends*/
.content-bar {
  margin-left: 320px;
  width: 100%;
  background-color: red; }
  @media (max-width: 1600px) {
    .content-bar {
      margin-left: 220px;
      padding: 0;
      background-color: red; } }
  @media (max-width: 840px) {
    .content-bar {
      margin-left: 0; } }
  .content-bar.expandContentBar {
    margin-left: 100px !important; }

/*# sourceMappingURL=atyle.css.map */
