/*$poppinslight: 'poppinslight';
$poppinsmedium: 'poppinsmedium';*/
/* login-page */
.otr-wraper {
  width: 100%;
  float: left;
  height: 100vh;
  position: relative;
}

.login-strip {
  background: #eeedeb;
  height: 100%;
  align-items: center;
}
.login-strip .container {
  max-width: 1030px;
}
.login-strip .form-control {
  height: 55px;
  padding: 7px 11px;
  border-radius: 5px;
}

.fld-cvr .form-group:first-child .form-control {
  border-radius: 5px 5px 0 0;
  border-bottom: 0;
}

.fld-cvr .form-group:last-child .form-control {
  border-radius: 0 0 5px 5px;
}

.login-cover {
  background: #fff;
  border: 1px solid #ccc;
  padding: 65px 65px 105px 65px;
  width: 100%;
  max-width: 1030px;
}
@media (max-width: 1600px) {
  .login-cover {
    max-width: 920px;
  }
}
@media (max-width: 980px) {
  .login-cover {
    max-width: 90%;
  }
}
.login-cover h3,
.login-cover .h3 {
  font-size: 32px;
  margin: 50px 0 25px 0;
}
.login-cover .primary-btn-style {
  width: 100%;
}
.login-cover .checkbox label {
  font-weight: 400;
  color: #4a4a4a;
  margin: 0;
}
@media (max-width: 840px) {
  .login-cover {
    padding: 40px;
  }
}
@media (max-width: 567px) {
  .login-cover .logo-cover {
    text-align: center;
  }
}
@media (max-width: 840px) {
  .login-cover .logo-cover img {
    max-width: 200px;
  }
}

.forgot-password a {
  color: #c8c8c8;
  font-size: 14px;
}
@media (max-width: 1024px) {
  .forgot-password a {
    font-size: 11px;
  }
}
@media (max-width: 567px) {
  .forgot-password a {
    float: left;
    font-size: 11px;
  }
}

.img-cvr {
  position: relative;
  height: 100%;
}
.img-cvr img {
  position: absolute;
  left: -60%;
  max-width: 540px;
  top: 0;
  bottom: 0;
  margin: auto;
}
@media (max-width: 1280px) {
  .img-cvr img {
    max-width: 130%;
    left: -28%;
  }
}
@media (max-width: 767px) {
  .img-cvr {
    display: none;
  }
}

.btn-wrapper {
  position: relative;
  max-height: 62px;
}
@media (max-width: 1450px) {
  .btn-wrapper {
    max-height: 50px;
  }
}

button.load-button {
  width: 100%;
  height: 62px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  background: #41de85;
  border: 2px solid #41de85;
  background: -moz-linear-gradient(left, #41de85 0%, #36bebd 100%);
  background: -webkit-linear-gradient(left, #41de85 0%, #36bebd 100%);
  background: linear-gradient(to right, #41de85 0%, #36bebd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#41de85", endColorstr="#36bebd",GradientType=1 );
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  box-shadow: none;
  border: none;
}
@media (max-width: 1450px) {
  button.load-button {
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    line-height: 20px;
  }
}
button.load-button:hover {
  opacity: 0.8;
  border: none;
}
button.load-button:disabled {
  opacity: 0.6;
  border: none;
}
button.load-button:active, button.load-button:hover, button.load-button:focus {
  outline: none;
  box-shadow: none;
  border: none;
  color: #fff;
  background: #41de85;
  border: 2px solid #41de85;
  background: -moz-linear-gradient(left, #41de85 0%, #36bebd 100%);
  background: -webkit-linear-gradient(left, #41de85 0%, #36bebd 100%);
  background: linear-gradient(to right, #41de85 0%, #36bebd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#41de85", endColorstr="#36bebd",GradientType=1 );
}

button.load-button span {
  transition: all 1s;
  opacity: 1;
}
button.load-button i {
  display: none;
  margin: 0 auto;
  transition: all 1s;
}
button.load-button i path, button.load-button i rect {
  fill: #fff;
}

button.loading-start span {
  display: none;
  opacity: 0;
}
button.loading-start i {
  display: block;
  opacity: 1;
}

/* login-page ends */

/*# sourceMappingURL=login.css.map */
