/*$poppinslight: 'poppinslight';
$poppinsmedium: 'poppinsmedium';*/
.wht-card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 3px 8px rgba(140, 139, 139, 0.1);
  margin: 15px 0;
  padding: 25px 25px 10px 25px;
  border: 1px solid #e2e2e2;
}
.wht-card h3,
.wht-card .h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 14px;
  color: #242635;
  line-height: 32px;
  margin: 0 0 20px 0;
}
.wht-card label {
  font-size: 16px;
  font-weight: 500;
  outline: none;
  margin: 10px 0 0 0;
  color: #a6a6a6;
}
.wht-card .date {
  opacity: 0.5;
}
@media (max-width: 1480px) {
  .wht-card h3,
.wht-card .h3 {
    font-size: 14px;
    line-height: 18px;
  }
  .wht-card label {
    font-size: 12px;
  }
  .wht-card .date img {
    max-width: 15px;
  }
}

.current-status {
  margin: 5px 0 0 0;
  width: 100%;
  align-items: center;
}
.current-status span, .current-status button, .current-status a {
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 5px;
  border: 0;
  color: #fff;
  margin: 0 5px 0 0;
}
.current-status span.approved, .current-status button.approved, .current-status a.approved {
  background: #00a464;
}
.current-status span.rejected, .current-status button.rejected, .current-status a.rejected {
  background: #EE4A0C;
}
@media (max-width: 1480px) {
  .current-status span, .current-status button, .current-status a {
    font-size: 10px;
    padding: 6px 8px;
  }
}
.current-status button:hover, .current-status a:hover {
  opacity: 0.8;
}
.current-status span.approved {
  background: #00a4640a;
  color: #00a464;
  border: 1px solid #00a464;
}
.current-status span.rejected {
  background: #ee4a0c05;
  color: #EE4A0C;
  border: 1px solid #EE4A0C;
}
.current-status span.pending {
  background: #ffc10700;
  color: #ffc107;
  border: 1px solid #ffc107;
}

.form-group {
  position: relative;
}

span.help-block {
  color: #ce646e;
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  text-align: right;
  float: right;
  left: 12px;
  bottom: 5px;
  z-index: 1;
}

/* seller page ends*/

/*# sourceMappingURL=store-request.css.map */
