// Brand colors
//––––––––––––––––––––––––––––––––––––––––––––––––––
$basic-green:       #00a464 !default;
$gray-light: #ddd    !default;
$gray:       #767676 !default;
$gray-dark:  #333    !default;
$negative-color: #EE4A0C;

$primary-color: #00a464;

// Line height
$base-line-height: 1.4;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Border
$base-border-color: $gray-light;
$base-border: 1px solid $base-border-color;


// Font stack
//––––––––––––––––––––––––––––––––––––––––––––––––––
$body-font: 'Poppins', sans-serif, !default;
$font-secondary: 'Roboto', sans-serif;   
/*$poppinslight: 'poppinslight';
$poppinsmedium: 'poppinsmedium';*/

//$poppinsbold: 'poppinsbold';
//$poppinssemibold: 'poppinssemibold';
//$poppinsthin: 'poppinsthin';
//$poppinsextralight: 'poppinsextralight';

// The base body size
//––––––––––––––––––––––––––––––––––––––––––––––––––
$body-font-size: 16px !default;


// Breakpoints
//––––––––––––––––––––––––––––––––––––––––––––––––––

$lg-320    	: "min-width: 320px";
$lg-480   	: "min-width: 480px";
$lg-768    	: "min-width: 768px";
$lg-992   	: "min-width: 992px";
$lg-1024   	: "min-width: 1024px";
$lg-1200 	: "min-width: 1200px";

$sm-479   	: "max-width: 479px";
$sm-576   	: "max-width: 576px";
$sm-767    	: "max-width: 767px";
$sm-991   	: "max-width: 991px";
$sm-1023   	: "max-width: 1023px";
$sm-1199 	: "max-width: 1199px";
$sm-1679 	: "max-width: 1679px";

// Colors
//––––––––––––––––––––––––––––––––––––––––––––––––––

$white: #fff;
$dashboard-gray: #eff2f5;


// Button
//––––––––––––––––––––––––––––––––––––––––––––––––––



